[2020-12-27 09:34] julien-c opened #5 "Only expose toplevel imports, not "nested" ones"
Python Packaging question: how do we achieve `from package_name import xxx` importing from the `__init__.py` and not from the nested files inside the package?

[2020-12-27 15:31] Narsil commented on #5
if `__init__.py`  has:

[code]

and hierarchy:
[code]

Then `from package_name import xxx` should work as is.

[2020-12-29 09:57] julien-c commented on #5
Sorry my question wasn't clear, see internal Slack discussion/question instead: https://huggingface.slack.com/archives/C014N4749J9/p1608808664326600

What you described is already the case (https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/__init__.py) and it works fine.

But IDEs for some reason auto-import from inside the package, whereas they import from the init.py i

[2020-12-31 08:53] julien-c opened #6 "Try wrapping git-lfs to improve its ergonomics for large files"
I personally find the built-in progress reporting from git-lfs pretty bad.

If others feel the same way, it might make sense to experiment with wrapping git-lfs with our own helper which we can customize to our use cases.

git-lfs exposes a `GIT_LFS_PROGRESS ` (described in https://github.com/git-lfs/git-lfs/blob/dce20b0d18213d720ff2897267e68960d296eb5e/docs/man/git-lfs-config.5.ronn) which writes

[2020-12-31 08:54] julien-c commented on #6
From the man page above:

[2020-12-31 08:54] julien-c commented on #6
Also cc'ing @lhoestq for datasets

[2021-01-11 11:00] julien-c commented on #5
The reason for solving this is that I don't want all third party libraries to import methods in a slightly different way, which will complicate maintenance/evolution.

[2021-01-18 13:23] vasudevgupta7 opened #9 "Add simple class to ease saving loading from HF hub"
Would like to have a class from which model class can be inherited to add support of Huggingface hub. It will look something like this :

[code]

I can make a PR for adding this simple feature if you approve it.

[2021-01-18 13:58] julien-c commented on #9
Sounds like a great feature!

Not sure about calling `.save_pretrained()` to `git push` though – might be confusing vs. saving to a local directory.

Maybe `.upload_to_hub()` or `.git_push()` or `.upload_pretrained()` if we wanted to maintain the symmetry with other methods?

Finally, not sure about implementing as a mixin vs. subclassing `nn.Module`. I think I like the mixin but I'd like to get m

[2021-01-19 08:09] patrickvonplaten commented on #9
I'm fine with adding a `.upload_to_hub()` method in `PreTrainedModel(....)` next to `save_pretrained(...)` and `from_pretrained(...)` - I don't think we really need a new Mixin class for that

[2021-01-19 08:14] julien-c commented on #9
@patrickvonplaten this is `huggingface_hub` not `transformers` so we do not have a `PreTrainedModel` here. (It is meant to be used from any library)

[2021-01-19 09:49] hbredin opened #10 "Support for private models?"
Looks like `hf_hub_url` and/or `cached_download` do not (yet ?) support authentication for private models.

What is the recommended way of downloading private models?

[2021-01-19 10:06] julien-c commented on #10
You can use the `use_auth_token` in `cached_download()` and set it to True to use your local huggingface token (or you can also pass the string directly)

`hf_hub_url` is the same as it's just a url which is the same for private models.

[2021-01-19 10:10] hbredin commented on #10
Thanks. Cross-reference from pyannote.audio repo and closing.

[2021-01-19 10:10] #10 closed

[2021-01-19 11:10] patrickvonplaten commented on #9
My bad! Then I think it's a good idea to have a `ModelHubMixin` class

[2021-01-19 11:58] vasudevgupta7 commented on #9
Okay. I will start PR then.

[2021-01-19 16:57] sgugger commented on #9
I agree with @julien-c and @patrickvonplaten on the fact it should be a mixin. Seems like a useful feature, so thanks for tackling this @vasudevgupta7 !

[2021-02-10 14:52] youssefavx opened #13 "Feature request: "Favorite" models and datasets"
Hey guys, huge fan of you and what you've done to make all our lives easier.

I think it would be really cool if the site https://huggingface.co/ had the option to favorite a model or dataset if you're a user.

[2021-02-10 15:04] youssefavx commented on #13
Also would be great if one could 'follow' an organization or user so that you're notified when they upload a model or theres some kind of news feed.

[2021-02-10 15:59] julien-c commented on #5
Closing this as we never really found out why some IDEs (vscode) insist on importing from nested subdirs

[2021-02-10 16:00] #5 closed

[2021-02-14 16:11] TParcollet opened #15 "cached_download, but with custom file name"
Hi there !

Thanks for building this very helpful interface. We are integrating hugging face to SpeechBrain to release all our pretrained speech models. However, we would like to be able to allow users to specify what will be the name of the file that they download. In practice cached_download stores the downloaded file with a very long and hashed filename. What is the best way to allow for a cust

[2021-02-15 15:48] julien-c commented on #15
The issue is that we are using this hash to find out if we already have the file or not.

Hard to say how to work around this without seeing your use case – maybe just mv the file after downloading it in that case?

[2021-02-15 15:57] TParcollet commented on #15
Well, doing a "mv" wouldn't be very clean in this case. The problem is that the model would be downloaded again and again every time the user restarts the script (or a slurm scheduler) even if already downloaded once. It's just not super "user friendly" but we can live with it.

[2021-02-15 16:13] julien-c commented on #15
What about a symlink? Otherwise feel free to open a PR if you have an idea!

[2021-02-15 16:14] TParcollet commented on #15
I feel I will just go with your hash-style file names. It will just not be super transparent for users, but that's ok I guess.

[2021-02-15 16:14] #15 closed

[2021-02-20 19:50] BastianZim opened #18 "Added to conda-forge"
Hi, this is more of an FYI than an issue but I just wanted to let the maintainers here know that I added huggingface_hub to conda-forge. Repo: https://github.com/conda-forge/huggingface_hub-feedstock
I think you're already pushing to your own Anaconda channel but let me know if you'd like to be maintainers there (or take over completely) as well. Otherwise, feel free to just close the issue.
Thank

[2021-02-22 08:40] julien-c commented on #18
Thanks for the note – pinging @LysandreJik as he's the author of our conda integration.

[2021-02-22 13:05] LysandreJik commented on #18
We'll continue maintaining the package on our own Anaconda channel, but happy to also be available on conda-forge! Let us know if you run into any issues maintaining it down the road and we'll look into it.

[2021-02-22 13:06] BastianZim commented on #18
Thank you, sounds good!

[2021-02-22 13:06] #18 closed

[2021-03-18 17:44] #9 closed

[2021-04-01 10:49] SwayamSodha commented on #13
Great!👍

[2021-04-09 11:14] FrancescoSaverioZuppichini opened #29 "ModelHubMixin 400 Client Error"
Hi guys,

I hope to find you well! So I am trying to add a `dummy` model to my models using the `ModelHubMixin` with the following snippet

[code]

I also checked that I am correctly logged in my account (I used `huggingface-cli login`).

Unfortunately, I got the following error

[code]

Any Idea?

Thank you very much

[2021-04-09 11:19] FrancescoSaverioZuppichini commented on #29
[SOLVED] I need to pass the `model_name` and not the `Username/model_name` to `.save_pretrained`.

[code]

[2021-04-09 11:19] #29 closed

[2021-04-13 13:12] muellerzr opened #31 "Feature Request: Be able to search the hub by substring and author"
Hi! Thank you so much for a wonderful API and Hub, I'm finding it super useful with the [AdaptNLP](https://github.com/novetta/adaptnlp) project! I do have one request though:

I wrote a wrapper API to make the search results a bit more easy to read and comprehend for users, such as seen below
![image](https://user-images.githubusercontent.com/7831895/114557818-aaed3380-9c2f-11eb-95b4-791ff2df6865.

[2021-04-19 23:01] julien-c commented on #31
This is indeed on our roadmap

[2021-04-19 23:10] muellerzr commented on #31
Fantastic! Glad to hear @julien-c. Is also adjusting how the results are presented/shown in Jupyter part of the roadmap as well? (Ex something like the `__repr__` I've shown here so it's not just a list of `instance of ModelInfo`)

I can also submit a pr for that *if* it's something wanted. What I have there is extremely simplistic

[2021-04-19 23:15] julien-c commented on #31
I'll defer to @LysandreJik for that part of your question

[2021-04-20 02:52] LysandreJik commented on #31
Indeed, better readability for `ModelInfo` would be great. We would gladly welcome a PR on which we could discuss the best way to handle the information held in it.

[2021-04-20 08:37] FrancescoSaverioZuppichini opened #33 "Add model card via the APIs"
Hi guys,

First of all, great work! The hub is amazing. I would like to ask if there is an easy way to automatically add a model_card to the uploaded model.

Thank you.

Cheers,

Francesco

[2021-04-20 08:42] julien-c commented on #33
Do you mean from Python?

You would just save a .md file from Python into your `local_dir`, and then the git-wrapping utilities in https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/repository.py to git push.

Would that fit your use case? cc @LysandreJik

[2021-04-20 13:37] FrancescoSaverioZuppichini commented on #33
You are amazing! Thank you very much!

[2021-04-20 13:37] #33 closed

[2021-05-05 08:46] nreimers opened #35 "[Issue]: Too long file-paths for Windows"
Hi,
I was running the following code:

[code]

The call to cached_download() freezes on my Windows machine.

The issue is in this line:
https://github.com/huggingface/huggingface_hub/blob/67198a0f2e2716e952b7cae0ef0cca6900bded39/src/huggingface_hub/file_download.py#L412

The lock_path was:
[code]

In total the path had 275 characters. However, on Windows only file-paths up to 255 characters are al

[2021-05-06 07:06] nreimers opened #36 "Feature request: Check if repo / file exists"
Hi,
not sure if these functions are already implement, but I was not able to find them. It would be nice to have the following two methods:

- a function that checks if a repository exists. I provide a name, it checks if huggingface.co/[model_name] exists. Returns True / False.
- a function that checks if a specific file in a repository exists. For sentence-transformers, I check if there is a sent

[2021-05-06 07:18] nreimers opened #37 "Feature request: snapshot_download - add library_name and library_version"
With cached_download() I can provide the library name & version, which is sent via http-agent.

For snapshot_download() I did not find such a function. For statistics reasons, it would be nice if you could also provide library_name and library_version. [And hopefully later get statistics which models are most frequently accessed from your library]

PS: Are the github issues the right place to prop

[2021-05-06 09:05] LysandreJik commented on #37
Thanks, @nreimers, the GitHub issues are definitely the right place to proposes your feature requests. You're right that `library_name` and `library_version` are currently missing on `snapshot_download` and that they should be added.

[2021-05-06 09:36] LysandreJik commented on #35
Hi, thanks for opening the issue and for the very detailed bug report!

This is an annoying error indeed. Have you never encountered it before with `transformers`? It's based on the same approach, so it should result in the same hang.

See here for example: https://github.com/huggingface/transformers/blob/f594090a936a06524d2df77c0eb65a42bf694d6b/src/transformers/file_utils.py#L1504

By adding a pr

[2021-05-06 11:09] nreimers commented on #35
Did not experience it with transformers. With transformers, I were just using the default cache folder which is short enough (shorter than 120 characters).

I used huggingface_hub to save to folder that is deeper in my document tree (i.e. to a subfolder from where I was running the Python script).

Note: On Linux this is less an issue, there the path can have 4k characters. On Windows sadly only 2

[2021-05-06 11:54] #37 closed

[2021-05-07 08:32] LysandreJik commented on #35
@nreimers opened #40 which should fix the issue. Please let me know if it helps.

[2021-05-07 12:39] nreimers commented on #35
Hi @LysandreJik

It is working for me. Without your changes, my script froze because the lock was not able to be acquired.

With your changes, the file is downloaded and I can open the file. My code (which I executed deep in the folder tree):
[code]

[2021-05-10 06:46] LysandreJik commented on #35
Great, merging! Thanks.

[2021-05-11 08:47] LysandreJik commented on #36
Hi @nreimers,

There is a method you might find useful, it's the `model_info` method on the `HfApi`:

[code]

It has access to all files on the repository, and handles revisions! You can specify the branch, tag or commit and it will work.

We do not have a method to check if a repo exists - but there is a method to list all models available on the hub:

[code]

You could filter those to check if t

[2021-05-11 18:17] julien-c commented on #36
yes, we return a 404 (cc @Pierrci)

[2021-05-20 13:05] julien-c commented on #31
Check out #41 which should fit at least part of your use case!

[2021-05-20 14:25] osanseviero opened #47 "Discussion: download and upload models have a somewhat inconsistent API"
Hi all. Just a small-ish thing to discuss.

Methods that get information about/from repos take the full model id (e.g. `hf_api.model_info("osanseviero/my-model")` or `snapshot_download("osanseviero/my-model)`).

On the other hand, `create_repo` takes as two separate arguments the model name and the organization (if any). I wonder if this could lead to confusions in the future, and, if so, we shoul

[2021-05-20 15:25] muellerzr commented on #31
Looks awesome! Thanks for the heads up @julien-c

[2021-05-20 15:28] julien-c commented on #31
we'll add a `search` param too soon

[2021-05-26 06:10] osanseviero opened #53 "Feature request: Change repo from private to public (or viceversa) programatically"
I think this use case might be common:

1. User A decided to use `huggingface_hub` to share their company models in their org.
2. User A decided to begin by creating private repos and see if everything works.
3. User A now wants to make their repos public. Unfortunately, they have over 50 repos and going through each of them might be painful.

[2021-05-26 06:20] osanseviero opened #54 "Feature Request: Have programatic way of adding metadata to a repo"
If a user creates dozens of repos programmatically, and then realized they forgot adding some tag or any other info for the metadata, they will have to either go through each of them manually, re-generate the README.md, or change the README.md content manually which can be error-prone.

[2021-05-26 08:32] julien-c commented on #54
I think the way to do this is to provide helper to update one model card locally (for instance via exposing only updating the metadata), then use the regular git-wrapping upload methods to push.

[2021-05-26 08:36] julien-c commented on #53
Not a prioritary feature IMO (we need to push the usage of private models and datasets first), but this should be already exposed from the hf.co API (so it would just be a matter of exposing the call here)

[2021-05-26 08:59] julien-c commented on #53
feel free to take a shot at this @osanseviero :)

[2021-05-27 09:13] julien-c opened #56 "Open source our Inference widgets"
cross-referencing issue on our internal repo: https://github.com/huggingface/moon-landing/issues/716

[2021-05-30 08:02] wietsedv commented on #56
Is this discussion being held internally? Of course I would like it to be open source with the intent of creating custom demos.

I also have a tangent question: This repo contains docker files for docker images for inference widget support of non-Transformers frameworks. Could the equivalent Transformers docker image be open sourced? Otherwise I would end up rewriting what already exists (even if

[2021-05-31 09:17] julien-c commented on #56
Discussion is open to external feedback – in fact it's appreciated. Upvote or comment this if you would like the widgets to be open sourced! FYI they're written in Svelte (https://svelte.dev) with Tailwind (https://tailwindcss.com/).

I would love to gauge the interest of the community to write new widgets in Svelte/Tailwind.

Re. the Inference API, yes we're not planning to release the images for

[2021-05-31 09:49] wietsedv commented on #56
Thanks! My exact intentions were to write my own open source widget with Svelte and Tailwind (or probably WindiCSS, which is lightweight Tailwind++). Let me know if there is any way I could contribute. I think that simple widgets are very useful for local testing (maybe in notebooks) and for simple self-hosted online demos. This is not currently possible for the HF widget (and Gradio is also not q

[2021-05-31 09:54] julien-c commented on #56
haha that's awesome! Great minds share the same stack =)

Re. WindiCSS, feel like its main advantage is JIT compilation which Tailwind now does too, no? cc @gary149

[2021-05-31 10:11] wietsedv commented on #56
There are some other minor differences. About JIT: Tailwind now does JIT too, but WindiCSS does it a bit better. See here some details by Antfu: https://github.com/windicss/windicss/discussions/176

But in any case: vite + svelte + windicss = ridiculously fast + stable + simple + independent of the whims of commerical companies

[2021-05-31 13:29] Narsil commented on #56
It could be done to some extent, however extracting the open from the private code might be a bit too much.
Overall the API mimics very closely the `pipelines`  part of transformers (some defaults are changed mostly) so we could have an open-source version. However since we wouldn't use that, I fear keeping it up-to date might be an issue.

[2021-06-01 13:12] julien-c opened #64 "TTS models response header is sent as application/json"
causing widgets to fail: https://hf.co/julien-c/kan-bayashi_csmsc_tacotron2

Evidenced by:

[code]

returns a
[code]

[2021-06-01 13:36] Narsil commented on #64
Old cache, issue was solved sometime ago (but modifying the code did not trigger cache flushing).

Purging in progress.

Are there other tts models ? (I checked https://huggingface.co/models?pipeline_tag=text-to-speech but could only find incomplete models or disabled ones)

[2021-06-01 16:29] julien-c commented on #64
yes, this one: https://huggingface.co/julien-c/ljspeech_tts_train_tacotron2_raw_phn_tacotron_g2p_en_no_space_train

only those two

[2021-06-01 17:41] Narsil commented on #64
Done for this one too.

[2021-06-01 17:43] julien-c commented on #64
Thank you! closing this

[2021-06-01 17:43] #64 closed

[2021-06-02 10:29] julien-c commented on #56
@wietsedv out of curiosity what kind of widget/task are you thinking of building? (cc @LysandreJik)

[2021-06-02 11:49] wietsedv commented on #56
Not really one thing. For completeness sake I will tell you everything I want to make/use regarding inference/widgets:

 - I want to make a general stand-alone self-hosted demo GUI for using/testing models that is targeted to users
   - The inference widgets on the model pages do not suffice, because everything surrounding the widget is targeted to researchers/developers instead of naive users who

[2021-06-02 11:56] #53 closed

[2021-06-03 09:10] Narsil commented on #56
@wietsedv

This is really doable, but requires removing `onig` from requirements as you mentionned. It will break some tokenizers, but most of them will work fine.The main issue, is the download time on the browser of the actual model (Anything > 50Mo is quite slow on most connections, but mileage may vary depending on your connection, but keep in mind, not everyone has fiber).

ONNX for productio

[2021-06-03 09:59] wietsedv commented on #56
@Narsil Yes, the download speed is the biggest flaw in the wasm idea. A workaround would be to provide a hosted API as a backup, but in a real-world scenario downloading the model and running it in a browser does not add any user value. There are two actual reasons I would like to do it:

- It is conceptually awesome that it is possible (and relatively easy)
- Embedding small models in apps for ru

[2021-06-03 12:21] Narsil commented on #56
Small advice on device, run the native counterpart to ONNX, it's more likely to have better performance (on iPhone for instance, there's a separate chip for ML, and I don't think you can access it with onnx afaik)

[2021-06-03 13:14] wietsedv commented on #56
Thanks, that's a good point. You would not have access to many native APIs with if you make a web-based app with Capacitor, but that problem is already solved by the [NativeScript Capacitor integration](https://capacitor.nativescript.org/). At least with iOS devices you would want to use Core ML. Not sure for Android though.

In case anyone is interested; yesterday I started a small side-project f

[2021-06-03 15:01] lewtun opened #70 "Exploratory Analysis of Models on Hub"
Using the `huggingface_hub` library, I was able to collect some statistics on the 9,984 models that are currently hosted on the Hub. The main goal of this exercise was to find answers to the following questions:

* How many model architectures can be mapped to tasks that we wish to evaluate? For example a model with the `BertForSequenceClassification` architecture is likely to be about text classi

[2021-06-03 15:41] lewtun commented on #70
thanks to a tip from @osanseviero and @julien-c, i can improve the analysis by making use of `ModelInfo.pipeline_tag` to infer the tasks. i'll update the analysis with this improved mapping

[2021-06-04 07:19] NielsRogge opened #74 "New object detection and image segmentation widgets"
For the [DETR](https://arxiv.org/abs/2005.12872) model, which will soon be part of HuggingFace Transformers, it would be cool to have object detection and image segmentation (actually panoptic segmentation) inference widgets.

Similar to the image classification widget, a user should be able to upload/drag an image to the widget, which is then annotated with bounding boxes and classes (in case of

[2021-06-04 09:28] julien-c commented on #74
really cool!

so i think the steps are:
- define and agree on an API shape (should be future proof to other potential models with the same task). I usually try to take inspiration from the existing hosted APIs (Google Vision, etc) that do those tasks
- implement those models in the Inference API, or here in `api-inference-community` (@Narsil and team can review a first draft)
- build a widget (<=

[2021-06-04 09:50] lewtun commented on #70
Using the `ModelInfo` approach suggested by @osanseviero and @julien-c makes the analysis much simpler :)

### Breakdown by task

First, the `pipeline_tag` already contains the task information and provides a more realistic grouping of the model architectures:

[code]

We can see there are two similar-looking tasks: `Semantic Similarity` and `sentence-similarity`. By looking at the corresponding m

[2021-06-04 10:06] osanseviero commented on #70
Thanks for the analysis!

re: Semantic similarity. The user [overrode](https://huggingface.co/Sahajtomar/french_semantic/blob/main/README.md) the pipeline tag in the METADATA some months ago. I agree that they should be `sentence-similarity`, which is a fairly recent task.

Some brainstorm ideas for further analysis:

re: If I understand correctly, we have 2394 repos without a pipeline tag and we

[2021-06-04 10:14] julien-c commented on #70
we currently assume (see code in `ModelInfo.ts`, it's fairly short to read) that models that have a `config.json` file and no library name in their `tags` is a `transformers` model.

Lots of model repos are empty (or WIPs) so I wouldn't aim to classify all models.

[2021-06-04 10:15] julien-c commented on #70
PS/ fixed the metadata for one model in https://huggingface.co/Sahajtomar/french_semantic/commit/2392beb954ae32dafa587e03f278a0158d1da7b5

[2021-06-04 10:20] julien-c commented on #70
and the other in https://huggingface.co/Sahajtomar/sts-GBERT-de/commit/935c5217fd8f03de0ccd9e6e3f34e21651573e84

- pytorch unneeded as it's inferred from the files
- task name can be in tags and will be inferred as the pipeline type
- Fixed the library name (can also be in tags)

[2021-06-04 10:21] julien-c commented on #70
Finally, cc'ing model author @Sahajtomar for visibility. Let us know if any issue 🙂

[2021-06-04 10:59] osanseviero commented on #70
Yes, I was suggesting that maybe we should make it more explicit and add the `transformers` tag to those. As we intend to expand our usage to more libraries, longer-term I think we should reduce the magic that happens in our side, and have `transformers` as an explicit tag. (related PR https://github.com/huggingface/moon-landing/pull/746)

[2021-06-04 11:01] julien-c commented on #70
Yes agreed, probably not short term but when we start adding more validation to the yaml block in models we can 1/ add this rule 2/ update all updateable models on the hub

[2021-06-04 11:14] NielsRogge commented on #74
Ok, I think it might make sense to divide the API into object detection, semantic segmentation, instance segmentation, and panoptic segmentation. [This blog post](https://kharshit.github.io/blog/2019/10/18/introduction-to-panoptic-segmentation-tutorial) explains the difference between semantic/instance/panoptic segmentation well.

The input/output of the various tasks is as follows:

* object dete

[2021-06-04 11:21] julien-c commented on #74
Agreed. Though we'll probably group all of those in a generic [image-segmentation](https://huggingface.co/models?pipeline_tag=image-segmentation) on the hub side for ease-of-use/accessibility

[2021-06-06 17:34] flozi00 opened #77 "[Feature request] linking docs"
While transformers are growing pretty fast and there are new models it would be cool if the docs are linked.
For example I saw Luke on the hub and had absolutely no idea how to use, until I found it in transformers docs

[2021-06-06 17:40] flozi00 opened #78 "[feature request / discussion] monetisation of models"
What do you think about paying some % to developer / owners of models if it's getting used through inference API ?
It could make it more attractive uploading more amazing models if it's possible to generate some passive income.
It would be like rapid API for NLP 🤗

[2021-06-07 06:38] Narsil commented on #78
It's a very interesting idea, that has been discussed internally before. Thanks for reopening the discussion.

The (legal) work needed would be non trivial, so if huggingface could get a sense of the number of model developpers interested that would be great.

[2021-06-07 14:37] ulf1 opened #79 "Python versions with `rc...` suffix are not recognized"
Error Message

[code]

My Python version: `3.8.3rc1`

[2021-06-07 15:44] julien-c commented on #79
I think this might be fixed by a variation of #27

Anyone wants to tackle this?

[2021-06-07 19:32] ulf1 commented on #79
https://github.com/huggingface/huggingface_hub/pull/82

[2021-06-08 15:40] Matthieu-Tinycoaching opened #85 "Run production grade private models"
Hello,

Following discussion with @Narsil, he told me that actually model hub is not meant to be able to load private models (as of now), since the api-inference-community was originally intended to promote community libraries that use the hub.

However, in the scope of running production grade private models would it be possible to internally discuss this possibility within model hub?

Thanks!

[2021-06-08 16:33] julien-c commented on #85
For clarity, the ability to load private models exists for any model in the `transformers` library.

Here, which library does your model run in?

[2021-06-08 18:14] Matthieu-Tinycoaching commented on #85
@julien-c thanks for clarification.

To more precise in the exchanges I had by mail with @Narsil and @jeffboudier, the problem would be more to use the hugging face API inference from a private model on model hub.

My wish is to use hugging face API inference on this sentence transformer model: https://huggingface.co/sentence-transformers/stsb-xlm-r-multilingual

However, output of this model has

[2021-06-08 19:44] jeffboudier commented on #85
Hey Matthieu, thanks for reaching out!

One of the key benefits of the 🤗 Accelerated Inference API is that you can serve any compatible model from the Model Hub, wether shared publicly, or uploaded privately to your Hugging Face account.

The subtlety here is that the model you are using is a model from the library `sentence-transformers` which is integrated with the Model Hub, and with the Infere

[2021-06-08 19:58] osanseviero commented on #85
Hi @Matthieu-Tinycoaching.

I'm not sure if there's a problem. I just tried this and I got the sentence embedding:

[code]

From your email, you got `## {'error': 'Model Matthieu/stsb-xlm-r-multilingual-custom is currently loading', 'estimated_time': 44.490336920000004}`. Running the line above again should make you get the response after waiting some seconds.

Note that you can also use the `feat

[2021-06-08 20:59] Matthieu-Tinycoaching commented on #85
Hi @osanseviero thanks for your feedback. Indeed the widget works! It seemed to be just a question of time to be available.

@jeffboudier @Narsil since API seems to work, do you need to do in addition anything on your side to have access to CPU+GPU accelerated inference API based on this custom model?

Best,
Matthieu

[2021-06-08 21:14] jeffboudier commented on #85
Hi Matthieu,

To get access to accelerated CPU and/or GPU, you just need to start a Lab
(CPU) or Startup (CPU+GPU) trial. To specify GPU make sure to add the `-
use_gpu` parameter, False by default:
https://api-inference.huggingface.co/docs/python/html/detailed_parameters.html

To help future users with similar questions do you mind commenting on the
GitHub issue and closing it?

Cheers,
Jeff

On

[2021-06-09 07:47] Narsil commented on #85
Hi, it's mostly linked to the fact that models from `api-inference-community` does **not** use an `auth_token` mostly.

`.from_pretrained(..., use_auth_token=XXXXX)`.

Because it is not enforced by this repository, the docker will not be able to see any private models, and will fail at load time (the load mechanism will work).

The reason for this issue, is to raise awarenesss, and gather a consen

[2021-06-09 10:05] julien-c commented on #56
Returning to the original subject of this issue, this is being worked on in #87

[2021-06-09 11:42] Matthieu-Tinycoaching opened #88 "[Startup Plan]: Failed to launch GPU inference"
Hi community,

I have subscribed a 7-day free trial of the Startup Plan and I wish to test GPU inference API on this model: https://huggingface.co/Matthieu/stsb-xlm-r-multilingual-custom

However, when using the below code:
[code]
I got the following error: `{'error': 'Model Matthieu/stsb-xlm-r-multilingual-custom is currently loading', 'estimated_time': 44.490336920000004}`

Do I have to wait som

[2021-06-09 11:47] Matthieu-Tinycoaching opened #89 "[Startup Plan] Don't manage to get CPU optimized inference API"
Hi community,

I have subscribed a 7-day free trial of the Startup Plan and I wish to test CPU optimized inference API on this model: https://huggingface.co/Matthieu/stsb-xlm-r-multilingual-custom

However, when using the below code:
[code]
I got the sentence embeddings but x-compute-type header of my request return `cpu` and not `cpu+optimized`. Do I have to ask something to have CPU optimized in

[2021-06-09 12:17] osanseviero opened #90 "[Feature request] Scikit learn integration"
As an initial step, a simple integration in the Inference API would be similar to what is done in [this repo](https://huggingface.co/julien-c/wine-quality).

[code]

We could do something similar to the [Table QA widget](https://huggingface.co/google/tapas-base-finetuned-wtq) and add a `structured-data-classification` task.

Unless there's a bigger plan at the moment, this could be a simple enough

[2021-06-09 13:03] Matthieu-Tinycoaching opened #91 "push was rejected because it contains files larger than 10M"
Hello,

I would like to push a custom model on model hub based on the original one: https://huggingface.co/sentence-transformers/paraphrase-multilingual-mpnet-base-v2

When applying `git push`, I got the following error message:
[code]

It seems that it is caused by the `unigram.json` file which has size > 10M, but don't know how to deal with this problem. I already load on model hub previous sent

[2021-06-09 13:37] osanseviero commented on #91
Hello!

As stated in the error message, you should use git-lfs for files larger than 10M.

These two resources should be helpful:
* https://huggingface.co/welcome
* https://git-lfs.github.com/ (specifically, something like `git lfs track "unigram.json"`)

We're also working on a git-lfs guide to help users with this. Let us know if you have any other questions.

Thanks,
Omar

[2021-06-09 14:10] Matthieu-Tinycoaching commented on #91
Hello,

Thanks for your feedback it has been solved!

Best,
Matthieu

[2021-06-09 14:10] #91 closed

[2021-06-09 14:15] Matthieu-Tinycoaching opened #92 "Add to pipeline "feature-extration": "sentence-transformers / paraphrase-multilingual-MiniLM-L12-v2" model"
Hello,

I would like to serve a custom model on accelerated inference API based on this original model: https://huggingface.co/sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2

However, pipeline is not defined for this model so I can't use it. Could you add this model to the `feature-extraction` pipeline?

Thanks!

[2021-06-09 14:41] LysandreJik commented on #92
cc @nreimers, @osanseviero

[2021-06-09 15:09] osanseviero commented on #92
Hi @Matthieu-Tinycoaching,

I just added the model card with the metadata for the `feature-extraction` pipeline to work.

[code]

Please note that with incoming Sentence Transformers v2 release, the repos of the organization will be updated to have:
1. The proper tags
2. Some additional layers so that the API works just as using `sentence-transformers` right now (such as mean pooling, but also som

[2021-06-09 15:27] julien-c commented on #90
sounds good, but let's also think of strategies targeted at distribution/usage growth for this in parallel

on the technical side I was wondering last week if the types (and number) of inputs are encoded in the model, which maybe we could use to populate some metadata (here, input column names for instance)

Maybe a `huggingface_hub.ScikitHubMixin` or similar would handle that?

[2021-06-09 15:49] LysandreJik commented on #89
Maybe of interest to @Narsil

[2021-06-09 15:49] LysandreJik commented on #88
Maybe of interest to @Narsil

[2021-06-09 15:54] Narsil commented on #89
Hi @Matthieu-Tinycoaching This is linked to:
https://github.com/huggingface/huggingface_hub/issues/85

Community images do not implement:
- private models
- GPU inference
- Acceleration

So what you are seeing is quite normal and is expected.
If you don't mind we should keep the discussion over there as all 3 are correlated.

[2021-06-09 15:55] Narsil commented on #88
Hi @Matthieu-Tinycoaching This is linked to:
https://github.com/huggingface/huggingface_hub/issues/85

Community images do not implement:
- private models
- GPU inference
- Acceleration

So what you are seeing is quite normal and is expected.
If you don't mind we should keep the discussion over there as all 3 are correlated.

[2021-06-09 16:23] Matthieu-Tinycoaching commented on #88
Hi @Narsil thanks for the feedback.

However I don't understand so how I can test accelerated inference (CPU+GPU) API on my custom public model?

[2021-06-09 16:25] Matthieu-Tinycoaching commented on #89
Hi @Narsil thanks for the feedback.

However I don't understand so how I can test accelerated inference CPU API on my custom public model?

[2021-06-09 16:51] Narsil commented on #89
Hi, You can test `transformers` based models with all the API features, not `sentence-transformers` at the moment.

Also `feature-extraction` even in transformers does not have every optimizations enabled by default.
 `feature-extraction` extracts raw hidden states, so it might be more sensitive to quantization than other pipelines, we don't know about the end user sensibility to that. It is avail

[2021-06-09 17:08] osanseviero commented on #89
Hi @Narsil.

I don't think we support batch at the moment (although it should be almost trivial to change, it was also requested by @kvit in https://github.com/UKPLab/sentence-transformers/pull/925#issuecomment-856112449).

[2021-06-09 18:20] Matthieu-Tinycoaching commented on #89
Hi @Narsil

Thank you for this light. Do you have an approximate schedule to when sentence-transformers will be available with all the API features?

I ran some load testing on my public model on model hub. So, if I couldn't have access to accelerated (CPU or GPU) inference for the moment I am intrigued by which architecture enabled me to load testing on CPU my public custom model. Could you preci

[2021-06-09 19:20] osanseviero commented on #90
re: Inference API, I think we might be facing a security issue, similarly to what happened with spaCy.

From https://joblib.readthedocs.io/en/latest/persistence.html:

[2021-06-10 07:01] Matthieu-Tinycoaching commented on #92
Hi @osanseviero,

Thanks for adding appropriate metadata for this model. I have take into account the news about the future Sentence Transformers v2 release and wait for it!

I have customized `sentence-transformers / paraphrase-multilingual-MiniLM-L12-v2` model to integrate within the model the mean pooling layer: https://huggingface.co/Matthieu/paraphrase-multilingual-MiniLM-L12-v2-custom

Could

[2021-06-10 07:09] julien-c commented on #90
security-wise I think we'll be able to find ways to make it work!

[2021-06-10 07:33] osanseviero commented on #92
Hey @Matthieu-Tinycoaching!

There are a couple of things.

1. When a repo is added, it should work in the Inference API out of the box. No need for us to enable it :)

2. Loading your model fails in `SentenceTransformers` v2. We fail to give a more useful error message (we need to work on that). Here is a [colab](https://colab.research.google.com/drive/1Yz7P6WSywgFyOwlgchh-SoOf9aP7TRHC?usp=sharin

[2021-06-10 08:22] nreimers commented on #92
Hi @osanseviero @Matthieu-Tinycoaching
The multilingual MiniLM models uses a bit strange combination: It is a BERT architecture, but it uses the XLM-Roberta tokenizer.

I saw in your model repository that the sentence-piece model file is missing.

When you add this file:
https://huggingface.co/sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2/blob/main/sentencepiece.bpe.model

To your cu

[2021-06-10 09:12] Matthieu-Tinycoaching commented on #92
Hi @osanseviero thanks for your feedback!

Please find my comments below.

That's great but since I have tried with my public custom repository which failed loading model that could explain why I couldn't get prediction. However, sometimes behavior of the inference API is strange and can't load when switching predictions from custom repository to community repository or when swichting between no A

[2021-06-11 07:39] julien-c opened #99 "Widget for Table to text generation"
https://ai.googleblog.com/2021/01/totto-controlled-table-to-text.html

as suggested by @mrm8488

Should be decently easy once #87 is merged

[2021-06-11 07:41] julien-c opened #100 "Widget for zero-shot image classification"
Would have as inputs:
- an image dropzone
- a field with possibles labels

as suggested by @patil-suraj (for CLIP?)

Should be decently easy once #87 is merged

[2021-06-11 07:49] LysandreJik commented on #74
We just open sourced widgets in https://github.com/huggingface/huggingface_hub/pull/87 if you want to take a look @NielsRogge! We'll write a document on how to get started but feel free to try it out locally!

[2021-06-14 13:28] #56 closed

[2021-06-15 08:54] Narsil commented on #100
https://github.com/huggingface/transformers/pull/12119 For reference (it's an attempt, might not be final, but should give a hint of I/O expected for the widget. (It's very close to zero-shot-(text)-classification) we just send an image instead of text.

[2021-06-15 12:28] julien-c commented on #74
maybe @mishig25 can take a look at the widget side of this!

[2021-06-15 12:32] julien-c commented on #100
maybe also for @mishig25

[2021-06-16 11:29] osanseviero opened #111 "token-classification widget shows empty result when there are no classifications"
Should we either show the same sentence or say that no tokens were found?

[2021-06-16 12:25] Narsil commented on #111
Same sentence + message saying no tokens found (maybe in the error spot ?)

[2021-06-16 14:43] osanseviero opened #112 "Widget for image captioning"
Would have as input
* Image

Would output
* Text

This should be similar in implementation to the image classification widget.

[2021-06-16 14:45] osanseviero opened #113 "Widget for text to image generation"
Input would be text
The output would be the image

[2021-06-16 14:57] julien-c commented on #111
Pretty sure that's a regression

Yes we can show display the same sentence

[2021-06-16 22:10] mishig25 commented on #100
_zero-shot-(text)-classification's_ request body looks like this:
`const requestBody = {
	inputs: trimmedText,
	parameters: {
		candidate_labels: trimmedCandidateLabels,
		multi_class: multiClass,
	},
};`

how should the request body of _zero-shot-image-classification_ look like as we need to combine _file (image)_ and _json (candidate_labels, multi_class)_?

[2021-06-16 22:20] julien-c commented on #100
probably base64 encode the image and nest it inside JSON would be the simplest

[2021-06-17 04:42] mishig25 commented on #112
I've implement ImageCaptioningWidget [here](https://github.com/mishig25/huggingface_hub/blob/widget-image-captioning/widgets/src/lib/InferenceWidget/widgets/ImageCaptioningWidget/ImageCaptioningWidget.svelte).

input/request: identical to ImageClassificationWidget
`const requestBody = { file }; // uploaded image`

output/response: identical to TextGenerationWidget
`[
  {
    "generated_text": "...

[2021-06-17 06:56] osanseviero commented on #112
That's very cool! Feel free to open a draft PR so we can discuss over code 😄

1. Your proposed API contract seems fine to me. I'll send a PR to add this pipeline (FYI @Narsil in case you have ideas)
2. At the moment we have no model for this task. You can remove it for the time being :)
3. Yes, we should have an icon. @julien-c any ideas?

[2021-06-17 07:02] Narsil commented on #112
1. LGTM too.

4. There are not "spec" like openAPI or something like it, aside from code right now.

[2021-06-17 07:33] mishig25 commented on #112
@osanseviero removed `ModelData` from `widgets/src/routes/index.svelte` and opened a draft PR #115

[2021-06-17 08:40] julien-c commented on #112
Feel free to propose one @mishig25!

[2021-06-17 08:41] julien-c commented on #112
@mishig25 our icon style is from https://icones.js.org/collection/carbon (cc @gary149)

[2021-06-17 08:45] julien-c commented on #112
@osanseviero

Let's plan to add/build one otherwise this widget won't be terribly useful :)

[2021-06-17 08:58] osanseviero commented on #112
Yeah, I'm on it right now :)

#114 added the pipeline to the API validation, now we need to add it to one of the docker images (I was thinking to a new Keras image).

[2021-06-17 10:14] mishig25 commented on #112
@julien-c how does this one look: `carbon:align-box-bottom-center` ?

[2021-06-17 10:48] julien-c commented on #112
@mishig25 yeah looks good to me

[2021-06-17 11:11] mishig25 commented on #112
@julien-c add the icon and pushed the changes

[2021-06-17 14:43] lewtun commented on #70
while checking for suitable datasets for model evaluation, i discovered several models have typos / non-conventional naming for the `datasets:` tag.

using some fuzzy string matching i compiled a list of `(model, dataset, closest_dataset_match)` where the closest match to a _canonical_ dataset in `datasets` was based (arbitrarily) on whether the levenstein distance is > 85.

i wonder whether it wo

[2021-06-18 02:08] mishig25 commented on #100
created a draft PR #118

[2021-06-18 09:58] julien-c commented on #70
Yes 👍

Also check out https://observablehq.com/@huggingface/kaggle-dataset-huggingface-modelhub from @severo which looks great (cc @gary149)

[2021-06-18 13:28] lewtun opened #126 "Feature request: enable search and download of dataset metadata"
As an end-user, I would like to be able to query and download the dataset metadata on the Hub in a similar fashion to `HfApi.list_models`

In particular, I would like to extract the information stored in the `dataset_infos.json` file that is associated with each canonical (and community?) dataset.

Thanks to a tip from @lhoestq, the current way we can do this is by using `datasets.load.prepare_mod

[2021-06-18 13:45] julien-c commented on #126
For completeness, you'd also want to mention the current API: https://huggingface.co/api/datasets?full=true

which is called by `datasets.list_datasets()`

[2021-06-19 05:28] gchhablani opened #127 "Widget for Visual Question Answering"
This request for a widget/inference API for the hub for multimodal models for VQA tasks:

Would have input as
 - Image
 - Question
Would output
- Answer

This should be used for VisualBERT/LXMERT models. And might need detectron or something similar to the FasterRCNN model here : https://github.com/huggingface/transformers/tree/master/examples/research_projects/lxmert

@LysandreJik

[2021-06-21 09:48] mishig25 commented on #113
More than happy to take this one.
@osanseviero @julien-c please let me know if there's anything I need to improve in terms of the process I have taken for #100 and #112
Otherwise, I'll follow similar approach and implement other widgets

[2021-06-21 10:10] julien-c opened #129 "Add Documentation page on `list_models`, `model_info`, and similar methods"
...as well as the underlying HTTP API endpoints:

- https://huggingface.co/api/models?full=true to get the full list of models
- https://huggingface.co/api/models/elgeish/wav2vec2-large-xlsr-53-arabic (replace with relevant model id) to get info on one specific model
- ...

[2021-06-21 10:10] osanseviero commented on #113
You're going full speed! ⚡

The approach has been great so far, I think you can go ahead with the widget.

[2021-06-21 10:16] mishig25 commented on #113
Awesome! 🤗

[2021-06-21 12:57] mishig25 commented on #113
Created draft PR #131

[2021-06-21 13:04] osanseviero commented on #129
Where do you think this should be documented?
* As it's own page such as the library docs like transformers, dataset, etc. and the Inference API docs.
* In the Hub docs
* In a README in src/huggingface_hub

[2021-06-21 13:45] severo commented on #129
For the REST APIs (Inference, Hub), it might be good to generate an [OpenAPI](https://www.openapis.org/) spec from the code and publish it with [ReDoc](https://redocly.github.io/redoc/) or [another tool](https://openapi.tools/).

(maybe you already have something like this)

[2021-06-21 14:13] severo commented on #126
see also #129

[2021-06-21 16:38] julien-c commented on #129
@osanseviero I'd say in the Hub docs, what do you think?

[2021-06-21 16:45] julien-c commented on #129
the most important is to have a place to link to with a list of public API methods (as even inside the team not everyone knows them :) )

[2021-06-22 07:14] #79 closed

[2021-06-22 08:02] osanseviero commented on #129
@severo, for Inference API we already have [some docs](https://api-inference.huggingface.co/docs/python/html/index.html).

I would do two things, add an "Endpoints" site with a table explaining each endpoint. I really like ReDoc so that can be a follow-up, I think the priority right now is to get some documentation asap on this :)

For the `huggingface_hub` methods, it's not very clear to me where

[2021-06-22 08:06] nreimers commented on #47
I think this makes a lot of sense. Actually implemented it in the `save_to_hub` from sentence-transformers

Users are used to pull images like `{org}/{name}`, so it makes sense to have a `push_to_hub("{org}/{name}")`

[2021-06-22 08:08] osanseviero commented on #47
@LysandreJik @sgugger @julien-c in case you have any suggestions/ideas :)

We now have better error messages when this error happens, so it might not be such a big issue.

[2021-06-22 08:17] LysandreJik commented on #47
I wouldn't mind having `org/name` be interpreted as `name, organization=org` if specified, I think it would be coherent with the downloading methods.

[2021-06-22 09:00] julien-c commented on #129
Yes, adding a `Hub API endpoints` page to the `/docs` sound great 🔥

(for each endpoint you can also mention the corresponding `huggingface_hub` method)

Thanks!

[2021-06-22 09:02] julien-c commented on #47
Yes I'd be supportive of this as well

[2021-06-22 09:19] severo commented on #47
Related: while working on the models' data in https://observablehq.com/@huggingface/kaggle-dataset-huggingface-modelhub, I have been surprised that some of the "modelId"s are not "user/model", but just "model" (I understand all of them are models provided by Hugging Face as the organization). eg: https://huggingface.co/bert-base-uncased

[2021-06-22 09:20] LysandreJik commented on #47
Yes, this is for historic purposes. The first models had no organization and were therefore at the root.

Unfortunately, for backwards compatibility purposes, it is now complicated to change the behavior.

[2021-06-22 09:22] severo commented on #129
re: redoc via @Narsil (as I understood it): ReDOC has already been considered (https://api-inference.huggingface.co/docs/redoc/) but it included too much friction with the code and the current docs to be fully useful and efficient.

[2021-06-22 09:40] Narsil commented on #129
Yes, it was mostly the easiness to make the docs as explicit as possible. So we went for raw docs instead to get full control of what was displayed.

[2021-06-22 09:44] julien-c commented on #129
yeah unless for super complex API (Stripe?) I think that words are actually clearer than an API playground

Same as when the authors of mkdocs say that they don't actually want to automatically parse docstrings.

[2021-06-22 10:49] osanseviero opened #134 "Widget for Structured Data Classification"
This should be exactly the same as Table Question Answering, but:
* Without a `query` input
* Instead of table, the field is called `data`.

See discussion in https://github.com/huggingface/huggingface_hub/pull/97

[2021-06-23 06:04] nreimers opened #138 "Detect and track large files automatically"
When pushing sentence-transformers models to the hub, I had the issue that tokenizers for some multilingual transformers models were creating a unigram.json file that is larger 10 MB. The push to the hub / git resulted in an error, due to the file limit size of 10 MB.

[code]

I currently test a fix to detect large files in a repo and to add them to git-lfs before the push:
https://github.com/UKPL

[2021-06-23 09:07] nreimers opened #139 "[Feature proposal] Ignore files for snapshot_download"
I use the `snapshot_download` method to download all model files for sentence-transformers.

@patrickvonplaten converted the transformers models to flax and added them to the respective repository, e.g. for the LaBSE model:
https://huggingface.co/sentence-transformers/LaBSE/tree/main

Right now when you load the LaBSE model with sentence-transformers, the flax_model.msgpack is also downloaded, but

[2021-06-23 09:36] nreimers commented on #139
Drafted a first version that ignores any *.msgpack file:
https://github.com/UKPLab/sentence-transformers/blob/312be2a90a8779daecf9113a319b576588c2ab91/sentence_transformers/util.py#L379

Not yet really happy about the solution, because it will fail if the flax file gets a different extension or when other model types (tensorflow) are added.

[2021-06-23 10:47] julien-c opened #140 "Document hf.co webhooks and open them publicly if necessary (process to be defined)"

[2021-06-23 11:38] julien-c commented on #138
sounds reasonable to me to have this (as an option or by default) in `Repository.push_to_hub` but interested in others' thoughts.

(ideally, not adding the same pattern multiple times if it's already in .gitattributes, etc)

[2021-06-23 12:06] julien-c commented on #139
But each model does not know the list of files it needs? (haven't dived into sentence-transformers too much, so I'm curious)

In any case, if required by the use case, a black/whitelist of patterns in `snapshot_download` wouldn't be shocking to me

[2021-06-23 12:20] nreimers commented on #139
A sentence-transformers model is like a tree: A model consists of a variable number of sequential modules, and each module can branch to multiple sub-modules (which could again branch).  The setup is quite similar to the functional API from Keras:
https://keras.io/guides/functional_api/

Each layer has its own files. One layer is e.g. AutoModel and AutoTokenizer from transformers. Which files the

[2021-06-23 12:23] Narsil commented on #74
Proposed PR on `transformers` side https://github.com/huggingface/transformers/pull/12321

@mishig25 I think image manipulation will be a bit tricky to do client side, hence I propose a "reduction" mecanism for the actual API (that goes on top of the pipeline or within the pipeline) to simply output 1 image, what do you think?

If we kept the actual masks, we could do improved UX with maybe mouse

[2021-06-23 12:33] julien-c commented on #74
tagging @gary149 and @severo  as well but I think client-side rendering can/will be way cooler (interactivity as you mention, quality of the UX, etc)

Also is someone ends up calling the API outside of the widget (like in an actual programmatic use case I don't think they will want the rendered output)

[2021-06-23 12:35] severo commented on #74
I love doing this kind of processing in JS

[2021-06-23 12:36] julien-c commented on #139
Thanks for the explanation. yes it is very similar to what AllenNLP is doing if I understand correctly

[2021-06-23 12:43] Narsil commented on #74
Yes API-wise we need to be able to support raw masks for sure !

[2021-06-23 12:48] mishig25 commented on #74
@severo @julien-c please let me know if there's anything particular you'd like me to work on. Otherwise, I can start digging more into [`Visualizer` module of detectron2](https://github.com/facebookresearch/detectron2/blob/master/detectron2/utils/visualizer.py) and see how desired results can be achieved with JS & web interactivity

[2021-06-24 06:33] osanseviero commented on #134
Some motivation for this
* Recent usage of transformers for tabular data https://arxiv.org/abs/2106.11959
* Sklearn and Keras docker images would be able to use this quite nicely

[2021-06-24 09:54] osanseviero commented on #113
Some example motivation for this :)
https://discuss.huggingface.co/t/generate-gif-reply-to-english-text-with-vqgan-clip/7166

[2021-06-24 10:58] patil-suraj commented on #113
And this as well https://github.com/huggingface/transformers/pull/12281 😉

[2021-06-25 08:22] mishig25 commented on #74
Assuming the API output will be
[code]
In terms of visualizing masks, which option would you prefer:
1. `<canvas>`-based approach
2. `<img>`-based approach that uses CSS property `mask-image`
3. something else entirely

Unless there is an objection of using `<canvas>` element, I think `<canvas>`-based approach will be the most straightforward (I might be wrong).

[2021-06-25 08:31] severo commented on #74
I think it's the best approach too

[2021-06-25 12:59] julien-c commented on #74
i'm not a pro at frontend drawing technologies, what are the Pros & Cons of svg vs. canvas? what about WebGL, maybe via `ThreeJS`? 🤯

[2021-06-25 13:28] severo commented on #74
SVG is really done for vectorial drawings. We can incorporate bitmap images in it, but it's not really natural and you have to generate the images by the way (using canvas)
Managing mask images is naturally done by modifying the pixels of a canvas (see https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Pixel_manipulation_with_canvas for example, or https://observablehq.com/@sever

[2021-06-26 01:03] mishig25 commented on #74
Widget-wise,
`svg` would be better suited for object detection (bounding boxes)
`WebGL/three.js` would be better suited for anything that relates to 3D or complex 2D graphics (like `images-to-3d` [3D object generation from images](https://huggingface.slack.com/archives/C3XM337MW/p1624528691060200))

[2021-06-29 14:11] SBrandeis opened #144 "`Repository` can't be used with datasets repositories anymore"
## How to reproduce

[code]

## Observed behaviour

The command fails with a 404 error

The culprit is probably this line: https://github.com/huggingface/huggingface_hub/blob/7f12f290a3244bd8afe5d8c3a3fe5b60619fdd22/src/huggingface_hub/repository.py#L164

That does not strip the `datasets` prefix of HF datasets repos

## Stacktrace

[code]

[2021-06-29 14:15] SBrandeis commented on #144
cc @LysandreJik

[2021-06-30 05:45] nateraw opened #146 "404 at 'Adding a Library' documentation page"
This link is dead: https://huggingface.co/docs/adding-a-library

Its referenced in the readme of this repo as well as in the documentation [here](https://huggingface.co/docs/hub/libraries#how-can-i-add-a-new-library-to-the-inference-api).

[2021-06-30 05:47] nateraw commented on #146
Ah, I see now that it's here:

https://huggingface.co/docs/hub/adding-a-library

[2021-06-30 06:52] LysandreJik commented on #144
Thanks for reporting!

[2021-06-30 07:46] nateraw opened #149 "[Feature request] Add a hook to allow user to manipulate model init kwargs"
The current `from_pretrained` implementation in `ModelHubMixin` reads in `config.json` (if available), and adds it as a kwarg named `'config'` in the model init kwargs. This is in line with `transformers` style, more or less.

I'd rather explicitly write config kwargs in my model's `__init__`. To do that, we have to unpack the config dict instead of having it be a kwarg. The solution right now is

[2021-06-30 15:09] mrm8488 commented on #99
Working on it!

[2021-06-30 15:37] mishig25 commented on #74
I'll create a draft PR once I refactor the code.
Assuming the API output will be `[{mask, score, label}, ...]` and based on @gary149's feedback, here is a screenshot (please add any other feedback as a comment below):
![segmentation4](https://user-images.githubusercontent.com/11827707/123989600-e6211800-d97d-11eb-95c8-38b53f9860ed.gif)

[2021-06-30 15:39] osanseviero commented on #74
😮

[2021-06-30 15:55] julien-c commented on #74
looks really cool!

[2021-06-30 16:09] NielsRogge commented on #74
Wow, super cool!! Really nice to see the cats picture still going strong haha (it's part of COCO evaluation, they are not my cats sadly).

I should add the `id2label` to the config file, such that we can see the actual labels instead of LABEL_93 and so on.

[2021-06-30 17:39] #146 closed

[2021-07-01 09:21] julien-c commented on #149
**TL;DR:** Sounds good to me, do you want to give it a try?

---

Longer-term I think we should consider making `ModelHubMixin` more agnostic and **require** the user to define a `_save_pretrained`  and a `_from_pretrained`  method for it to work.

And then we would implement a `TorchModelHubMixin` , `ScikitLearnModelHubMixin` , etc. that are framework-specific and slightly more opinionated (and t

[2021-07-02 13:41] osanseviero opened #154 "Should HfApi().login save the token?"
Currently, `login` only returns the token, but I wonder if it should call `save_token` so it behaves closer to a login.

WDYT @LysandreJik? Would it make sense?

[2021-07-03 11:35] cakiki opened #158 "🚀 Feature Request: DOI Generation for Artifacts"
It would be useful to be able to generate a [Digital Object Identifier](https://en.wikipedia.org/wiki/Digital_object_identifier) to artifacts living on the Hub.

It would **let people cite a specific dataset or a specific model, and make their own datasets and models citable**. Some venues require DOIs for digital resources and it would be nice to not have to use 3rd parties for that.

Kaggle, for

[2021-07-04 08:17] nateraw commented on #149
Sure, I'll give it a go!

[2021-07-04 09:09] julien-c commented on #158
Yes I think we should do that.

I've reached out to Datacite and a few other potential registrants – I will follow up here when I know more.

[2021-07-04 09:46] julien-c commented on #158
(also gotta say that I love your `README.md` on your github @cakiki, and I am absolutely going to rip it off 😂)

[2021-07-04 09:58] cakiki commented on #158
You are more than welcome to it! :smiley:
You could also experiment with nicer layouts (https://rich.readthedocs.io/en/latest/layout.html#creating-layouts)
(@willmcgugan did most of the heavy lifting on this)

[2021-07-05 07:53] LysandreJik commented on #154
Good point! I think the current design is to have the API stateful during the Python runtime, but not across runtimes. As it is designed now, you would need to call the login/retrieve the token from the folder every time you enter a runtime, which I would expect if the expected behavior would be to change the user every time.

Since we expect users to have a single account that can manage several

[2021-07-05 08:25] julien-c commented on #154
no strong opinion

[2021-07-05 09:26] mishig25 opened #160 "Netlify authorization issue on `JS Widgets` action"
When I push new widget code, [JS Widgets action](https://github.com/huggingface/huggingface_hub/actions/workflows/js-widgets-tests.yml) run fails with:
[code]

See [failed workflow run here](https://github.com/huggingface/huggingface_hub/runs/2988565843?check_suite_focus=true).
What should I do to solve this issue? Thanks!

[2021-07-05 13:52] #129 closed

[2021-07-06 08:04] mishig25 commented on #160
Could this be the reason: I'm creating a PR from **my fork's** branch, not a branch on the **original** repository. Because when I create a test branch on the original repostory, `JS Widgets` action runs fine (see [here](https://github.com/huggingface/huggingface_hub/runs/2996581375?check_suite_focus=true)).

[2021-07-06 08:04] julien-c commented on #160
Yeah that's probably it

[2021-07-06 08:06] mishig25 commented on #160
Great, I'll then transfer branches from my fork into the original repo

[2021-07-06 08:09] julien-c commented on #160
GH Actions run on fork don't have access to the repo's secrets

[2021-07-06 08:10] #160 closed

[2021-07-07 09:32] mishig25 commented on #74
Pushed updates in branches [widget-image-segmentation](https://github.com/huggingface/huggingface_hub/tree/widget-image-segmentation) & [widget-object-detection](https://github.com/huggingface/huggingface_hub/tree/widget-object-detection)

Updates:
1. WIP/impkement object detection widget
Assuming the API input will be identical to [that of ImageClassificationWidget ](https://github.com/huggingfac

[2021-07-07 10:21] osanseviero commented on #74
FYI @nateraw

[2021-07-07 13:26] elishowk opened #167 "Add filtering and fields to /api/datasets"
as @lhoestq noted in https://github.com/huggingface/huggingface_hub/pull/164
There's differences that we may need to address compared to the /api/models endpoint:

- [ ]     /api/datasets doesn't return the sha
- [ ]     /api/datasets does return branch: main even if the specified revision is on another branch
- [ ]     /api/datasets doesn't support filtering afaik

@julien-c and @SBrandeis follow

[2021-07-07 13:30] elishowk commented on #167
not in the right repo, moved to https://github.com/huggingface/moon-landing/issues/885

[2021-07-07 13:30] #167 closed

[2021-07-08 05:37] cccntu commented on #138
I think this should be the default. The `Repository.push_to_hub` already adds everything with `git_add`, so I think it should also track everything large that it adds.
https://github.com/huggingface/huggingface_hub/blob/0d185de837846859668a0ee5b1aa5ef71a4f9ac4/src/huggingface_hub/repository.py#L452-L460
I think it would make it too complex if I need to pass `what-to-track` into `PretrainedModel.sa

[2021-07-08 05:38] cccntu opened #168 "Add `--filename` support for `git lfs track`"
We need this to reliably track individual file with their file names.

Here in the doc:
https://github.com/git-lfs/git-lfs/blob/main/docs/man/git-lfs-track.1.ronn

relevant issue #138 (identify large files and track by their file names.)

[2021-07-08 05:52] cccntu opened #169 "Non-blocking `git_push`"
On local machine, the push can take a while, but usually there is no need to wait for it to complete, it would be great to keep training while the `git-push` uploads model in background.
This can be done by replacing `subprocess.run` with `subprocess.Popen`.
 https://github.com/huggingface/huggingface_hub/blob/0d185de837846859668a0ee5b1aa5ef71a4f9ac4/src/huggingface_hub/repository.py#L431

[2021-07-08 07:04] julien-c commented on #168
Should be fairly easy to add (though the number of cases where it's needed, vs. a pattern, is fairly small – need to have a `{*, ?, [, ]}` in your filename)

[2021-07-08 08:04] cccntu commented on #168
Yes, I just think it's safer when I read the man page.

[2021-07-08 08:05] LysandreJik commented on #169
I think that's a solid idea! We could have a flag to control the behavior; by default, it would be blocking, with the option to spin it in a non-blocking subprocess.

[2021-07-08 11:54] osanseviero commented on #169
What would happen in this scenario in the case `git push` has errors for some reason? Will they be hidden?

[2021-07-08 12:32] cccntu commented on #169
In my implementation, the stderr and stdout are inherited from parent, so you will see the output, but the error will be ignored.
I think error in push is mostly fine, as long as the commit is done and the repo is not removed (e.g. using temp dir to clone and push).
This is intended for more custom behavior that directly calls `git_push`, you can set `non_blocking=True` during training, and `non_b

[2021-07-08 16:17] LysandreJik commented on #138
Fixing this in https://github.com/huggingface/huggingface_hub/pull/177

[2021-07-08 21:34] osanseviero opened #178 "Add text classification for spaCy"
This requires adding a `text-classification` script [here](https://github.com/huggingface/huggingface_hub/tree/main/api-inference-community/docker_images/spacy/app/pipelines) that can be based in the `token-classification` [implementation](https://github.com/huggingface/huggingface_hub/blob/main/api-inference-community/docker_images/spacy/app/pipelines/token_classification.py).

There is useful sp

[2021-07-08 23:13] g4brielvs commented on #178
I'm very interested in contributing!

[2021-07-09 06:50] osanseviero commented on #178
Hi @g4brielvs, I'm glad you're interested in this one. Let me know if you require further pointers or discussion from what is above. Overall, you should implement the pipeline and a test, then you can do `pytest -sv docker_images/spacy/tests/` to check out it works

[2021-07-09 07:18] #144 closed

[2021-07-09 09:02] mishig25 opened #182 "Give user a feedback when API returns something unepected with 200"
When API returns something unepected with 200, currently no feedback is given to a user (i.e. no error message).
Necessary updates: when API returns something unepected with 200,
* set `error` message with "Invalid/unexpected ..."
* set `outputJson` with the API output

[2021-07-09 13:48] devpramod commented on #178
I'd like to take a crack at it too. Is that okay given @g4brielvs is probably working already working on it. @osanseviero

[2021-07-09 13:55] osanseviero commented on #178
Hi @devpramod thanks for your interest. ⚡⚡⚡

Since @g4brielvs already expressed interest, let's give him the chance to complete this. There will be more good first issues with nice impact in the future, so stay tuned!

[2021-07-09 13:59] devpramod commented on #178
@osanseviero Absolutely! I'll stay tuned

[2021-07-12 07:21] osanseviero commented on #178
Hi @g4brielvs! Did you have a chance to take a look into this?

[2021-07-12 12:16] LysandreJik opened #186 "Better error message when cloning without token"
When cloning a repository without the `use_auth_token` parameter, the error is unintuitive:

[code]
[code]

When the `use_auth_token` parameter is omitted, the URL isn't correctly reconstructed.

[2021-07-12 13:35] g4brielvs commented on #178
Hi @osanseviero! Sorry for taking too long. I still haven't completed the task unfortunately.

[2021-07-12 13:48] devpramod commented on #178
@osanseviero I have looked into the PR, please let me know If I'm needed.

[2021-07-12 14:01] devpramod commented on #178
@osanseviero I have looked into the PR as well, please let me know if I can be of help to @g4brielvs, with their permission of course.

[2021-07-12 20:08] osanseviero commented on #178
No worries @g4brielvs, just wanted to check in :). Let @devpramod know if you would like to collaborate on this together or let me know if you would require additional guidance/pointers!

[2021-07-13 07:44] LysandreJik opened #187 "Repository `use_auth_token` should default to `True` when in a HF-hub specific workflow"
The `Repository` class is thought out as a wrapper to git/git-lfs, and isn't specific to the Hugging Face Hub. It's a useful helper to manage offline repositories.

However, the recent PRs https://github.com/huggingface/huggingface_hub/pull/132, https://github.com/huggingface/huggingface_hub/pull/143, https://github.com/huggingface/huggingface_hub/pull/150 and https://github.com/huggingface/huggin

[2021-07-13 08:32] julien-c commented on #187
I have no objection to setting `use_auth_token` to True if it helps onboard users not very familiar with git.

Just a note that git authentication is usually handled by the user themselves on the system level, using e.g. a credential helper. For instance when cloning from, or pushing to GitHub, I suspect most people don't have to re-type their password or token each time.

We might want to add som

[2021-07-14 15:32] julien-c opened #190 "Mention the Tensorboard integration somewhere in ./docs/hub"

[2021-07-14 15:59] thomwolf opened #191 "Uniformized logging with other HF libs"
The `huggingface_hub` library should also have a logging module like the other libraries (and maybe we should actually centralize all the logging command in this library once both `datasets` and `transformers` depend on it so that people can simply control all the logging of our tools.

Current reason to raise the issue is that uploading a very large dataset has no indication of status (since the

[2021-07-14 16:13] thomwolf commented on #191
Actually this might come from another origin (like piping conveniently the output of the subprocess).

I'll just describe the problem instead of giving my feeling on its source then.

Problem:
- uploading a large dataset
- with the Repository.commit context manager
- in a notebook
shows no indication of progress (out-of-the-box).

Changing the logging level doesn't seem to solve the issue.

[2021-07-14 16:30] thomwolf commented on #191
In general I think that all the output of the git commands in the `Repository` class (e.g. from `lfs_track` or other `git pull`) should be redirected to the python logging

[2021-07-14 18:18] amtam0 opened #192 "Inference widgets - local app"
Hi guys - Thank you for open sourcing these amazing inference widgets ! I managed to test a token classifier using Flair in my local computer. Very practical for demo testing !

I have some questions :

1. When running a widget app locally, does it run on our cpu or on HF server ?
2. Is the model cached somewhere in the local computer ? (It takes some time to load it for the first time)
3. Can we

[2021-07-15 07:44] Narsil commented on #192
Hi @amtam0 it runs on the API, explaining the first load time.

The code to actually run the inference is available and you can try doing:
[code]

That should run the exact equivalent that runs on the API (if it's not a transformers model) on `localhost:8000`.

Editing this line here: https://github.com/huggingface/huggingface_hub/blob/2c0f4648e89770f1728bb8b46402c74e286a1a24/widgets/src/lib/Infer

[2021-07-15 12:01] amtam0 commented on #192
Thank you @Narsil for these tips,
I will try this and come back to you !
I am using Transformer based model with Flair (camembert-base)
The goal is to run both model and Widget app on the local server.

[2021-07-15 12:59] #190 closed

[2021-07-15 14:49] #138 closed

[2021-07-15 17:39] dk-crazydiv opened #195 "Spaces: Third party component streamlit-tags not loading"
Link:https://huggingface.co/spaces/dk-crazydiv/streamlit-tags-breaking

Requirements installed:
[code]

#### Error Message on Spaces
![image](https://user-images.githubusercontent.com/47515542/125831786-9ab6ebad-a090-41ff-9da3-47b713454a5e.png)

#### Expected behaviour
![image](https://user-images.githubusercontent.com/47515542/125832181-73fb838b-9ab0-4100-8ad9-32bd3ee61809.png)

### Info:
- The s

[2021-07-15 22:19] borisdayma commented on #113
Hi, I'm interested in this widget.
What's the progress?

[2021-07-16 03:16] cccntu opened #197 "`HfApi.model_info(revision=)` does not resolve hash prefix"
[code]
[code]
[code]
Error message:
[code]

This is what `snapshot_download` calls internally, so `snapshot_download` would fail if only hash prefix is provided.

[2021-07-16 03:48] cccntu opened #198 "[Feature request] Allow specifying `save_dir` in `snapshot_download`"
This will make it easier to load without relying on `cache_dir`. IMO it also matches the function name `snapshot_download` better. (The current functionality of `snapshot_download` feels more like `cached_download`.)
[code]

Currently it's like this:
https://github.com/huggingface/huggingface_hub/blob/eed85ca66fd29618870d630a067ec641e0e98085/src/huggingface_hub/snapshot_download.py#L47-L49

[2021-07-16 06:35] osanseviero commented on #198
Hi @cccntu,

`snapshot_download` already returns the path to where the repo was saved, so you can do this

[code]

No need of building the path yourself :) Let us know if this works for you

[2021-07-16 06:39] osanseviero commented on #113
There is an existing PR - https://github.com/huggingface/huggingface_hub/pull/131 but at the moment this is not integrated to the Inference API (since there is no `transformers` pipeline for this nor in the other libraries). If you want to build a demo for this, consider using Spaces instead for the time being.

[2021-07-16 06:39] osanseviero commented on #113
Btw, if you have model repos with a text to image generation model, I would be interested if you share them + some example on how to do inference.

[2021-07-16 06:51] cccntu opened #199 "Spaces: Gradio interface title and description is invisible in darkmode"
Example Space:
https://huggingface.co/spaces/flax-community/FT5-demo

Dark mode:
![image](https://user-images.githubusercontent.com/31893406/125904655-7a7908e1-4d6c-4e81-8e10-5d0c43585e2d.png)
![image](https://user-images.githubusercontent.com/31893406/125904735-f132eb40-4acb-4b57-bfcd-2da92141b15a.png)

Light mode:
![image](https://user-images.githubusercontent.com/31893406/125904707-7f60b7b0-c92

[2021-07-16 06:55] cccntu commented on #198
I am aware of that, thanks. @osanseviero
I intend to run it in two separate scripts, so the best alternative is to rename/move the dir in first script, but I think it's better if there is a built-in option.

[2021-07-16 09:11] Fraser-Greenlee opened #200 "Spaces: Feature Request: Include git submodules in codebase."
Submodules allows having editable model code shared across Huggingface projects.

Sadly these aren’t copied into the space code base so don’t work.

See space: https://huggingface.co/spaces/flax-community/t5-vae

hub model: https://huggingface.co/flax-community/t5-vae-python

model sub module code: https://github.com/Fraser-Greenlee/t5-vae-flax

[2021-07-16 09:18] LysandreJik commented on #198
Hi @cccntu, `snapshot_download` is actually similar to `cached_download` in that both of those cache the repositories downloaded; so that with the repository identifier only you won't need to specify whether to redownload the new version, as it will do so automatically.

If specifying a `save_dir` then we would lose that caching ability

[2021-07-16 09:21] osanseviero commented on #198
As an addition to that, if you use `snapshot_download` in two different scripts, both will point to same place, so you will have access to the same cached files in both.

[2021-07-16 09:49] cccntu commented on #198
For context, my use case is first downloading a snapshot, then COPY to docker image at build time. So when the docker images starts, it won't need to download the model, or even call the api, it can immediately load the local copy.

But I guess I don't really care about the storage used by cache, copying (instead of moving) the snapshot sounds better. And copying doesn't feel like something that s

[2021-07-16 09:49] #198 closed

[2021-07-16 13:52] julien-c commented on #197
Yep, we don't currently have this capability. If it is requested widely we will consider building it (it's on the server side so in the realm of @Pierrci )

Thanks!

[2021-07-16 16:16] #187 closed

[2021-07-16 17:08] #186 closed

[2021-07-16 17:40] gagan3012 commented on #195
Hi @osanseviero
Can I help fix this I created streamlit-tags and maybe I can help fix this issue

[2021-07-16 17:47] osanseviero commented on #195
Hi @gagan3012,

Thanks for offering help with the issue! Unfortunately the Spaces code has not been open sourced. @cbensimon from the team will be looking into this 👍

Thanks again for offering help!

[2021-07-16 18:06] gagan3012 commented on #195
No Worries Thanks for letting me know

[2021-07-16 18:38] borisdayma commented on #113
Would it make sense to allow custom pipelines?
We're working on a mini DALL-E repo so we'll need something completely custom

[2021-07-16 20:17] osanseviero commented on #113
Yes, having a generic docker image to support custom inference is in our roadmap. We will require a very specific input/output requirement for the API to work, but other than that it will be up to the users to do their own implementations, including adding their custom dependencies.

FYI @Narsil @julien-c

[2021-07-17 08:44] julien-c commented on #113
They can already submit a PR against https://github.com/huggingface/huggingface_hub/tree/main/api-inference-community though no?

[2021-07-17 16:15] osanseviero commented on #113
@julien-c you mean in the form of a new docker image just for this use case?

[2021-07-18 15:02] abidlabs commented on #199
Tagging @aliabid94 here as well to see if a styling fix can come from the Gradio library itself

[2021-07-19 07:16] julien-c commented on #113
Yes – the boundary between single model and "library" being rather slim as we've seen in other cases, wouldn't `mini-dall-e` be a good image name in `api-inference-community`?
The image can also always support different checkpoints down the line. WDYT?

[2021-07-19 08:36] mishig25 opened #210 "`Malformed soundfile` error when using ASR Widget"
`Malformed soundfile` error occurs when a sample audio file is picked (example: https://huggingface.co/osanseviero/hubert_s3prl).

Solution: implement the same solution that is implement on image classification would work (downloading the file in the browser (using our proxy endpoint to workaround CORS) and reuploading it)

[2021-07-19 08:43] julien-c commented on #210
@n1t0 did we end up deploying the proxyfying endpoint to a permanent URL? If it is, can you add the URL here?

[2021-07-19 08:44] julien-c commented on #210
[[internal link](https://github.com/huggingface/moon-landing/blob/18303f7d56a9e6c36648814b18a4856fec849ff1/server/views/components/InferenceWidget/shared/WidgetDropzone/WidgetDropzone.svelte#L23-L56)]

[2021-07-19 09:17] LysandreJik opened #211 "Only use git credentials, no more token"
The current authentication system isn't ideal for git-based workflows. It isn't clear to users why they should first authenticate with `huggingface-cli`, then re-authenticate with `git push`.

It also isn't simple to `git push` in a colab notebook, a shell-less environment which can't prompt for username and password. All of these issues could be handled in a simpler way by only using git credenti

[2021-07-19 09:24] julien-c commented on #211
Disclaimer; they shouldn't

[2021-07-19 13:37] mishig25 commented on #113
Should we change the API output: from image to an array of images?

That way, we can show multiple generated images from a single text prompt, as it's currently done in most papers/demos/tweets. (See attached an image from @borisdayma's [tweet](https://twitter.com/borisdayma/status/1416794288797765637))
<img width="500" alt="Screenshot 2021-07-19 at 15 25 55" src="https://user-images.githubusercon

[2021-07-19 18:03] osanseviero commented on #113
If this is a short-time solution, let's do it! @borisdayma, feel free to open a PR about this.

For one-shot cases, instead of having to maintain a very large number of images, I would prefer to go down the generic image path so we don't end up with hundreds of images. I think the us from the future will thank us going that road. I can work on adding the generic docker image the first week of Augu

[2021-07-19 18:09] osanseviero commented on #210
I just wanted to clarify that this already works in `api-inference`, it's an issue only in `api-inference-community` afaiu.

[2021-07-19 18:11] osanseviero commented on #210
[[internal link](https://github.com/huggingface/api-inference/blob/c95f7a3ee10ad3c88309b039c5d5d29184028742/shard/app/validation.py#L164-L167) with potential solution in `validation.py`, but maybe the problem is more complex than I realize]

[2021-07-19 22:15] #149 closed

[2021-07-20 05:17] borisdayma commented on #113
I'm not sure if the best here would be to work with the inference API or HF spaces (which probably has more flexibility for these cases).

[2021-07-20 06:42] julien-c commented on #113
Personally I'd like widgets to be a 1:1 representation of the underlying API call, so _if_ we want to display multiple generated images in one click, I'd be in strong favor of doing it at the API level

(for text generation, we do have an API param to generate multiple continuations, no?)

[2021-07-20 07:25] #168 closed

[2021-07-20 07:37] borisdayma commented on #113
It depends on what you wanna do exactly.
For example for our demo we generate a bunch of images and then display only the best ones (8 over 64 or 128).

[2021-07-20 07:38] julien-c commented on #113
Yep in that case Spaces are more flexible. (whereas widgets are meant to be the canonical 1:1 representation of a model's interface)

[2021-07-20 07:44] mishig25 commented on #113
(can confirm that: for text generation, [num_return_sequences](https://api-inference.huggingface.co/docs/python/html/detailed_parameters.html#text-generation-task) param exists for multiple continuations)

[2021-07-20 13:42] mishig25 commented on #74
@Narsil and I are discussing whether `image seg` & `obj det` should be same or different pipelines.

##### Reasons to treat them as same pipelines:
1. The tasks are related
2. Trying to limit number of unique pipelines & widgets
3. In this case, we will treat bounding boxes from `obj det` as masks from `image seg`. In other words, `obj det` is a special case of `image seg`.
##### Reasons to treat

[2021-07-20 18:19] julien-c commented on #74
I would treat them as **different** pipelines/widgets, I think it's clearer.

but it depends on whether a single model/checkpoint can output both representations at the same time, in one model forward pass? (my understanding was no)

[2021-07-21 07:51] NielsRogge commented on #74
I would also treat them differently, as they are quite separate tasks.

Object detection is fairly simple: given an image, predict class labels + corresponding bounding boxes.

However, image segmentation has different subtasks: ![20210721_094012.jpg](https://user-images.githubusercontent.com/48327001/126451023-4edd68e4-c552-422a-9765-297a470d36c6.jpg)

I wonder whether all of these can be support

[2021-07-21 08:06] Narsil commented on #210
Yes the solution is there, we just need to add it to community.

[2021-07-21 10:52] Narsil commented on #74
Hi,

Bounding boxes is really the same as segmentation to me, it's just that the output can be simplified as squares.
You are after all declaring part of the image as belonging to a certain class. The fact that it is a square shouldn't really matter to a user.
The parallel in NLP is NER vs POS, which are really identical and was correctly labeled `token-classification` in transformers.

Image segm

[2021-07-21 13:01] thomwolf opened #216 "Error when doing `push_to_hub` two times in a row"
When doing `tokenizer.push_to_hub()` with the same tokenizer that was already uploaded (can happen in a notebook in particular), we have a git error:

[code]

[2021-07-21 13:01] thomwolf commented on #216
Maybe this should fall gracefully?

[2021-07-21 14:06] julien-c commented on #216
Yes I agree

(it should only catch the error when calling `.push_to_hub()`, I think calling `.git_commit()` on an empty change set should still pop an error)

[2021-07-21 14:11] thomwolf opened #217 "Doing `push_to_hub` with a large model fail by default"
I created a 1.5B parameters model and want to push the newly initialized model on the hub.

Doing a simple `model.push_to_hub("thomwolf/my-model)` fail with:
[code]

Since `push_to_hub()` create a temporary folder (afaiu) I can't by default run  `huggingface-cli lfs-enable-largefiles ./path/to/your/repo` in it.

Workaround is probably to manually create the folder to save and run the lfs command i

[2021-07-21 19:13] julien-c commented on #217
That's good feedback.

@LysandreJik `Repository` should apply `lfs-enable-largefiles` by default no?

[2021-07-21 20:40] bayartsogt-ya opened #218 "Profiling info to model hub?"
Thank you for the great work.

I wonder if there is any way to include profiling information to model hub through `push_to_hub`?
So that we can see how much resource we are using during training, especially so helpful when using TPU.
I tried `pip install tensorboard_plugin_profile`, but only train/eval metrics uploaded to model hub.

[2021-07-22 06:01] LysandreJik commented on #217
Yes, got the same feedback from @sgugger yesterday! Will work on a PR.

[2021-07-22 06:07] LysandreJik commented on #218
The `push_to_hub` method takes as input a `repo_path_or_name` which is the path to a local folder (which will be created if it doesn't exist).

Any files you put in that folder will be uploaded to the hub - so if you're aware of a package that would create profiling information and save it as a file, you should be able to save those in this directory and see them uploaded to the hub.

Here's a [do

[2021-07-22 06:33] LysandreJik commented on #191
I think having centralized logging in the `huggingface_hub` is a good idea. I'm not too sure of having both `datasets` and `transformers` depend on it: while I understand the convenience of having a single command to control all logging, we'll have to ensure that `datasets` & `transformers` & `huggingface_hub` all have the same philosophy regarding logging levels.

I agree with you that having the

[2021-07-22 13:01] mishig25 commented on #74
Aggregating all the opinions expressed above, could I preliminarily conclude that:
1. Separate pipelines for: [object-detection, image-segmentation]
Points considered:
a. [Outputs different](https://github.com/huggingface/huggingface_hub/issues/74#issuecomment-883972039) enough to be separate tasks (mask:image vs box:array of 4 vertices)
2. Only one general image segmentation pipeline for seg_subt

[2021-07-22 13:39] julien-c commented on #74
Yes, let's do two distinct widgets on the frontend side, and I would also tend to do two distinct pipelines 👍

[2021-07-24 17:11] avidale opened #222 "Allow multilabel classification mode for widgets in the models repo"
# 🚀 Feature request

1. Enable multilabel classification mode and regression mode for the widgets in the model repo.
2. Create the corresponding tags that can be read from the model card.

## Motivation

Models for sequence classification by default support three modes: binary/multiclass classification, multilabel classification, and regression. However, the widgets in the model repository support

[2021-07-24 17:20] mishig25 commented on #222
Hi @avidale,
To start contributing widgets, checkout the [`widgets`](https://github.com/huggingface/huggingface_hub/tree/main/widgets) folder in this repo.

In terms of contribution, create a `branch` and start pushing your updates there. Moreover, you can create `draft PR` so that we can discuss specific details etc as you make progress

Please let me know of any other questions.

[2021-07-27 07:57] osanseviero commented on #178
Hi @g4brielvs, since some time has passed I'm re-assigning this issue.

@devpramod, please let me know if you're still interested on this.

[2021-07-27 13:24] #210 closed

[2021-07-27 13:58] devpramod commented on #178
Hi @osanseviero I'm still interested!

[2021-07-27 14:44] osanseviero commented on #178
Hi @devpramod. Let me know if you have any questions or if there's anything I can unblock you with.

[2021-07-27 22:55] thomwolf opened #233 "Error when creating a repository"
This error happens on huggingface_hub version 0.0.14 (current version) when creating a new dataset repository

[code]

[2021-07-28 08:19] #233 closed

[2021-07-28 19:26] osanseviero opened #237 "huggingface_hub release notes include unrelated changes"
The release notes of new releases of `huggingface_hub` include changes in widgets, documentation and `api-inference-community`. Ideally (specially for `api-inference-community`) we would have different release notes, tags and GitHub Actions workflows.

[2021-07-28 23:19] devpramod commented on #178
Hi @osanseviero The link to the example repo does not work for me; 404 error.

[2021-07-29 07:37] osanseviero commented on #178
Hi @devpramod,

* You can try out the `text-classification` models with `spacy` tag: https://huggingface.co/models?filter=spacy&pipeline_tag=text-classification. `en_textcat_goemotions` might be a good one.
* I'm not sure I follow your question. From the `api-inference-community` directory, you should be able to run `make style` and `make quality` commands so everything is styled properly.
* This

[2021-07-29 07:38] osanseviero commented on #178
Btw maybe this helps you

[code]

This returns

[2021-07-29 07:42] Narsil commented on #178
~~`TokenClassificationPipeline`~~ -> `TextClassificationPipeline`.
Otherwise fully agree with you @osanseviero

[2021-07-29 13:10] mishig25 commented on #74
I've uploaded a demo with hardcoded inputs and outputs for the object detection widget here (until we figure out the pipeline):
https://6102a74c4d4db912930e6357--huggingface-widgets.netlify.app/
Please provide feedback on anything: interaction, colors, etc.

[2021-07-29 14:03] julien-c commented on #74
my only feedback is that I...

 LOVE IT 🔥

[2021-07-29 14:31] devpramod commented on #178
@osanseviero Thanks! This helps a great deal.

[2021-07-29 19:30] #182 closed

[2021-07-30 07:09] severo commented on #74
Excellent!

Feedback: I'm wondering if the bars and the bounding boxes use the same base colors? Not sure, but it seems like the bounding boxes use the default colors ('red', 'blue', etc) while the bars use the tailwindcss base colors.

[2021-07-30 07:46] mishig25 commented on #74
@severo thats a great feedback! That's indeed how its currently done (see [here](https://github.com/huggingface/huggingface_hub/blob/widget-object-detection/widgets/src/lib/InferenceWidget/widgets/ObjectDetectionWidget/ObjectDetectionWidget.svelte#L33-L41) and [here](https://github.com/huggingface/huggingface_hub/blob/widget-object-detection/widgets/src/lib/InferenceWidget/shared/WidgetOutputChart

[2021-07-30 13:32] osanseviero opened #241 "Add sentence similarity for spaCy"
Computing similarity is simple with `spaCy` and there is an existing [template pipeline](https://github.com/huggingface/huggingface_hub/blob/main/api-inference-community/docker_images/common/app/pipelines/sentence_similarity.py) for sentence similarity at which can be modified for this.

https://spacy.io/api/doc#similarity

[2021-08-02 20:26] lewtun opened #248 "Add docs on Hub organisations"
As described in [this](https://discuss.huggingface.co/t/how-do-organizations-work/8918?u=lewtun) forum comment, the Hub [docs](https://huggingface.co/docs/hub/main) are currently a bit sparse on:

* Searching for existing orgs
* How to join an org
* What features are available between free vs premium subscriptions

It would be nice to integrate this feedback into the docs.

[2021-08-02 20:55] #134 closed

[2021-08-02 22:08] lewtun opened #249 "Support running private models with community inference API"
As a user it would be nice to use the inference API widgets for private models generated via one of the Docker images in `api-inference-community`.

Here's an example [model repo](https://huggingface.co/lewtun/superb-s3prl-osanseviero__hubert_base-asr-d570d5d0) and a screenshot of the widget message.

<img width="511" alt="Screen Shot 2021-08-02 at 17 06 29" src="https://user-images.githubusercont

[2021-08-03 02:41] devpramod commented on #178
@osanseviero I'm trying to write test cases for my code. I'm trying to run `pytest -sv docker_images/spacy/tests/`, I'm a beginner at Docker, I get an `AssertionError: 500 != 200` from test_simple. I used the Dockerfile to build an image and I'm running the container on localhost. Any input would be really helpful, thanks!

for reference, I used the following to run the image
`sudo docker run -d -

[2021-08-03 06:55] osanseviero commented on #178
Hi there!

To clarify, there are two types of tests:

* The tests that require docker (under `tests/test_docker`).
* And the unit tests you're running. When you run `pytest -sv docker_images/spacy/tests/test_api_token_classification.py` you're not using Docker, which makes development much faster.

As for how to debug this issue, I would recommend you to print the error (`response.json()` for exam

[2021-08-03 06:58] osanseviero commented on #249
Related: #85 and https://github.com/huggingface/huggingface_hub/issues/85#issuecomment-857469661.

As far as I know, community libraries do not support private repos by design, but I don't see any very strong reason to not have private repos.

[2021-08-03 07:04] osanseviero opened #250 "Audio to Audio widget does not show results"
Example 1: https://huggingface.co/speechbrain/sepformer-whamr16k
Example 2: https://huggingface.co/speechbrain/mtl-mimic-voicebank

The widget runs successfully. Looking at the network tab, there is a good response, but I don't see anything
[{"label":"label_0","blob":"HUGE STRING","content-type":"audio/flac"}]

@mishig25 would you be interested on investigating this?

[2021-08-03 15:08] #250 closed

[2021-08-04 08:56] ferdi05 opened #256 "Inference API wrapper: adding parameters documentation"
I'd like to use some parameters when calling the inference API with `huggingface_hub.inference_api`.
e.g.: `"wait_for_model": True`

Can we add documentation to explain how to use it?

[2021-08-04 09:08] osanseviero commented on #256
What specific parameters did you have in mind?

For `wait_for_model` in particular, it's always set to True. There was some discussion about this in #65, https://github.com/huggingface/huggingface_hub/pull/65#discussion_r644628072 in particular.

Feel free to check the code [here](https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/inference_api.py#L93) since it's relative

[2021-08-04 10:03] ferdi05 commented on #256
I was thinking `wait_for_model` and `use_gpu`and you answered to everything. Thanks very much !

[2021-08-04 10:03] #256 closed

[2021-08-04 11:28] #217 closed

[2021-08-04 13:31] osanseviero opened #258 "Asteroid Inference API unexpectedly slow"
Hi there,

When I try to use the widget in https://huggingface.co/JorisCos/ConvTasNet_Libri3Mix_sepnoisy_8k (or any other Asteroid repo), I get the following message very frequently:

I tried the following code snippet with the same version as the `Dockerfile`. The model loads extremely quickly, so I think there might be another issue making things slow.

[code]

```./manage.py docker --framework

[2021-08-04 13:45] julien-c commented on #200
i think submodules are allowed (it's just plain git), but they're not being recursively cloned into the Space at deployment time, right?

[2021-08-04 13:46] osanseviero commented on #258
Closing since this is actually unrelated to this specific docker image.

[2021-08-04 13:46] #258 closed

[2021-08-04 14:58] devpramod commented on #178
hi @osanseviero, I added the pipeline, please review and let me know about any changes.

[2021-08-04 15:26] devpramod commented on #178
Hi! @osanseviero I've added the pipeline. Please let me know about any changes.

[2021-08-05 06:32] Fraser-Greenlee commented on #200
Huh, it seems that this works now https://huggingface.co/spaces/Fraser/try_using_submodules

It wasn't copying the code for me before but maybe it was a misunderstanding.
https://huggingface.co/spaces/flax-community/t5-vae/commit/1d30073ba77b45c122fed07ffbc36aafcf12477f

[2021-08-05 06:32] #200 closed

[2021-08-05 06:57] julien-c commented on #200
(cc'ing @cbensimon in case he hasn't seen this)

[2021-08-05 09:47] cbensimon commented on #195
HF Spaces now supports Streamlit components (see https://huggingface.co/docs/hub/spaces#changelog)

https://huggingface.co/spaces/dk-crazydiv/streamlit-tags-breaking is now working as expected

[2021-08-05 09:47] #195 closed

[2021-08-05 10:20] julien-c commented on #195
Great job @cbensimon! 🥳

[2021-08-05 12:14] NielsRogge opened #260 "Feature request: overwrite local dir when using Repository"
Lately, I've been using huggingface_hub to upload BEiT (a new model) checkpoints to the hub. I used the following code:

[code]

When instantiating a `Repository`, the `local_dir` must not exist already with the current implementation. However, it would be useful if is just overwrites the local directory, in case it already exists, because I had to upload several checkpoints, and I had to remove t

[2021-08-05 12:24] julien-c commented on #260
want to open a PR to do this?

[2021-08-05 12:33] NielsRogge commented on #260
Hmm re-running, it works. Looking at the code, it seems fine as the local directory is created using `os.makedirs(exists_ok=True)`.

I think the problem had to do with `push_to_hub`.

[2021-08-05 12:35] NielsRogge commented on #260
Ok update: it works when your local directory is an empty repository, but if it already contains files, then you get the following error:
[code]

[2021-08-05 12:56] julien-c commented on #260
Yes, `overwrite_local_dir` would rm the local directory before doing anything else so it would fix this

[2021-08-05 13:35] NielsRogge commented on #260
No it shouldn't remove it, it should basically join the files that already in the local directory with the files of the remote git repository, right?

[2021-08-05 13:45] julien-c commented on #260
then what happens for a filename that's both in the local dir and in the remote repo?

We had something like this w/ @LysandreJik before, but the desired behavior was unspecified so we just removed it.

[2021-08-05 13:51] NielsRogge commented on #260
Yeah, that's indeed a good question, perhaps we can leave it like that in that case.

[2021-08-05 13:51] osanseviero commented on #260
I'm a bit confused of the use case

Is your idea that files should be joined or that they should be overwritten? (or joined and just overwritten when same filename?)

[2021-08-05 13:54] NielsRogge commented on #260
So my use case was the following:

1) I had some local files in a directory (pytorch_model.bin, config.json, vocab.txt). This directory was not a git repository, just a local directory.
2) I created a remote repository using `api.create_repo`. My goal was to upload my local files to that remote repository.
3) When I then use `Repository`, with `local_dir` being equal to my local directory of step

[2021-08-05 14:20] osanseviero commented on #260
I think the error suggestion should be good for this use case:

[code]

And then you should be able to follow-up with pushing. But maybe we could make this simpler indeed.

[2021-08-06 03:36] stas00 opened #264 "generalizing the git status file retrieval functions"
I needed to get other similar functions besides:

https://github.com/huggingface/huggingface_hub/blob/71beeb17ef07b82b6501cfd8a30012fc934b787b/src/huggingface_hub/repository.py#L405

So I generalized the code: with `get_git_files_by_status`, which returns all files reported by `git status -s` already grouped for consumption.
[code]

So if you think it'd be a useful addition, you can adopt it from

[2021-08-06 06:15] LysandreJik commented on #264
Thanks for sharing @stas00! Will take a look at your `get_git_files_by_status` method.

Interesting to see how you managed `hub-auth.py`, will take a look at what we can do to make that easier.

[2021-08-07 17:16] julien-c commented on #248
(also mention new invite by link/email feature from @Pierrci)

[2021-08-08 18:17] lewtun opened #268 "Enable branch to be specified in `Repository.push_to_hub`"
As a user, I would like to be able to push my repo's files to a specific branch on the Hub, e.g.

[code]

This would be quite useful for the evaluation / benchmarking projects where the current idea (due to @lhoestq) is to store the model predictions for task X in a separate branch on a single repo. (We store the predictions for reproducibility purposes)

I'm not sure if `Repository.push_to_hub` i

[2021-08-08 19:45] julien-c commented on #6
Currently being addressed in #261

[2021-08-08 20:22] osanseviero commented on #268
(Not a direct solution, but `HfApi.upload_file` already allows for an optional `revision` param which can be a branch iirc).

cc @LysandreJik probably has some good ideas about this.

[2021-08-09 08:06] LysandreJik commented on #268
Having a `revision` option on the `push_to_hub` method sounds good to me. Feel free to open a PR @lewtun, otherwise, I'll take a stab at it in a bit.

[2021-08-09 08:20] osanseviero commented on #268
Do you think that the constructor should also support something like this (be it optional `revision` parameter or allowing to have the revision in the url of `clone_from`)? That way if your workflow is in a branch you can do this without much issues.

I'm also not sure `revision` should be the option for `push_to_hub`, no? I think it should be something like `branch`, but I'm not completely sure.

[2021-08-09 11:35] cbensimon commented on #200
@Fraser-Greenlee Thanks for the feedback !
You're right, submodules were not cloned (just an empty folder was created).
It's now working properly so I'll let this issue closed

[2021-08-09 12:39] LysandreJik commented on #268
cc @lvwerra with whom we have had a similar conversation

[2021-08-09 12:41] LysandreJik commented on #268
You mean something like the following:

[code]

This would essentially be a clone + checkout, or did you envision it a different way?

[2021-08-09 13:08] osanseviero commented on #268
Yes, those two options are exactly what I meant (I would go with the second option to avoid having too many parameters and enabling this in downstream libraries). This would enable users that work just in a single, non-main branch. The `revision` param in `push_to_hub` will also be needed for those users that want to clone from a branch (normally main) but push to another.

I think it could be eit

[2021-08-09 13:35] lewtun commented on #268
I’m on vacation for the next two weeks, but happy to pick this up when I’m back if you don’t beat me to it 😎

[2021-08-09 14:02] asier-gutierrez opened #270 "Enable Pipeline arguments and notice for the models"
We have uploaded (still private) a model fine-tuned on a high quality Named Entity Recognition (NER) private dataset. Although the dataset is better than conll2002, in the examples like the one from [here](https://github.com/huggingface/huggingface_hub/blob/main/widgets/src/lib/interfaces/DefaultWidget.ts#L31) the widget provides weird values like "...Wolf (PER) gang (O)...". This should be fixed

[2021-08-10 11:10] #6 closed

[2021-08-11 09:43] cakiki opened #274 "Add TensorFlow "saved_model" folder to .gitattributes to new model repos by default"
The current default `.gittatributes` file is not aware of a HF model's ability to also be saved in the SavedModel format.

A local fix was to add `saved_model/**/* filter=lfs diff=lfs merge=lfs -text` to .gittatributes. (`git lfs track "saved_model/**/*`)

It might be useful to just include that as a default for all repos, since some files in that folder don't have an extension, e.g. :  `saved_mod

[2021-08-11 10:11] #178 closed

[2021-08-11 11:15] m3hrdadfi opened #275 "Space - Failed to process a Websocket message"
I launched a streamlit app a couple of weeks ago, and everything worked fine until yesterday when I checked the app encountered with this message!

![Screen Shot 2021-08-11 at 1 08 31 PM](https://user-images.githubusercontent.com/2601833/129019491-008323bc-acb4-4f52-9352-ec8b3bc9617b.png)

I checked the app locally, and it works like a charm.

Space: [m3hrdadfi/typo-detector](https://huggingface.c

[2021-08-11 12:20] devpramod commented on #241
Hi! @osanseviero I would like to contribute

[2021-08-11 12:23] osanseviero commented on #270
Hi @asier-gutierrez.

At the moment the `aggregation_strategy` is not configurable in the widget. Even then, you can still use the Inference API to specify this parameter. Here is an example:

`curl -X POST -d '{"inputs": "My name is Jessica, Jessica Parker Jones", "parameters": {"aggregation_strategy": "none"}}' https://api-inference.huggingface.co/models/xlm-roberta-large-finetuned-conll03-engli

[2021-08-11 12:24] osanseviero commented on #241
Hi @devpramod! Excellent! Contributions are always welcomed. I think this should be easier to introduce since there is already an existing template for this use case. Let me know if you have any questions

[2021-08-12 06:24] osanseviero commented on #275
I think both Spaces are working now :)

[2021-08-12 07:55] LysandreJik commented on #268
I'm taking care of it in the [branch-push-to-hub](https://github.com/huggingface/huggingface_hub/tree/branch-push-to-hub) branch!

[2021-08-13 08:22] LysandreJik commented on #268
Opened PR: https://github.com/huggingface/huggingface_hub/pull/276

[2021-08-13 13:58] #268 closed

[2021-08-13 21:09] cakiki opened #279 "🚀 Feature request: Add git instructions to dataset repos"
On the hub, model repos currently include clipboard-friendly instructions to clone a model repo, e.g.:
[code]
It would be nice (both for parity and convenience) to have that display for datasets as well.

[2021-08-16 15:32] #211 closed

[2021-08-17 16:33] cbensimon commented on #275
There was a maintenance operation on HF Spaces at the time !

Thanks for your feedback @m3hrdadfi :)

[2021-08-17 16:33] #275 closed

[2021-08-19 08:30] NielsRogge opened #286 "Feature request: widgets for document image understanding and document image VQA"
I'm currently adding LayoutLMv2 and LayoutXLM to HuggingFace Transformers. These models, built by Microsoft, have impressive capabilities for understanding document images (scanned documents, such as PDFs). LayoutLM is an extension of BERT that incorporates layout information, besides just text.

It would be really cool to have inference widgets for the following tasks:
* document image understand

[2021-08-19 08:49] osanseviero commented on #286
Thanks for your ideas! I think these are great

cc @mishig25 that has been working on adding new widgets. The first step for having the widget is to actually have this working in the Inference API.

We usually try to have the widgets be as generic as possible, so let's think in ways that this can be reused by similar tasks so we don't end up with 200 tasks :)

For image classification, isn't the e

[2021-08-19 08:54] NielsRogge commented on #286
We can perhaps leverage it, the only difference is that this model requires a processor instead of a feature extractor for preparing the inputs.

This means, first defining a pipeline for each task?

[2021-08-19 09:04] osanseviero commented on #286
Yes. To give you a quick summary, we have `api-inference` which uses transformers and `api-inference-community` which is used for 3rd party libraries + wip generic inference (which we could use for a proof of concept).

Each widget maps to a single task and the input/output specifications are somewhat similar between the the two inferences. In the case of `api-inference`, each task maps to a singl

[2021-08-19 16:45] Narsil commented on #286
`image-classification` already exists:

- `image-token-classification` can be added
- `image-question-answering` too.

We can setup something quick&dirty with `generic` to demo the widget, however, proper integration within `transformers` seems like a great idea, but will take more time (heavy refactor of pipelines + BC in transfomers means more time for review)

[2021-08-20 06:11] osanseviero commented on #286
Agree with @Narsil here. We should build a quick&dirty impl with `generic`, but a proper integration will take some time.

I'm not sure I understand how `image-token-classification` (for document-image-understanding) differs in terms of inputs/outputs from object detection. Aren't they the same?

[2021-08-20 08:02] Narsil commented on #286
Interesting idea to fuse it with `object-detection` (which I insist is exactly `image-segmentation` but let's not dwell on it).

For @NielsRogge , the output is `[{bounding_box: ... , "label": "XXXX", "instance": "Y", "parent"?: "Z"}, ....]. I feel like the label could be the NER tag, but we still need a field to print the written text otherwise it's not really useful. "text_content"? could be a n

[2021-08-20 09:56] NielsRogge commented on #286
Actually, the output is the same as object detection (a list of class labels and bounding boxes). Of course, postprocessing is quite different (for DETR, one can use `DetrFeatureExtractor.post_process()`, for LayoutLMv2, I'm currently converting them manually in a cell in a Jupyter notebook, but I could add a similar `post_process()` method to the processor).

We can then probably just use the exi

[2021-08-20 13:20] Narsil commented on #286
AFAIK, `Processor` is only a superset of `FeatureExtractor` which encompasses all lower-level objects (`FeatureExtractor` + `Tokenizer`) is that true, or is there some subtlety I am missing ? Pipeline try to stay away for `Processor` if possible as it makes logic harder to follow (too much magic).

[2021-08-20 13:37] NielsRogge commented on #286
That is only true for the processors defined for CLIP and Wav2Vec2. For those, the processor is just a wrapper around the FeatureExtractor and Tokenizer, and it can act as one of the two at any point in time. However, the processor of LayoutLMv2 is different in the sense that it applies the feature extractor and tokenizer in a sequence.

[2021-08-22 18:14] oriram opened #289 "Splinter's Inference API doesn't work"
Hi :)
When running Splinter models in the models hub (for example `tau/splinter-base-qass`, the following error is shown:
[code]
Any idea what is the source of this behavior?
Many thanks!
@patrickvonplaten

[2021-08-22 18:43] osanseviero commented on #289
Hi @oriram! Thanks for your splinter contribution!

The [PR](https://github.com/huggingface/transformers/pull/12955) merge was 5 days ago, but the latest `transformers` release happened [13 days ago](https://github.com/huggingface/transformers/releases/tag/v4.9.2). This change needs to make it to a new release and then it should work in the Inference API. I hope this makes sense.

Cheers!

[2021-08-22 18:49] oriram commented on #289
Sure, it makes sense :)
Thanks @osanseviero!

[2021-08-22 18:49] #289 closed

[2021-08-23 15:36] Narsil commented on #286
Thanks for the clarification, will have to dig a bit into this.

[2021-08-24 06:33] osanseviero commented on #286
related: this could be a nice library to integrate https://github.com/mindee/doctr

[2021-08-25 10:29] NielsRogge commented on #286
There's another beautiful libarry for deep-learning based layout analysis: https://github.com/Layout-Parser/layout-parser

They might be interested too.

[2021-08-25 13:59] osanseviero opened #294 "Document model repo best practices"
I would like to start documenting good practices of model repos to add to our [documentation](https://huggingface.co/docs/hub/adding-a-model).

Some come to mind rather quickly
* One model per repo (avoid having multiple models in the same repo)
* Add metadata to the model card
* Add metrics to the metadata of the model card

How do we want to encourage users to have multiple checkpoints in a sing

[2021-08-25 14:08] osanseviero opened #295 "Document how to add a new task"

[2021-08-25 14:25] StellaAthena commented on #294
In #13022, @xloem raises an important point about `git-lfs`:

[2021-08-27 15:45] #274 closed, assigned to osanseviero

[2021-08-31 09:58] LysandreJik commented on #191
Solved by https://github.com/huggingface/huggingface_hub/pull/262

[2021-08-31 09:58] #191 closed

[2021-08-31 20:43] lewtun opened #299 "[FLAIR] Add support for Zero-Shot Sequence Labeling with TARS"
In[ v0.9](https://github.com/flairNLP/flair/releases/tag/v0.9) of `flair` a new zero-shot sequence labeling feature was included which seems (a) very exciting and (b) very useful for real-world NER applications where acquiring labeled data is expensive.

It would be cool to include support for this in the Hugging Face Hub, possibly as a companion widget to the existing [one](https://huggingface.co

[2021-09-01 09:48] julien-c commented on #299
also cc'ing @stefan-it and @alanakbik for visibility:)

Feature looks awesome!

[2021-09-01 20:08] siddk opened #300 "Adding Mistral Checkpoints to HF Hub"
As per https://github.com/stanford-crfm/mistral/issues/86, we'd like to serve all 10 x 610 checkpoints per our 5 GPT-2 Small and 5 GPT-2 Medium models via the HF Hub!

However, currently, the GPT-2 model definition we use is different than the existing one in HF Transformers (the default GPT-2 is unstable when training in mixed precision, so we implemented a few custom tweaks). What's the right wa

[2021-09-02 13:04] osanseviero commented on #300
Hi there!

I just wanted to mention that you don't need to integrate your GPT-2 model definition to HF `transformers` in order to upload your models to the Hugging Face Hub. You could still upload all your checkpoints to the platform and we could see how to make something like this work:

`MistralGPT2LMHeadModel.from_pretrained("mistral/gpt-medium-arwen", revision="400k")`

CC @LysandreJik might h

[2021-09-02 17:50] siddk commented on #300
Hey @osanseviero - would love to hear more about this? If not integrating the model with HF Transformers, would the idea be that folks import the corresponding class from `mistral` directly?

Our long-term goal is to fold all the updates from `mistral` (models, fast Trainers, etc.) into HF Transformers (or other HF codebases), eventually making `mistral` obsolete - so ideally the only dependency f

[2021-09-02 20:48] nateraw opened #305 "Image to Image Widget"
Would have as input

- Image

Would output:

- Image

This should be similar in implementation to the image classification widget.

[2021-09-02 20:50] nateraw opened #306 "Image Feature Extraction Widget"
Would have as input

- Image

Would output:

- Feature Vector

This should be similar in implementation to the image classification widget mixed with text feature extraction widget.

[2021-09-02 20:51] nateraw commented on #306
Motivation here is to perhaps have all `timm` backbones support feature extraction (as that's what a lot of their users use it for).

CC: @mishig25 @julien-c

[2021-09-02 21:21] julien-c commented on #306
sounds good to me!

want to ship a first model or two into the inference-api, and then @mishig25 can build a widget for it?

[2021-09-03 06:26] LysandreJik commented on #300
@siddk the plan to fold all updates from `mistral` to `transformers` sounds great; this sounds like a slightly longer-term project than adding the existing mistral checkpoints to the huggingface hub.

As @osanseviero said, the huggingface hub isn't limited to `transformers` models, so you can use the tooling in `huggingface_hub` to download/upload in your library without having a dependency on `tr

[2021-09-03 12:19] lewtun opened #309 "`PyTorchModelHubMixin` cannot push local files to the Hub"
I'm using `huggingface_hub` v0.0.16 and am trying to use `PyTorchModelHubMixin` to save my model's weights and push them to the Hub.  Unfortunately I am hitting a

error which suggests my local directory needs to be initialised with something like `git init`.

Here is a minimal example:

[code]

And the full stack trace

[code]

cc @LysandreJik

[2021-09-03 20:43] nateraw commented on #309
@lewtun A really quick fix for this would be to not call `save_pretrained` first, but to instead just call `push_to_hub`, as its calling `save_pretrained` for you in the background.

By just removing your call to `save_pretrained`, your code works fine :smile:. Here's proof!

<a href="https://colab.research.google.com/gist/nateraw/7a87ba17114e29727fbeb557551c1b98/pytorch-push-to-hub.ipynb" target=

[2021-09-03 20:45] nateraw commented on #306
Sure, I'll have one up on Monday!

[2021-09-03 20:59] nateraw opened #310 "Generic push_to_hub by adding optional save_fn"
Something I've encountered in #284 and elsewhere (when integrating 3rd party libraries directly), is that folks may have to rewrite `push_to_hub` to fit their needs. However, it seems to me the only change you end up needing to make is specifying what needs to be saved.

I propose we do something like this:

1. add a generic `push_to_hub` function.
2. add a kwarg to this function, `save_fn`,  that

[2021-09-03 22:01] nateraw opened #311 "Insert and remove from sys path in generic pipelines"
Currently in generic pipeline we simply `sys.path.append` the path to the snapshot repo. This is fine if running in a docker container once, but for development it can be a bit of a nightmare, especially if you're playing with multiple different repos that have implemented generic pipelines. Since we appended, you'll get previously loaded pipelines instead of the one you expect.

I suggest we do w

[2021-09-04 17:03] lewtun commented on #309
Thanks for the tip @nateraw - it works!

Nevertheless, I think it would be nice if one could still push to the Hub after calling `save_pretrained` as I gather this is a pretty common workflow (especially if you're working in notebooks) :)

[2021-09-06 09:49] osanseviero commented on #311
cc @Narsil

[2021-09-06 10:10] Narsil commented on #311
IMO `generic` is not meant to be used very much. If it's tedious to use it's OK.

AFAIK, `generic` is just meant to be used as a demo purpose for some external libraries without having to fully implement the pipeline. It is not meant to be a real used path so I don't think we should do anything to optimize for it.
If anything, I would remove `generic` by making implementing a new pipeline more tri

[2021-09-06 10:41] osanseviero commented on #310
I like the idea but let's see how to avoid duplication. This sounds very similar to the generic mixin, which has a generic `push_to_hub` [method](https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/hub_mixin.py#L183) and users just need to overwrite `_save_pretrained`.

Anyways, +1 to this since we have `push_to_hub` repetition across multiple libraries, although let's be

[2021-09-08 16:03] nateraw opened #327 "Should we use functions instead of mix-ins to define integration helpers?"
Many 3rd party libraries use class factory functions to load/create models. This means users are only working with instances, not classes themselves. For example...

Timm:

[code]

Torchhub:

[code]

Now, if we want to let users push these up to the hub, they either have to do all the saving/pushing logic manually, or they have to wrap these model instances in another class that mixes in `PyTorchM

[2021-09-08 16:03] nateraw opened #328 "Should we use functions instead of mix-ins to define integration helpers?"
Many 3rd party libraries use class factory functions to load/create models. This means users are only working with instances, not classes themselves. For example...

Timm:

[code]

Torchhub:

[code]

Now, if we want to let users push these up to the hub, they either have to do all the saving/pushing logic manually, or they have to wrap these model instances in another class that mixes in `PyTorchM

[2021-09-08 17:34] nateraw commented on #328
Airplane WiFi apparently made me duplicate this issue. My bad!

[2021-09-08 17:34] #328 closed

[2021-09-08 19:24] stefan-it commented on #299
Pinging myself (@stefan-it) to not forget this issue.

[2021-09-08 21:04] #295 closed

[2021-09-09 08:04] osanseviero opened #331 "Tracking integration for image feature extraction"
## Tracking integration of task - Feature Extraction

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ] Ad

[2021-09-09 08:05] osanseviero opened #332 "Tracking integration for Object Detection"
## Tracking integration of task - Object Detection

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ] Adde

[2021-09-09 08:06] osanseviero opened #333 "Tracking integration for Image Segmentation"
## Tracking integration of task - Image Segmentation

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ] Ad

[2021-09-09 08:06] osanseviero opened #334 "Tracking integration for Image to Image"
## Tracking integration of task - Image to image

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ] Added

[2021-09-09 08:07] osanseviero opened #335 "Tracking integration for Table to Text generation"
## Tracking integration of task - Table to Text generation

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  -

[2021-09-09 08:08] osanseviero opened #336 "Tracking integration for Zero-shot Image classification"
## Tracking integration of task - Zero-shot Image classification

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party librar

[2021-09-09 08:09] osanseviero opened #337 "Tracking integration for Image to Text (Image Captioning, etc)"
## Tracking integration of task - Image to Text

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ] Added t

[2021-09-09 08:10] osanseviero commented on #113
Closing this issue since now there's a widget!

[2021-09-09 08:10] #113 closed

[2021-09-09 08:53] osanseviero commented on #332
@Narsil would it be possible to enable this in the Inference API? The pipeline is submitted.

cc @mishig25

[2021-09-09 09:15] osanseviero opened #338 "Tracking integration for Image Question Answering"
## Tracking integration of task -Image Question Answering

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [

[2021-09-09 14:16] mishig25 commented on #332
https://github.com/huggingface/huggingface_hub/pull/247 should be almost ready. Once the inference api working for obj det, I'll make this from draft PR to regular one

[2021-09-09 14:34] mishig25 commented on #332
HuggingPics did an awesome job of showcasing ViT and transformers image classification pipeline.
Should we do the equivalent of it for Detr and ovject detection? HuggingDetections ?
cc: @nateraw @julien-c

[2021-09-09 16:16] julien-c commented on #31
I think this one can mostly be closed now no?

[2021-09-10 13:19] mishig25 commented on #332
Now that Nicolas added `obj det` pipeline to new pipeline design, `obj det` task should be good from `transformers` side.
Any chance we can add a third-part obj det library to the hub? @osanseviero @nateraw
From [github search](https://github.com/topics/object-detection), [open-mmlab/mmdetection](https://github.com/open-mmlab/mmdetection) looks particularly interesting

[2021-09-10 13:46] osanseviero commented on #332
As discussed in chat, for community we could begin adding `object-detection` to generic and try with the following libraries/models:
* https://github.com/ultralytics/yolov5
* https://github.com/facebookresearch/detectron2
* LayoutParser

[2021-09-11 13:12] lbourdois opened #343 "Improve the tagging of models"
Hi,

I hope first of all to open this problem in the right place.

I'll illustrate my observation by talking about French models, but the logic applies to any language.

I found by chance the following model on the hub: https://huggingface.co/dbmdz/electra-base-french-europeana-cased-generator
An electra model in French released more than a year ago and I had never heard of it? How it's possible?

[2021-09-11 23:15] KoichiYasuoka opened #344 "InferenceApi for TokenClassification does not work"
I've tried `InferenceApi` for the pipeline of token-classification but failed:

[code]

I remember that it worked [last month](https://srad.jp/~yasuoka/journal/649333/) and the result still remains in the cache:

[code]

Something changed on `InferenceApi` or TokenClassification?

[2021-09-13 07:13] julien-c commented on #344
cc'ing @Narsil for visibility

[2021-09-13 07:47] KoichiYasuoka commented on #344
Thank you @julien-c for your cc with @Narsil, and I've just found a very big PR https://github.com/huggingface/transformers/pull/13308

[2021-09-13 08:24] Narsil commented on #344
Ok, it's fixed now.

It seemed linked to recursive import, which is odd, we're looking into it.

[2021-09-13 08:56] KoichiYasuoka commented on #344
Thank you @Narsil and I've just confirmed that it works well:

[code]

Thank you again and I close this issue.

[2021-09-13 08:56] #344 closed

[2021-09-13 08:58] Narsil commented on #344
Found the culprit which was linked to bad merge between master and the API fork (Turns out GPT2ForTokenClassification was added relatively recently).

[2021-09-13 10:06] julien-c commented on #343
Hi @lbourdois thanks for opening this issue.

We are thinking of implementing a simple-to-use kind of Pull Request workflow that makes sense on models, datasets, and spaces. We don't want to make it as complex/feature-rich as GitHub PRs for instance, as we want to build the most specific set of tool for ML.

We won't ship this in the super short-term though. In the meantime, what we suggest is to

[2021-09-13 11:07] lbourdois commented on #343
Hi @julien-c

What you are planning seems to address the problem.

I don't know if until this feature is available, it would be possible to just display a generic message to a user pushing a new model on the hub to tell him to think about filling in the tags (of languages in this case, but we can also think about the task handled by the model for example) (+ think about filling in the model's card

[2021-09-13 11:18] LysandreJik commented on #31
Yes, thanks to the addition of `filter` [here](https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/hf_api.py#L346)

There's a WIP PR with finer selection available here: https://github.com/huggingface/huggingface_hub/pull/263

[2021-09-13 11:18] #31 closed

[2021-09-13 13:57] muellerzr commented on #31
Thanks guys!

On Mon, Sep 13, 2021 at 6:18 AM Lysandre Debut ***@***.***>
wrote:

[2021-09-13 18:54] LysandreJik commented on #327
Hi @nateraw, this definitely makes sense. The mixins are here for convenience for some frameworks - but I agree they don't make sense for others!

[2021-09-13 19:39] lbourdois commented on #343
Hi everyone,

I mention you here because I can't include more than two URL links and mention more than 2 people on the Hugging Face forum.

This topic aims to add a "fr" tag to 24 models in French that don't have them at the moment so that they can be visible by the largest number of people via the Hub (see above for more informations).

As I can't add it myself, I'm trying to get in touch with th

[2021-09-13 20:41] mishig25 commented on #332
API-inference is working for obj-det now; thanks @Narsil!
The PR merged from `draft` to `regular`

[2021-09-13 21:06] stefan-it commented on #343
Hi @lbourdois ,

sorry for that! I've uploaded the model cards for our @dbmdz models incl. the correct language tag :)

[2021-09-13 21:28] stefan-it commented on #343
@PhilipMay could maybe introduce the language tag for the 'T-Systems-onsite/cross-en-fr-roberta-sentence-transformer` model.

[2021-09-14 06:26] PhilipMay commented on #343
Thanks for the hint. Done.

[2021-09-14 07:30] abhilash1910 commented on #343
Hi @lbourdois ,
Have added  the french tag for https://huggingface.co/abhilash1910/french-roberta

[2021-09-15 10:18] elishowk commented on #343
This organisation is composed of @punyajoy, @debjoy10, pinguing them to check this out

[2021-09-15 14:54] #54 closed

[2021-09-16 09:01] NielsRogge opened #349 "Feature request: add link to model documentation"
**Is your feature request related to a problem? Please describe.**
As discussed on Slack, it would be nice if we add a direct link to the documentation of a model on the hub (e.g. linking to https://huggingface.co/transformers/model_doc/bert.html for [bert-base-uncased](https://huggingface.co/bert-base-uncased)). This can probably be done based on the `config.json` of a model.

**Describe the solu

[2021-09-16 09:19] julien-c commented on #349
most natural place to display this is inside the "Use in [library_name]" modal.

Not however that this is not just for `transformers` as the Hub supports many libraries, with many more coming up (@osanseviero )

[2021-09-16 14:13] sgugger opened #351 "Error message display user tokens"
When there is an error message with a git command (for isntance git push), the url is shown and that url contains the user token. Users that dutifully copy the error message on the forums or when opening issues then expose their personal token to everyone...

[2021-09-20 13:20] mishig25 commented on #332
Widget is live on the hub!

[2021-09-20 18:26] osanseviero commented on #332
That's great. I think the only point left over is integrating to community Inference API

[2021-09-20 22:55] lighteternal opened #359 "Add widget for textual entailment/NLI"
**Is your feature request related to a problem? Please describe.**
The textual entailment / NLI task cannot be easily visualized through the Hosted inference API. Widget pipeline tags exist for most downstream tasks (e.g. 0-shot classification, QA, STS)

**Describe the solution you'd like**
A widget dedicated to textual entailment (e.g. outputting whether the hypothesis entails/contradicts/is neut

[2021-09-21 07:42] julien-c commented on #359
so it would be two text inputs + output is labels classification, is that correct?

[2021-09-21 07:48] lighteternal commented on #359
Exactly!  A pair of sentences as input, and one of three labels (contradiction, entailment, neutral) as output.

An example that could benefit from this widget can be found at the Usage section of this model card: https://huggingface.co/cross-encoder/nli-deberta-base

[2021-09-22 16:36] osanseviero opened #366 "Tracking integration for text-nearest"
## Tracking integration of task - text-nearest

Naming is tentative

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party lib

[2021-09-22 21:09] julien-c commented on #366
isn't it exactly the `text-classification` coarse-grained task though?

[2021-09-23 06:47] osanseviero commented on #366
@Narsil and me were discussing about this yesterday and thought a new task would likely be better. Although the input/output specifications could be the same, this is really not a classification problem so we don't think we should model the problem as a coarse-grained subtask of classification.

[2021-09-23 06:47] osanseviero commented on #366
But if you feel strongly about this and want to avoid having too many tasks we can also just model it as such for the time being

[2021-09-23 07:31] julien-c commented on #366
no strong opinion, but if it's exactly the same API & widget, i would tend to model this as a finer-grained sub task of text-classification

Not 100% sure though!

[2021-09-23 08:17] Narsil commented on #366
The widget sort of are exactly the same, the full goal seems a bit more like `text-to-text` (as in `audio-to-audio` and not `text2text`) which would encompass both IMO.

That being said, I do agree that saying it's a `text-classification` is a bit misleading, and we came up with this idea for a name.
Having slept on it, Maybe we can start by keeping `text-classification` (much less code has to be

[2021-09-23 08:26] julien-c commented on #366
if it's just on the model page, we can definitly add `text-nearest` to https://github.com/huggingface/huggingface_hub/blob/8e2b37c830d43ad3d81b866f2dc3c7778a6da358/widgets/src/lib/interfaces/Types.ts#L51-L58 and find a way to use that to override the widget's name when model has both tags (or something like that)

[2021-09-23 08:43] mishig25 commented on #366
I'd like to work on this:

I think its gonna be important. For example, because of identical API, we are using object-detection pipeline for `layout-detection` https://github.com/huggingface/transformers/pull/13622

[2021-09-24 04:04] devpramod commented on #241
Hi @osanseviero, very sorry about the delay. I've had a hectic month. I just added sentence similarity. Please let me know about any further changes.

[2021-09-24 09:16] osanseviero commented on #241
Don't worry @devpramod! Your contribution is extremely appreciated :) I left a couple of comments in the PR

[2021-09-24 14:04] saattrupdan commented on #270
This would be a great feature to have, to get realistic NER outputs from the models. I'm personally training my NER models on only the first tokens of each word, so specifying `first` in the aggregation strategy for the widget would be great. If there's any way I can help then let me know! 😊

[2021-09-25 13:19] lbourdois commented on #343
Hi @julien-c,

So it's been two weeks since the attempt to contact the authors of the models.
Some tags could be added (5) but the majority of the patterns (19) are still not listed.
I don't know if there is another possibility than waiting for the tool you mentioned.

Since my last post, I also noticed a point about datasets and tags: there can be several tags for one language.
An example : there

[2021-09-25 13:52] punyajoy commented on #343
Added the language tag 👍

[2021-09-27 07:55] elishowk commented on #343
Hi @ydshieh, if you get this message, could you add the tag "fr" to the metadata of the following model please ?

- huggingface.co/ydshieh/wav2vec2-large-xlsr-53-French

Thanks

[2021-09-27 07:58] elishowk commented on #343
Hi @lbourdois, I didn't find a github user handle for user `WikinewsSum`, it seems like an anynonymous system user. @osanseviero do you happen to know who's the maintainer ?

[2021-09-27 09:49] osanseviero commented on #270
cc @mishig25 @julien-c WDYT?

[2021-09-27 10:21] mishig25 commented on #270
I think we should do it since the Inference API already supports `parameters`.
I'd like @gary149 to design it and I can implement it.
Imo design-wise, it should be a universal widget component that exists under [WidgetWrapper](https://github.com/huggingface/huggingface_hub/blob/main/widgets/src/lib/InferenceWidget/shared/WidgetWrapper/WidgetWrapper.svelte) & it should be mostly hidden/minimized un

[2021-09-27 10:42] julien-c commented on #270
i think we can definitely support this use case, and I think the way to go here would be to make the API calls configurable through the `inference:` attribute in the model card metadata.

So something like:

[code]

(`widget:` sounds not appropriate to me because it controls the frontend, not the pipeline/API, and besides it would be hard to extend the current data type (an array of strings or obj

[2021-09-27 12:19] mishig25 commented on #270
agree that `it would be hard to extend the current data type (an array of strings or objects to be used as simple inputs).`

`inference:` solution sounds good to me 👍

[2021-09-28 21:27] lhoestq opened #372 "Add timeout parameter to HfApi.dataset_info to work on JZ"
In certain environments such as the Jean Zay cluster, there is no internet connection and internet requests hang indefinitely.

To be able to properly raise an error in such cases instead of making the program hang, I think it would be nice to add a `timeout` parameter to `HfApi.dataset_info` that can be passed to `requests.get`.

The `datasets` CI has a test where it simulates such an environment

[2021-09-29 12:25] elishowk commented on #343
Hi there, I just reached out by mail to the last user of your list, WikinewsSum.
Let's wait and see.
Regards.

[2021-09-29 20:02] nateraw opened #375 "Suppress warning for 'config.json not found in HuggingFace Hub' for Keras models"
config not required for Keras, so the warning is not necessary.
<img width="895" alt="Screen Shot 2021-09-29 at 2 01 35 PM" src="https://user-images.githubusercontent.com/32437151/135340197-ef3ec5f3-6457-4119-9059-0401ebd80a2b.png">

[2021-10-01 09:27] mishig25 commented on #333
Transformers pipeline & widget PRs are open

[2021-10-04 13:37] Narsil commented on #270
I think adding something in the model card is perfectly fine, but since all `parameters` are also `transformers` only available, maybe we can think of introducing something in the config (there is `task_specific_params` in the config already, but it's only used for `translation` right now).

[2021-10-04 13:41] julien-c commented on #270
i think model card will be a more natural place because we already control some of the widget attributes here (and then it's not just transformers-centric, if in the future another library wants to add support for this)

@mishig25 do you want to work on this?

[2021-10-04 13:47] mishig25 commented on #270
@julien-c yes I'll work on this 👍

[2021-10-06 02:44] #375 closed

[2021-10-06 22:27] nateraw opened #393 "Cannot create new space with HfApi.create_repo"
It seems the endpoint to create a HF space is looking for a `sdk` key/value pair in the `json` we pass up when making the request. We need to add an option to include SDK choice if `repo_type ==. 'space'`.

This snippet shows that it fails

[code]

[2021-10-07 16:24] nateraw opened #396 "Cant create new space from huggingface-cli"
Same issue as #393  - 'sdk' param is not passed when making the post request.

[2021-10-11 08:24] github-actions opened #400 "A new community image was pushed, need to update API"
Narsil just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/e6a7ad66a8286deac2630beb95c34fbcf381640f

[2021-10-11 08:29] github-actions opened #401 "A new community image was pushed, need to update API"
Narsil just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/

[2021-10-11 08:31] #401 closed, assigned to Narsil

[2021-10-11 08:34] #400 closed, assigned to Narsil

[2021-10-11 10:31] mishig25 opened #402 "Document `model card Inference API parameters` capability"
Document `Inference API parameters through model card` capability
Find https://github.com/huggingface/huggingface_hub/pull/392 for more details

[2021-10-12 08:31] julien-c opened #404 "Run CI on Windows?"

[2021-10-12 10:20] lhoestq opened #406 "Don't import tensorflow on startup"
The `keras_mixin.py` file import tensorflow on startup.

However tensorflow is very slow to import. In `datasets` we try to not import such dependencies on startup.

[2021-10-13 05:31] s4sarath opened #410 "Adding models from tf-transformers to hub"
Hi HuggingFace team,

I would like to add some of the custom checkpoints of tf-transformers to Huggingface hub. As of now the conversion is happening on the fly by downloading model for Huggingface and do an in place conversion. But it has a lot of problems.

So, I would like to host models ( converted to tf-transformers ) checkpoints and then download it from there. Is it possible? Can anyone hel

[2021-10-13 07:26] #279 closed

[2021-10-15 14:33] #241 closed

[2021-10-15 17:34] #402 closed

[2021-10-20 08:04] #410 closed

[2021-10-20 13:53] NielsRogge opened #424 "[Feature request] Add ability to skip large files when creating Repository"
When instantiating a `Repository` object, it would be great to skip large files, similar to how you can prepend a git clone with the following env var: GIT_LFS_SKIP_SMUDGE=1. This is handy when updating existing checkpoints from the hub (otherwise it first takes a long time to instantiate the `Repository` object).

[2021-10-20 15:52] github-actions[bot] opened #427 "A new community image was pushed, need to update API"
Narsil just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/10a08b468a839407c86faa2e4861232cba912eec

[2021-10-21 14:00] osanseviero commented on #336
Great @hegdeashwin. I think we could begin with the generic Inference API since that's the quickest way to kick it off

[2021-10-22 09:50] mishig25 opened #432 "Add dropdown inputs on widgets"
Add an ability for a user to choose between different sample inputs on a widget through dropdown

[2021-10-25 10:06] github-actions opened #437 "A new community image was pushed, need to update API"
merveenoyan just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/8b8df4f961fb20551b5569844a35c1284db17fea

[2021-10-25 10:07] #437 closed, assigned to Narsil

[2021-10-26 14:41] julien-c opened #439 "Document user roles on the hub"

[2021-10-26 14:46] osanseviero opened #440 "Document static Spaces"

[2021-10-26 19:25] #432 closed, assigned to mishig25

[2021-10-27 12:37] #439 closed, assigned to osanseviero, SBrandeis, stevhliu

[2021-10-29 00:17] #393 closed, assigned to nobody

[2021-10-29 00:17] #396 closed, assigned to nobody

[2021-10-29 13:12] #440 closed, assigned to osanseviero, stevhliu

[2021-11-03 13:37] lhoestq opened #452 "ImportError: cannot import name 'TypeAlias' from 'typing_extensions'"
In `hugginggface_hub` 0.1.0 on python 3.7.2 I'm getting this error when importing `huggingface_hub`:

[code]

I think this is because my `typing_extensions` is outdated. Maybe let's add a minimum version to `typing_extensions` in `setup.py` ?

[2021-11-04 13:44] #452 closed

[2021-11-04 13:44] LysandreJik commented on #452
Indeed, good catch!

[2021-11-04 17:10] cbensimon commented on #199
It's fixed ! Dark theme now works well in Gradio Spaces

[2021-11-04 17:10] #199 closed

[2021-11-04 20:29] Pierrci commented on #248
@swarooprm you can manage those options from the "members" page in your org settings: hf.co/organizations/{YOUR_ORG}/settings/members

[2021-11-05 21:14] julien-c opened #460 "Implement a `download_file` for symmetry with `upload_file`"
It's almost like `hf_hub_download` but not caching-aware, and with the same param names as `upload_file` for consistency

e.g.

[code]

If passing a `local_path` file would be downloaded and saved to disk (with same filename as the remote one by default)

If not passing a `local_path` maybe function would return the raw bytes? so we can handle in memory?

WDYT

[2021-11-08 13:57] LysandreJik commented on #460
Interesting feature request, this would be helpful indeed! I have a few comments:

I don't really like the `file` part of `download_file` if the default returns the raw bytes. I'd rather have the method download the file with its filename (maybe not optimal when it's a file inside a folder ...) in the current working directory, and have an `as_bytes` parameter with would return the file bytes than

[2021-11-08 14:08] julien-c commented on #460
My personal feeling is that `hf_hub_download` could maybe use `download_file` under the hood and handle file system caching on top of it.

I agree that the `bytes` part of this might be confusing – maybe there's not a need for it

Will keep this open for discussion for a few days but we can close otherwise.

For context, this is the Space where we can see the code to download/upload a single file:

[2021-11-08 19:03] LysandreJik commented on #460
I think the request makes sense and was also brought up by @philschmid in https://github.com/huggingface/huggingface_hub/pull/347

[2021-11-09 15:15] github-actions[bot] opened #463 "A new community image was pushed, need to update API"
osanseviero just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/8eab9dfb8a8932a3a7207d34e4d506d1d69376bb

[2021-11-09 15:28] Narsil commented on #463
Done @osanseviero Which model should I check again ?

[2021-11-09 15:35] osanseviero commented on #463
@Narsil https://huggingface.co/speechbrain/asr-wav2vec2-commonvoice-fr

[2021-11-09 16:06] Narsil commented on #463
Seems to be working correctly, closing this.

[2021-11-09 16:06] #463 closed

[2021-11-11 08:06] vexhor opened #465 "Chat bot empty replies"
I've made my own chatbot in google colabs using this tutorial: https://youtu.be/UjDpW_SOrlw
I've made some changes like changing the gpt model as I wanted it to speak Russian so I picked up the well trained medium gpt3 model from sberbank.
I pushed it to huggingface https://huggingface.co/life4free96/DialogGPT-med-TeiaMoranta?
So the problem is i send a message, the bot replies to it and when I'm

[2021-11-11 08:33] Narsil commented on #465
Is it possible that your model is just generating an EOS token here (or EOS + special tokens that get removed) ?

In order to debug this, you could use `pipeline(model="life4free96/DialogGPT-med-TeiaMoranta")` and play around with it.
[code]

[2021-11-11 08:33] Narsil commented on #465
Go checkout what happens in the `generate` function you should get a better grasp of what's happening.

[2021-11-11 08:54] vexhor commented on #465
How can I do it in google colab?

[2021-11-11 09:36] Narsil commented on #465
Hi, actually, we should close this, and open a discussion here: https://discuss.huggingface.co/ if you don't mind.

We try to keep conversations in the forum so other users can search an learn from those, which is less convenient on discord (which is more for casual conversation).

I am closing this issue, but please comment with the thread on discuss once you have created it please.

Cheers.

[2021-11-11 09:36] #465 closed

[2021-11-12 11:55] github-actions[bot] opened #466 "A new community image was pushed, need to update API"
osanseviero just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/f12e6fae5fb449e1fff33cb4d67a56892c87eb05

[2021-11-12 13:24] Narsil commented on #466
Done @osanseviero

[2021-11-12 13:24] #466 closed

[2021-11-14 18:15] josephrocca opened #468 "CORs headers for model files"
**Is your feature request related to a problem? Please describe.**
I'm porting some popular models to work in web browsers (using tfjs/onnx/tflite), and as part of doing this I'd like to host my model somewhere. If the model is small enough, I can just host the model in the Github repo itself, like I've done for this version of AnimeGANv2 that runs in the browser:
* https://github.com/josephrocca/

[2021-11-15 08:33] github-actions[bot] opened #469 "A new community image was pushed, need to update API"
osanseviero just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/e7fb2fa5f5c771ec4f4e36be9cb0521eee454e9b

[2021-11-15 10:10] Narsil commented on #469
Updated (but still bugged?)

[2021-11-15 10:10] #469 closed

[2021-11-15 10:30] github-actions[bot] opened #471 "A new community image was pushed, need to update API"
Narsil just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/8651a1f88e26d355b057b3202eb29b4b1eea9f36

[2021-11-15 10:31] Narsil commented on #471
Done.

[2021-11-15 10:31] #471 closed

[2021-11-15 12:19] julien-c commented on #468
i think this is a reasonable request! cc @SBrandeis @Pierrci what do you think?

[2021-11-16 15:52] #468 closed

[2021-11-16 15:57] julien-c commented on #468
@josephrocca let us know if this works for you!!!

[2021-11-16 16:09] Pierrci commented on #468
@julien-c was so excited that he announced before it was actually deployed, should be good now :)

[2021-11-16 17:07] josephrocca commented on #468
@Pierrci Haha, moving fast! :D On my end there are no CORs headers at the moment. Might just be part of a delay in cloudfront's deployment process, or maybe something related to caching?

https://huggingface.co/rocca/openai-clip-js/resolve/main/clip-image-vit-32-float32.onnx
[code]

Which redirects to:

https://cdn-lfs.huggingface.co/rocca/openai-clip-js/bd2ccde5ba3e10a05d8276ac106f1d171c80d1be540

[2021-11-16 17:15] Pierrci commented on #468
@josephrocca indeed my bad, I forgot a little subtlety when deploying, can you try again? 😄

[2021-11-16 17:41] josephrocca commented on #468
@Pierrci Ah, so I'm now seeing CORs headers in the response for this:

https://huggingface.co/rocca/openai-clip-js/resolve/main/clip-text-vit-32-float32.onnx

But since that redirects to this:

https://cdn-lfs.huggingface.co/rocca/openai-clip-js/66cd0b4a38c3d4115d8d49b81a0e589e2c33b19434dfff48b1f694b458117a40

It's actually that latter URL that needs to serve CORs headers, since that's the respons

[2021-11-17 09:56] osanseviero opened #475 "Add inference API snippets for non-NLP tasks"
We are having more non-NLP tasks supported in the Inference API but there are no code snippets at https://huggingface.co/superb/hubert-large-superb-er even if there are at https://api-inference.huggingface.co/docs/python/html/detailed_parameters.html#audio-classification-task

This probably requires some internal changes + changing https://github.com/huggingface/huggingface_hub/tree/main/widgets/s

[2021-11-17 15:16] Pierrci commented on #468
Hi @josephrocca, we updated the configuration in CloudFront, so this time I think it should be good for real :)

(if you're testing with `curl` make sure to specify an `Origin` header, otherwise `access-control-allow-origin` isn't set in the response by CloudFront)

[2021-11-17 18:18] julien-c commented on #468
BTW @josephrocca ... this is not super well documented yet but we can use hf.co/spaces as an alternative to GitHub Pages (to host static webpages like your demo) 🤯

We experimented with client-side ML in the past, it's super cool and seems more and more stable 🔥

[2021-11-17 18:31] josephrocca commented on #468
@julien-c Very cool! Once I get the full CLIP demo going (similar to [the original Colab OpenAI published](https://colab.research.google.com/github/openai/clip/blob/master/notebooks/Interacting_with_CLIP.ipynb)) I'll host it there. HuggingFace: "Github for Software 2.0" 😄

One thing I just noticed (in the process of creating a Web Assembly build of Huggingface Tokenizers) is that there are two dif

[2021-11-18 08:15] cakiki opened #476 "[Spaces: Feature Request] Add option to select `sdk: static` when creating new space"
**Is your feature request related to a problem? Please describe.**
There is no option to create a raw HTML space from the space creation workflow. Current options are *strictly* either streamlit or gradio, even though `sdk: static` is described as an option in the docs.

**Describe the solution you'd like**
Either the option not to select an sdk and havet that default to static, or an explicit opt

[2021-11-18 08:23] julien-c commented on #476
Yes this is on our internal tracker, we're going to make those better documented and integrated into the flow (as well as fix a few bugs)

BTW saw your awesome static space yesterday, thanks for experimenting! Any feedback that you have please let us know, this is super helpful

BTW we are also thinking about maybe introducing a `sdk: docker` at some point 🤯

cc @cbensimon @osanseviero

[2021-11-18 08:45] cakiki commented on #476
Thank you, I'm glad you liked the space! I will keep experimenting and providing feedback.

`sdk: docker` would be an amazing addition.

[2021-11-18 15:32] osanseviero opened #479 "Tracking integration for Video to Text (video-text retrieval)"
## Tracking integration of task - Video Text Retrieval

Note that you're not expected to do all of the following steps. This PR helps track all the steps required to get a new task fully supported in the Hub 🔥

- [ ] Integration with Inference API. Select at least one of the following:
  - [ ] Added a `transformers` `pipeline`
  - [ ] Added to Community Inference API for 3rd party library
  - [ ]

[2021-11-18 16:30] osanseviero opened #480 "Minor improvements to audio to audio widget output"
The current output for audio to audio seems a bit  broken. Maybe the label could be in same line and have a bit of style?

WDYT @mishig25?

<img width="516" alt="Screen Shot 2021-11-18 at 5 28 37 PM" src="https://user-images.githubusercontent.com/7246357/142456018-c1854eab-3f89-4ddf-952b-656525dd4412.png">

[2021-11-19 14:12] cakiki commented on #476
@julien-c Just to double check before opening an issue for this: those bugs you mention, is one of them the fact that a space with `sdk: static` will throw an error if you don't add an empty line after the YAML header?

[2021-11-23 09:36] github-actions[bot] opened #491 "A new community image was pushed, need to update API"
osanseviero just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/f61e618b197f1deb88aa7128dfa25b0d45c227cd

[2021-11-23 09:39] #491 closed

[2021-11-23 10:16] github-actions[bot] opened #492 "A new community image was pushed, need to update API"
osanseviero just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/192bf865c351b57a26eede504114765e5aa28024

[2021-11-23 10:58] Narsil commented on #492
Deployed: https://huggingface.co/osanseviero/fasttext_embedding?text=Hey  https://huggingface.co/osanseviero/fasttext_nearest?text=Incommensurablement

[2021-11-23 10:58] #492 closed

[2021-11-23 11:02] osanseviero commented on #366
@mishig25 this is now integrated in the API - see https://huggingface.co/osanseviero/fasttext_nearest?text=apple. It would be nice to have the nearest neighbor thing instead of text classification, but not super high priority

[2021-11-23 16:25] github-actions[bot] opened #495 "A new community image was pushed, need to update API"
merveenoyan just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/10c69146969ad7f9e1add075c1ef4ec15e42e85f

[2021-11-23 17:12] nateraw opened #496 "Enable snapshot_download for different repo types"
**Is your feature request related to a problem? Please describe.**

Currently, `snapshot_download` only works for `model` repos. It would be nice to add `repo_type` kwarg here and pass it along to the underlying functions to enable snapshot downloads of dataset repos.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

You can do this via `Repository`, but i

[2021-11-23 17:19] nateraw opened #497 "Add ability to upload folder with upload_file"
**Is your feature request related to a problem? Please describe.**
In the spirit of moving away from forcing users to deal with git, it would be nice to allow folks to upload entire folders using `upload_file`, instead of having them glob/walk through all the files and call `upload_file` each time.

**Describe the solution you'd like**

[code]
**Describe alternatives you've considered**

Bonus poi

[2021-11-24 07:41] Narsil commented on #495
This was pushed at the time of this PR :)

[2021-11-24 07:41] #495 closed

[2021-11-25 14:38] #424 closed

[2021-11-25 15:19] osanseviero commented on #497
IMO instead of supporting uploading folders with `upload_file`, I would rather have a separate method `upload_folder` or `upload_files` which allows receiving a directory (or file pattern even!) to upload multiple files.

WDYT @LysandreJik?

[2021-11-25 15:22] osanseviero commented on #496
I think your solution is fine and would be consistent with the other methods.

cc @LysandreJik @muellerzr

[2021-11-25 18:01] LysandreJik commented on #496
Indeed, that would be a nice addition!

[2021-11-27 11:48] Ahmetemintek opened #502 "Getting Error while Starting Sparksession"
Hello, I am trying to create new streamlit app on HuggingFace by using pyspark in it. <br/>
I've created app.py file, requirement.txt file and I run a basic streamlit app without pyspark and it worked seamlessly. <br/>
However, problem starts when I add the following line `spark = SparkSession.builder.appName("appName").getOrCreate()` to start sparksession, I got an error like following: <br/>
` E

[2021-11-27 15:53] julien-c commented on #502
What do you usually need as system dependencies to run this?

[2021-11-27 16:08] Ahmetemintek commented on #502
On my local, I have streamlit, pyspark and spark-nlp installed, to start SparkSession I have jdk version 10.0.1 . And my apps run seamlessly. However, in Huggingface space even though I've defined all dependencies in requirements.txt file, it returns java error. I don't know what should I do for jdk for HF space.

[2021-11-27 16:21] Ahmetemintek commented on #502
To clarify the issue, let me explain step by step. <br/>
The content of my app like following:

[code]
My streamlit app works seamlessly so far and types the version of sparknlp properly.  However, when I start SparkSession like following:

`spark= sparknlp.start()`
or like:
`ss = SparkSession.builder.appName('first_draft').getOrCreate()
`
app returns the error as `Exception: Java gateway process

[2021-11-29 10:20] github-actions[bot] opened #503 "A new community image was pushed, need to update API"
Narsil just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/69ae4f069fab07be2e18cdf03877e755eeb9045b

[2021-11-29 10:26] Narsil commented on #503
Ok

[2021-11-29 10:26] #503 closed

[2021-11-29 11:09] github-actions[bot] opened #506 "A new community image was pushed, need to update API"
Narsil just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/46544b4f50d2bdbb7781786f970761ae6fe44fc1

[2021-11-29 21:49] osanseviero opened #508 "Selecting a sample in audio widgets automatically plays the audio"
For example, open https://huggingface.co/facebook/wav2vec2-base-960h, and  click sample dropdown. When selecting one, the audio automatically plays

[2021-11-29 22:31] mishig25 commented on #508
It was a feature, not a bug 😊
Please let me know if I should disable it

[2021-11-30 08:26] osanseviero commented on #508
Imo auto-play for audio is not great, it's a bit unexpected. For audio to audio it can get confusing as a user might now know if they are hearing the output audio or input audio.

[2021-11-30 18:04] FrancescoSaverioZuppichini opened #513 "List models by author from HfApi"
**Is your feature request related to a problem? Please describe.**
I would like to search for a specific author using `HfApi`. I've tried to use the `filter` option as following but the list is empty

[code]
[glasses](https://huggingface.co/glasses) is an organization with saved models on hugging face.

**Describe the solution you'd like**
It appears is indeed possible to search by authors,

![ima

[2021-11-30 22:42] julien-c commented on #502
yes, the base image for Spaces does not include Java, but you can add system dependencies through a `packages.txt` (cc @cbensimon @nateraw)

See here for instance `default-jdk` to install Java: https://huggingface.co/spaces/elonmuskceo/sparknlp/blob/main/packages.txt (I don't remember if it's documented but base image for Spaces is currently Debian Buster, cc @osanseviero)

Then I can successfully

[2021-12-01 14:38] #480 closed

[2021-12-01 14:38] #508 closed

[2021-12-02 15:56] mapmeld opened #518 "Improve right-to-left language support in inputs and outputs"
**Is your feature request related to a problem? Please describe.**

In newer versions of HuggingFace_Hub, text inputs and outputs left-justify their text, when we can add an attribute to automatically detect and adjust for right-to-left language text.

**Describe the solution you'd like**

*recommended*
- Model Page, Widget input: either the `<form>` or the `<span ... role="textbox">` element shou

[2021-12-02 15:57] osanseviero commented on #518
cc @mishig25 @gary149

[2021-12-03 15:26] tianjianjiang opened #520 "Since 0.2.0, git push fails (on Colab)"
I'm not sure whether it is a Colab-specific issue.

`git push` works with 0.1.2 using username/password login, but it fails with 0.2.[01] using token.

[code]
remote: Invalid username or password.
fatal: Authentication failed for [repo URL here]

[2021-12-03 15:29] osanseviero commented on #520
cc @LysandreJik (https://github.com/huggingface/huggingface_hub/pull/507)

[2021-12-03 16:15] LysandreJik commented on #520
Thanks for reporting, taking a look

[2021-12-03 16:21] LysandreJik commented on #520
Hmmm I can't seem to reproduce, could you share more information about the workflow? Was it a model that was previously cloned?

[2021-12-03 18:08] tianjianjiang commented on #520
I've just shared a Colab notebook with you. It contains somewhat sensitive info, so I guess better not post it here.
But you may need those info to ensure 100% reproducibility.

[2021-12-03 19:44] LysandreJik commented on #520
Thanks a lot for sharing! I don't have access to your token so I replaced all the content relative to your organization with one I have control over to replicate - with the tokens, [I confirm that using a token with `write` access allows me to push to the repository](https://huggingface.co/datasets/hf-internal-testing/test-dataset/tree/main). Using a token with `read` access, obviously, does not.

[2021-12-03 20:48] tianjianjiang commented on #520
My user/pass works for both 0.1.2 and 0.2.1 with `notebook_login()`.

---

Oops, I just realize that I haven't read the token page carefully and missed this:

So this is entirely a user error. My sincere apologies. 🙇‍♂️

---

Thank you for your patience as well. Once again, I'm terribly sorry for wasting your time, much obliged! 🖖

[2021-12-03 20:48] #520 closed

[2021-12-04 08:51] LysandreJik commented on #520
That's great news! Thanks a lot for reporting, this ended up being another stress test for our stack so it's all good.

Let us know if you have feedback regarding the new system!

[2021-12-04 09:15] LysandreJik opened #521 "[Quick poll] Give your opinion on the future of the Hugging Face Open Source ecosystem!"
Thanks to all of you, the model hub just passed 22k public models and 2k public datasets this week!

If you have a couple of minutes and want to participate in shaping the future of the ecosystem, please share your thoughts:

[**hf.co/oss-survey**](https://hf.co/oss-survey)

(please reply in the above feedback form rather than to this thread)

Thank you all on behalf of the HuggingFace team! 🤗

[2021-12-06 11:22] osanseviero opened #523 "Token classification widget makes labeled token invisible in dark mode"
https://huggingface.co/Lauler/demformer?text=dem+har+s%C3%B6kt+upp+de+f%C3%B6r+att+prata
<img width="530" alt="Screen Shot 2021-12-06 at 12 18 57 PM" src="https://user-images.githubusercontent.com/7246357/144837326-f2e6617a-5b2d-4ac6-a944-322ad981cf97.png">

[2021-12-07 11:11] merveenoyan commented on #337
I trained and written `pipeline.py` for image captioning in Keras: https://huggingface.co/merve/image-captioning (with generic for now, image-to-text models come in different shapes and sizes so I'll see if I can make any abstractions in Keras).
We need the widget for image-to-text models in general imo. (I've written the tag as `image-to-text` but there's no such thing I guess as I couldn't find

[2021-12-07 14:07] osanseviero commented on #337
This is great @merveenoyan! 🔥 For this to be recognized as a task, we need to have `image-to-text` at https://github.com/huggingface/huggingface_hub/blob/main/widgets/src/lib/interfaces/Types.ts and then we can try it directly with the API. Would you like to open a PR for that?

[2021-12-07 14:48] merveenoyan commented on #337
@osanseviero 🐥 https://github.com/huggingface/huggingface_hub/pull/525

[2021-12-07 16:25] julien-c commented on #513
This is not document nor implemented in the `huggingface_hub.HfApi` wrapper yet (cc @LysandreJik @muellerzr @osanseviero), but you can do https://huggingface.co/api/models?author=glasses to get models by author

you can also do https://huggingface.co/api/models?search=glasses to get model names that contain the string "glasses"

There exist equivalent endpoints for datasets and spaces.

`list_mode

[2021-12-07 16:26] julien-c commented on #513
If you'd like to implement this in `huggingface_hub` feel free to give it a shot!

[2021-12-08 13:53] FrancescoSaverioZuppichini commented on #513
Hi @julien-c , thank you for the highlights! I'll work on that ;)

[2021-12-11 09:34] koaning opened #532 "Show `pipeline` in "use in transformers" instead."
When I go to a repo [like this one](https://huggingface.co/oliverguhr/fullstop-punctuation-multilang-large) I can click the "use in transformers" button. This makes me think "grand! that'll be a quickstart!". It shows me this code;

[code]

This is a bit of a bummer. It tells me how to set up a tokenizer and a model. But it doesn't tell me at all how to use the model. It'd be much more pragmatic i

[2021-12-13 19:19] Pierrci commented on #532
Transferred here since more related to the hub, and https://github.com/huggingface/huggingface_hub/blob/main/widgets/src/lib/interfaces/Libraries.ts in particular

[2021-12-14 13:59] merveenoyan opened #533 "push_to_hub_keras should support multiple models"
It's a minor UX improvement for `push_to_hub_keras`.

Some applications like RL or non-transformers encoder-decoder networks (CNN encoder RNN decoder) have multiple models instead of one model.

We could pass a list to `model`, get the model names and save those models individually under different folders and push. (check if list or a model with isinstance first)

An alternative is `git pull` ever

[2021-12-14 15:25] pleonova opened #534 "(Spaces) Unable to sync with github actions"
I followed the instructions in the docs but have not been able to sync my spaces repo with GH actions (https://huggingface.co/docs/hub/spaces#manage-app-with-github-actions).

I was able to force sync everything for the first time, set up the HF_TOKEN in my environment secrets and allow all actions in the settings.

I copied the two yaml files to actions flow and modified the url. However, I keep

[2021-12-14 16:26] muellerzr opened #535 "New Filtering API for `HfApi`"
I'll be working on the implementation of this. This feature will introduce a `Filter` class which allows for a nice user-centric searching API for the Hub + a `search_by_filter` method of some degree.

A rough example of what this could look like is the following:
[code]

Aimed search parameters:
- Author or Organization (`author_or_organization`)
- Framework, such as TF or Torch (`framework`)
- T

[2021-12-14 22:45] julien-c commented on #534
maybe @SBrandeis (or @cbensimon) will have an idea!

[2021-12-15 09:14] SBrandeis commented on #534
@pleonova it looks like your GitHub action secret is not set properly

[2021-12-15 15:46] danijelpetkovic opened #540 "Use espnet/kan-bayashi_ljspeech_vits model via inference api"
https://github.com/huggingface/huggingface_hub/blob/eeeb0d1b352fb3249541bb62f1f57f41ae3ab4e0/api-inference-community/docker_images/espnet/app/pipelines/automatic_speech_recognition.py#L8

Hey guys. I tried to use the mentioned model via inference api and the audio that comes as an response is distorted.

When I try to import the model and call it directly it returns a nice audio with nice voice:

[2021-12-15 16:08] pleonova commented on #534
Thank you @SBrandeis for you advice! I wasn't sure which of the steps I did wrong as I hadn't set up GH actions before, but your tip helped me debug, thank you!

In case this would be helpful to those who are new setting up a remote repo and github actions, I added some notes below:

Additional notes to the steps provided here: https://huggingface.co/docs/hub/spaces#manage-app-with-github-actions

[2021-12-15 22:41] benjismith opened #541 "Text-generation API endpoint fails to handle integer-formatted numeric arguments in JSON request"
When I call the hosted text-generation API, the request fails if I set the `temperature` parameter to an integer value of `1` instead of a float value of `1.0`.

For example, this succeeds:

[code]

But this request fails:

[code]

...with this error message:

[code]

Both requests should succeed. The only difference between the two requests is the numeric formatting of the `temperature` parameter

[2021-12-16 10:52] Narsil commented on #541
Hi @benjismith , thanks for reporting.

This is now fixed ! Can you confirm before I close ?

[2021-12-16 15:09] muellerzr opened #544 "Housekeeping: Improve the time for the base test suite + Randomly Failing Tests"
Currently the test suit takes 10+ minutes to run, depending on your computer. I ran them all with `--durations=0` so we can see how long each of them take.

**Ideal goal:** Speed up the top 100 tests

Most of our longest tests are either in `test_repository` or `test_snapshot_download`

cc @LysandreJik @julien-c so it's on your radars

## Tests by duration
[code]

[2021-12-16 23:13] benjismith commented on #541
I'm still seeing the same behavior on my private model `shaxpir/prosecraft_resumed_ft2`

[2021-12-18 16:57] zaccharieramzi opened #549 "Model template"
**Is your feature request related to a problem? Please describe.**
I am starting to use the Hugging Face hub to store some of my models.
Some of them are very similar and are only different in some parameters.
Right now I will have to create a new model repository for each one of them (I understand this is the typical way to do it).

**Describe the solution you'd like**
It would be nice if I could

[2021-12-18 22:36] zz2995 opened #550 "website error"
https://huggingface.co/docs/transformers/main_classes/deepspeed
This is just a small error. Hope it can be fixed.  The correct name is deepspeed
![image](https://user-images.githubusercontent.com/90665153/146657284-53cf8745-990e-4a44-afb7-f756435da7ad.png)

[2021-12-20 11:05] julien-c commented on #550
gentle ping to @stas00

[2021-12-20 17:20] #550 closed

[2021-12-20 18:55] stas00 commented on #550
Thank you for letting us know about the typo, @zz2995! Should be fixed on the next doc rebuild.

[2021-12-21 05:07] josephrocca opened #554 "Upload progress bar contrast should be higher"
Here's the current progress bar:
![image](https://user-images.githubusercontent.com/1167575/146874320-bfaf7649-4783-4beb-936b-bb79fd83dd19.png)

For better accessibility and UX I think it should be closer to something like this:
![image](https://user-images.githubusercontent.com/1167575/146874482-9ca91a63-776d-45dd-bdfb-78150df636e0.png)

[2021-12-21 05:48] josephrocca opened #555 "Allow uploading large files via the web UI"
**Is your feature request related to a problem? Please describe.**
I tried to upload a 13GB dataset file (for [this repo](https://huggingface.co/datasets/rocca/sims4-faces)), and after waiting a couple of hours for it to upload, it gave a "Payload too large" error.

**Describe the solution you'd like**
I'd like to be able to upload large dataset files using the web UI.

**Describe alternatives you

[2021-12-21 11:23] LysandreJik commented on #555
cc @julien-c

[2021-12-21 15:12] LysandreJik commented on #169
I believe this was closed by #315 :)

[2021-12-21 15:12] #169 closed

[2021-12-22 09:55] osanseviero opened #557 "Creating a repo does not allow using model as repo_type"
Using `create_repo` does not accept `repo_type="model"` right now. This is counter intuitive, specially as the params docstring says

But in reality only `dataset` and `space` are [allowed](https://github.com/huggingface/huggingface_hub/blob/7b7b6e18ad6b770ca7cce3187512e91dc22a4dee/src/huggingface_hub/constants.py#L36).

Here is an example painful usage in which I need to have conditionals to hand

[2021-12-22 09:58] LysandreJik commented on #557
Indeed, there's a bit of a discrepancy as initially there were only model repositories. I think it's fine if the backend remains the same (using `None`), but the frontend should probably allow `"model"` as a valid `repo_type`.

[2021-12-22 09:59] osanseviero opened #558 "Allow changing remote origin with Repository"
This is a bit of a power-user case, so actually I'm not sure we want this in `huggingface_hub`. I used this to be able to fork repos, but apart from that there might not be too much usage, so wanted to bring it up and see what you think.

We already have a [getter method](https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/repository.py#L692) for the remote origin url.

cc

[2021-12-22 10:47] LysandreJik commented on #558
I think a broader solution to this would be to add a very configurable git method  that would take as commands any git command. For example, something alongside:

[code]

As long as this is launched with the `shell=False` parameter of `subprocess` it should be somewhat security friendly, and would enable complex use-cases like you describe without needing to interact with the command line directly

[2021-12-22 10:57] julien-c commented on #557
agree with @LysandreJik solution

[2021-12-22 10:59] julien-c commented on #555
For @SBrandeis (and cc @Pierrci)

I think we said we would remove the 5GB limit on file upload no? (But WDYT of keeping a 20GB limit as larger than that files aren't CDN-distributed and it's just not something that we want to support IMO)

[2021-12-22 11:00] julien-c commented on #555
Thanks for the report @josephrocca the plan is to support file uploads up to 20GB and check the blob size client-side for files larger than 20GB.

WDYT?

[2021-12-22 11:57] merveenoyan opened #559 "Push to Hub Callback for non-transformer Keras models"
This is a feature request that will improve the UX of Keras audience that will increase the number of non-transformer Keras models on the Hub.

We want a callback that is something similar to below one but for Keras models on Hub.
https://github.com/huggingface/transformers/blob/824fd44fc314b0d13b1ef91e8122d35d14af5ad9/src/transformers/keras_callbacks.py#L19

This is relatively easier to implement

[2021-12-22 13:13] osanseviero commented on #559
cc @Rocketknight1 @LysandreJik

[2021-12-22 18:52] julien-c commented on #549
Replying not to the feature request itself, but to this last sentence

You are right, in most cases we advise to store different models (checkpoints) into different repos, so it's super easy to use them from libraries etc.

There are exceptions: for instance different checkpoints inside the same training run, or fp16 or other type variations, are best stored in the same model repo.

[2021-12-22 20:04] zaccharieramzi commented on #549
I have worked a lot on a topic called MRI reconstruction, basically generating an MRI image but with undersampled measurements.

For a lot of models, I have different weights depending on the undersampling factor, or the organ to reconstruct.
I sometimes have a different model architecture altogether, but still the model card is pretty similar (same paper, same way to report evaluation etc): this

[2021-12-23 03:46] #534 closed

[2021-12-23 10:25] julien-c commented on #549
yes in that case I would indeed keep separate model repos (cc @osanseviero) but build some scripts to help you sync them together etc

we'll keep this use case in mind for the future but probably not on the short-term roadmap!

PS/ oh you're from the awesome Parietal team! That's great!

[2021-12-23 13:15] julien-c commented on #77
linked to https://github.com/huggingface/huggingface_hub/issues/532 and can probably be addressed at the same time

we can display link to the doc inside the "How to use" modal like this:

<img width="823" alt="Screenshot 2021-12-23 at 14 12 46" src="https://user-images.githubusercontent.com/326577/147245706-7607f1d3-be8b-4f78-95c0-71ef9982349d.png">

Thoughts?

[2021-12-23 17:23] zaccharieramzi commented on #549
Haha yes I leaving very soon (end of the PhD) but it is indeed an awesome team !

One more question before I close this issue : do you by any chance have an example of the type of scripts you are talking about ?

[2021-12-24 09:17] julien-c commented on #549
no it's really custom scripts in shell/Python/whatever you prefer :)

[2021-12-24 09:30] zaccharieramzi commented on #549
Makes sense thanks!

[2021-12-24 09:30] #549 closed

[2021-12-29 02:09] Lauler commented on #523
Model changed name/URL to here: https://huggingface.co/Lauler/deformer?text=de+har+simmat+bort+mot+de+andra+barnen.

[2021-12-29 14:59] sharaku17 opened #565 "'num_return_sequences' Parameter for Text2Text generation Models"
**Is your feature request related to a problem? Please describe.**
I am trying to use the Inference API for Text2text generation Models, namely for Paraphraser Models. One example would be the Pegasus Paraphraser. Using this model in a colab with the transformers library works great, I can define the `num_return_sequences` Parameter and the Model outputs as many paraphrases as I want for a given i

[2021-12-30 10:33] Narsil commented on #565
Hi @sharaku17 ,

Indeed the PR only needed a small quality fix `make fixup`. https://github.com/huggingface/transformers/pull/14411 but original author never did it.

I resurrected the PR here: https://github.com/huggingface/transformers/pull/14988 will be supported on the API once it gets merged (or very soon after lets say)

[2022-01-02 10:21] merveenoyan opened #567 "Text Classification in Hosted Inference API with Multiple Inputs"
Some of the text classification tasks take two inputs just like similarity models, but since the problem is text classification, widget takes only one text, which confuses users on how to pass their text to model in hosted inference API. See [this question in the forum](https://discuss.huggingface.co/t/two-texts-inputs-for-text-classification-in-inference-api/12805).
Couple of other example models

[2022-01-02 21:37] sharaku17 commented on #565
Hey @Narsil ,
first of all thank you for resurrecting the PR and also adding the needed fix.
I saw that the PR was merged about 3 days ago, so I tried to see if it worked now, but I am still only receiving one Paraphrase back from the API.

Code is still the same as the one above in my first post. Any idea why this is still happening?

[2022-01-03 13:49] Narsil commented on #567
pipeline-wise, it seems that this task is more like pair-wise classification, NOT pure classification.

zero-shot uses under the hood entailment to do the job, but it does not seems like the pipeline will be reusable (since 1 sentence, comma-separated labels -> classification outputs) is not really what is desired here (couple of sentences -> Entailment/not entailment/neutral classification).

Cou

[2022-01-03 17:54] merveenoyan commented on #567
Hello @Narsil 🤗
Yes, it's just there's this family of tasks in text classification called GLUE and it's way too general (reason why we needed zero shot classification, I guess). For [QNLI](https://huggingface.co/models?pipeline_tag=text-classification&sort=downloads&search=qnli) ones we can simply change the name of the input texts in the widget imo, it only takes a question and a context. There's

[2022-01-04 08:54] Narsil commented on #567
I see !

Right now I don't see anything around having a new pipeline for processing texts two at a time in a classification manner (`text-classification` cannot be realistically extended, since `pipe(["text1", "text2"])` is already defined and just means classify two texts). I am also not in favor of mixing argument types all the time.

`sentence-similarity` fits the bill perfectly and already exi

[2022-01-04 09:22] osanseviero commented on #567
Just as a note, I see many models are using Crossencoder which is a `sentence-transformers` class, so maybe we should also consider moving some models to `sentence-transformers`. E.g.
* https://huggingface.co/cross-encoder/ms-marco-MiniLM-L-12-v2
* https://huggingface.co/cross-encoder/qnli-electra-base
* etc

Anyways, I think `sentence-similarity` name is a bit strange for this case, no? I think t

[2022-01-05 10:47] #139 closed

[2022-01-05 11:38] merveenoyan commented on #567
@osanseviero QQP and MRPC models answer if one sentence is a paraphrase of another so they're irrelevant with `sentence-similarity` yet take two inputs (they're in GLUE).

[2022-01-05 17:07] #47 closed

[2022-01-06 15:09] #535 closed

[2022-01-06 16:47] #513 closed

[2022-01-09 20:22] ck37 opened #582 "Can't upload custom TF models e.g. TFBERT, TFRoBERTa due to model.save() failing"
Hello,

I'm interested in sharing models on the HF Hub but it appears that custom TF models can't be shared because their model.save() doesn't work (appears to be a known issue: https://github.com/huggingface/transformers/issues/13610#issuecomment-921134250).

I've [uploaded a Jupyter notebook to colab](https://colab.research.google.com/drive/12uUvOTKUsPTcBMJphhhgglQRT_8pcQmC#scrollTo=VhGQbQvYevrM

[2022-01-10 14:15] LysandreJik commented on #582
Hey @ck37, @Rocketknight1 can validate but I believe this was fixed recently, and `model.save` now works correctly.

The TF models from `transformers` have a `push_to_hub` method which you may leverage to push your models!

[2022-01-10 15:05] Rocketknight1 commented on #582
Investigating now, pinging @nateraw and @gante on this one too! I've confirmed that there is an underlying issue here where `model.save` is failing on Keras sequential/functional models containing HF models as layers. This is an issue I'd hoped was fixed already (see [#14361](https://github.com/huggingface/transformers/pull/14361) in `transformers`), but obviously there are some rough edges here t

[2022-01-10 15:11] Rocketknight1 commented on #582
Actually, wait, I think the issue may be with some of the example code! Replacing
`hf_result = transformer_model([input_word_ids, input_mask])`
 with
`hf_result = transformer_model(input_word_ids, input_mask)`
causes one of the examples to save correctly.

[2022-01-10 15:17] ck37 commented on #582
Interesting, confirmed that it resolves the problem for me - appreciate it.

And yep, the documentation says that inputs can be passed as a list in the first argument, so it would be good to support that form of calling the model (or at least try to catch if that form has been used and give a clearer notice to the user): https://huggingface.co/docs/transformers/model_doc/roberta#transformers.TFRob

[2022-01-10 15:28] Rocketknight1 commented on #582
Yeah, this is something we should either support fully, or be very clear that we don't support - something that works half the time but breaks when you try to save is very messy for everyone. I'll make a note in our internal TF roadmap and see if we can come up with a proper solution.

[2022-01-10 22:46] julien-c commented on #476
Ok this was finally shipped! Yay!

https://twitter.com/julien_c/status/1480671645060956166

[2022-01-10 22:46] #476 closed

[2022-01-11 16:20] nateraw opened #586 "Add warning when cloning/downloading from repos we've marked as unsafe"
**Is your feature request related to a problem? Please describe.**

The Hub now warns you if malware has been found in a HF repo. Perhaps it would be wise to warn users when they are either cloning these repos or downloading files from them.

**Describe the solution you'd like**

When a user is cloning or downloading from `huggingface_hub`, they should get a very noisy warning letting them know th

[2022-01-11 16:22] osanseviero commented on #586
Not super high priority imo since we don't have any infected repos, but having is an important feature. Probably also worth having in `transformers`, specially with custom code getting more supported (cc @LysandreJik @sgugger)

[2022-01-12 05:00] samjgorman opened #588 "Display size of the generated dataset, downloaded dataset files, total amount of disk used in GB when MB >= 1000 in dataset cards"
**Is your feature request related to a problem? Please describe.**
Currently, the following data fields on the hub are only displayed in MB.

--Size of the generated dataset:
--Size of downloaded dataset files:
--Total amount of disk used:

Figures like 1895.01 MB and 1611.50 MB can become unwieldly as they grow in size to reason about the space they require, compared to 1.89501 GB or 1.6115 GB.

[2022-01-12 16:34] #126 closed

[2022-01-13 11:00] #77 closed

[2022-01-13 11:02] NielsRogge opened #591 "Make it possible to skip large files when doing push_to_hub"
**Is your feature request related to a problem? Please describe.**

Suppose you have a repo on the hub with some large model files (>1 GB). Suppose that you want to upload some very small tokenizer files to that repo (this was my use case).

Currently when doing

[code]

, it will first clone the entire repository (this takes a while!), downloading the big model.pt file, before I'm able to upload

[2022-01-13 11:07] osanseviero commented on #591
WDYT @muellerzr?

cc @LysandreJik

[2022-01-13 11:26] LysandreJik commented on #591
As discussed offline this is very linked to #321, which I believe Zach wants to work on next week.

[2022-01-13 13:04] muellerzr commented on #591
Correct! Will make sure to touch on this.

[2022-01-14 12:53] ariG23498 opened #593 "Saving a keras model with the data augmentation layer"
I am trying to add a keras model to the hub using the `push_to_hub_keras` API

https://github.com/huggingface/huggingface_hub/blob/4ecdf28db59ad93569378fe79abd87ec6d5ed071/src/huggingface_hub/keras_mixin.py#L60

It seems to error out due to the inclusion of an augmentation layer inside of the model. [A stackoverflow thread](https://stackoverflow.com/questions/69955838/saving-model-on-tensorflow-2-

[2022-01-14 13:13] merveenoyan commented on #593
@ariG23498 hello 👋🏼 Can you downgrade TF to 2.6 and try again? should work.

[2022-01-14 13:55] ariG23498 commented on #593
Hey @merveenoyan
Thanks for the quick reply. I have tried downgrading and it works.

But I do not think this can be a permanent solution to the problem. There are some APIs that `2.7` provides which are either in `experimental` stage or non existant in `2.6`. I would need some more time to hack into the API to have a proper solution, but if anyone wants to look into this or already has a solution

[2022-01-14 15:23] #506 closed

[2022-01-14 15:31] osanseviero opened #595 "Some custom objects are not being serialized with push_to_hub_keras"
Self-contained code example:

[code]

Error

[2022-01-14 16:26] merveenoyan commented on #593
@ariG23498 this is indeed a problem, team at TF has solved it in nightly AFAIK, will probably be gone soon. Under the hood, `push_to_hub_keras` is calling `tf.keras.models.save_model` and we’d have to change it’s behavior to solve it. I’ll look into that.

[2022-01-15 16:39] osanseviero commented on #595
Similarly with

[code]

[2022-01-15 16:44] osanseviero opened #597 "Enable download stats for Keras models"
Right now, we only count downloads for `config.json`, but for `keras` we should do for `saved_model.pb`. This should be a super small change in [internal code](https://github.com/huggingface/moon-landing/blob/master/server/lib/Elastic.ts#L82)

[2022-01-16 16:58] ariG23498 opened #598 "Use all parameters of the `keras.models.save_model`"
With the current implementation of saving a keras model we are missing out on a number of different parameters as mentioned in the [official docs of `tf.keras.models.save_model`](https://www.tensorflow.org/api_docs/python/tf/keras/models/save_model)
[code]

From the `push_to_hub_keras` code:
https://github.com/huggingface/huggingface_hub/blob/aa4994cf98db77cd709ea7a107a83b39c0d8f91b/src/huggingfac

[2022-01-16 18:16] ariG23498 commented on #595
Hey @osanseviero @merveenoyan

I was successful in uploading the custom objects with `push_to_hub_keras` API. The main steps are:
- Have a `get_config` method for all the custom layers.
- Serialization of tensors that are used in the custom layers.
[code]
- Not using `augmentation` layers inside the model. TensorFlow `2.7` has a problem with serializing the augmentation layers. Here I have used th

[2022-01-17 08:35] oliverguhr commented on #532
Thanks @koaning, for now I added you sample to the model card.

However, it looks like the pipeline API processes the first 512 tokens of the input text and truncates the rest.
@julien-c Is there a way to change that behaviour?

[2022-01-17 08:47] osanseviero commented on #595
Hi @ariG23498! This is great and very useful.

The `augmentation` layer is TF `2.7` specific and hopefully it should work with incoming versions. That way the end-user does not need to know to know any pre/post processing steps and everything is within the saved model.

I wonder if there's any way to achieve this programmatically instead of expecting users having to implement this (cc @Rocketknigh

[2022-01-17 09:25] merveenoyan commented on #595
@osanseviero I feel like this might be not specific to 2.7. I saw @ariG23498 downgraded TF to 2.6 to save the model, so model was still saved (his first issue was related to that and we fixed it that way) but custom layer was still needed to be registered for us to load the model, the error we got about AdamW was related to that (see below) and it has nothing to do with 2.7.
If you have a custom o

[2022-01-17 09:37] julien-c commented on #532
@oliverguhr do you mind opening a new issue for this? (probably in transformers)

[2022-01-17 10:30] Narsil commented on #532
@oliverguhr tag me on that issue if you want as I work on the pipelines.
Let's continue the discussion over there, but the short answer, is :
- It would be a breaking change to crash when length > `model_max_length` instead of just truncating (which has been the default behavior for a long time). We'll see, but it would require `5.0` to make that change as is (there are probably ways we can make t

[2022-01-17 11:28] ariG23498 commented on #595
Yep. This is the only way to go. Even TensorFlow throws an error while trying to save a custom model. It is a platform specific error that needs to be checked by the user and not the HF team IMO.

[2022-01-17 12:46] gante commented on #595
I agree with what @ariG23498 wrote about custom layers, its flexibility (which makes it hard to automate) can be a boon. And the creators of custom layers are mostly power user anyways, in my experience :D

For completeness of discussion, there is a point yet to be addressed in this discussion. The error that @osanseviero originally points at can be avoided by importing `tfa`, which is needed to l

[2022-01-17 12:59] ariG23498 commented on #595
Hey @gante

I love the insights that you bring to the table.

I think https://github.com/huggingface/huggingface_hub/issues/598 covers the issue that you are talking about. Do let me know what you think.

[2022-01-17 13:05] merveenoyan commented on #595
I'm carrying the conversation there

[2022-01-17 13:06] merveenoyan commented on #598
@gante @osanseviero @ariG23498 we could introduce `include_optimizer` as an optional parameter that is set to default as False. For other parameters you indicated here we could maybe include signatures which would allow users willing to use their model on TF lite. I don't see a need to change the rest. WDYT?

[2022-01-17 13:09] merveenoyan commented on #595
@gante @ariG23498 @osanseviero
`save_traces` registers every custom layer to SavedModel by default and we don't need to register custom objects, it's my bad. I thought the error @ariG23498 got was related to that because the error message indicated this.
Now, we only need to change `include_optimizer` and maybe we could change `signatures` for TF Lite users, related to #598.

[2022-01-17 13:10] merveenoyan commented on #598
Answered it in the previous issue but my 2 cents:
[code]

[2022-01-17 15:29] merveenoyan commented on #598
Hello 👋  I'm currently on it. Will inform you when I open the PR 🤗

[2022-01-17 15:46] #597 closed

[2022-01-17 17:04] beurkinger opened #600 "Paginate Organizations page"
before someone's computer catch fire :p

[2022-01-17 17:04] #600 closed

[2022-01-18 02:07] xhlulu opened #601 "`hf_hub_download` does not pre-cache files for `Model.from_pretrained`"
In [this tutorial](https://huggingface.co/docs/hub/how-to-downstream), it seems to imply that the huggingface-hub function `hf_hub_download` is useful for pre-caching model pretrained weights:

Moreover, calling `Model.from_pretrained` will not actually automatically load the weights downloaded with `hf_hub_download`. It would be nice if this would be supported, or otherwise an example on how to l

[2022-01-18 12:27] LysandreJik commented on #601
Hi @xhlulu, that's a very good point! I believe that with `Model.from_pretrained`, you're using `transformers` models?

This is due to `transformers` saving in `$CACHE_DIR/transformers/<etag>`, and `huggingface_hub` saving in `$CACHE_DIR/hub/<etag>`. It would require minimal changes to have `transformers` look for the files in the `hub` folder.

A small issue with enabling this is that this simple

[2022-01-18 16:26] beurkinger opened #604 "Update widget links"
<img width="617" alt="Screen Shot 2022-01-18 at 5 19 04 PM" src="https://user-images.githubusercontent.com/8323351/149977440-75fd713f-f791-485c-9226-7382b38c471e.png">

[2022-01-18 17:45] xhlulu commented on #601
That would be amazing!

[2022-01-19 06:36] josephrocca commented on #555
Any progress on this? Just tried again, but this time I split the file into a couple of ~6GB files to be safe. This time I got a 504 error for one of them, and a 500 error for the other. I have a symmetric gigabit connection, but the uploads took 1 or 2 hours, so it seems a bit slower than it perhaps should be, and maybe that caused the 504 timeout, but I'm not sure about the 500 error. The speed

[2022-01-19 09:04] julien-c commented on #555
This has been implemented/shipped 20 days ago but we had server connectivity issues earlier today so maybe it was a temporary hiccup?

[2022-01-19 10:08] #604 closed

[2022-01-20 14:01] ck37 opened #611 "Text regression rather than classification"
**Is your feature request related to a problem? Please describe.**
I am trying to share our hate speech measurement model, which predicts a continuous measure for hate speech severity. So it is doing text regression rather than classification, but the input remains just a text input that gets tokenized. Is it possible to clarify if I need to create a custom pipeline for this, or how else to procee

[2022-01-20 15:44] merveenoyan opened #612 "Text2text task link redirects to text2text"
I don't know if it should be hub that I'm opening the issue here, but basically we have only one task for both text generation and text2text generation (because they're pretty much the same) but the widget link redirects to non-existent text2text  task page. (You can see below) (The task name is "Text Generation" and it covers text2text as well)
@osanseviero @beurkinger

<img width="1027" alt="Ekr

[2022-01-20 16:19] Narsil commented on #611
Hi @ck37 ,

First of all, this looks like a cool model, congrats !

Just to make sure I understand, the output of the model is a float between [0, 1] corresponding to the level of hate in given speech, right ?

If that's the case, maybe we can reuse `text-classification` that would output something like `(Hate: alpha, Not hate: 1 - alpha)`. with the bars showing like you can see on other `text-cla

[2022-01-20 16:21] merveenoyan opened #613 "Better visibility for task redirection inside widget"
<img width="494" alt="Ekran Resmi 2022-01-20 19 19 27" src="https://user-images.githubusercontent.com/53175384/150378768-eeae0810-79a0-44d0-92ab-da1a59e1eb68.png">

Hello,
I think that the task redirection inside widgets is not that visible (see above). Can we somehow but sort of a button next to the name of the task?

cc: @gary149 @beurkinger @osanseviero

[2022-01-20 16:26] ck37 commented on #611
Thanks @Narsil, appreciate the help. The output of the model is a float roughly ranging from -8.0 to +5.0 (this is the result of an item response theory transformation of 10 ordinal labels), so it doesn't seem like reusing `text-classification` would work. I guess if forced we could rescale the output to [0, 1] but that would be less ideal because it wouldn't correspond with the paper, plus people

[2022-01-20 16:33] merveenoyan opened #614 "Task page redirection from the model search page"
Hello,
I think it's a UX improvement and an improvement for better visibility of the pages. I want a redirection from the models page to task page, such that when they people filter for a task, they can also get better information on it (+these resources would be more visible)

<img width="1028" alt="Ekran Resmi 2022-01-20 19 32 22" src="https://user-images.githubusercontent.com/53175384/150381086