[2022-01-20 16:38] beurkinger commented on #613
I think @gary149 preferred not having a new button ?

[2022-01-20 16:40] beurkinger commented on #614
What we could do is having some sort of link/button next to the "Tasks" filter category that redirect to the /tasks page ?

[2022-01-20 16:40] beurkinger commented on #614
Idk how relevant it is on this page

[2022-01-20 16:45] beurkinger commented on #612
Good point, I think I implemented this link a bit too hastily.

Before doing anything I need to know:
- what are the tasks share the same task page ?
- what are the tasks that don't have a task page ?

@merveenoyan @osanseviero

[2022-01-20 16:46] merveenoyan commented on #614
yes that's what I thought
also @julien-c @jeffboudier since we talked about it today (maybe they might have an additional suggestion)

[2022-01-20 16:50] merveenoyan commented on #612
@beurkinger it's only this one, that "Text Generation" task page is shared by Text-Generation and Text-2-text generation.
I tested the rest and there's no problem.

[2022-01-20 16:54] beurkinger commented on #612
Hmmm this will need new code logic both on the hf_hub and moon-landing side I think 🤔

[2022-01-20 19:59] jeffboudier commented on #614
Personally I wouldn't have it on the default /models sidebar, it doesn't feel contextual enough, my suggestion would be to have the link after the user clicks on the list overflow button [+13], then you're really considering all the different tasks and interested about what else HF offers in tasks

And maybe so we don't add cognitive load instead of adding a linked label (e.g. "[learn more](https:

[2022-01-21 09:38] osanseviero commented on #614
I agree with you @jeffboudier that having in the /models sidebar by default does not feel right.

One of the concerns with the underline on hover is that it's not discoverable at all. Maybe not a linked text, but for me a ? icon next to "Tasks" **only** after clicking [+13] would be a good trade-off between discoverability and cognitive overload.

[2022-01-21 10:51] merveenoyan commented on #614
Agreed. That's what we currently have in the widgets and I think it's not good for visibility.

[2022-01-21 15:19] josephrocca commented on #555
@julien-c I just tried again and got a 500 error when it was >80% complete (after about 40-50 minutes). I'm just uploading a 6GB tar file, and it uploads at about 2 megabytes/sec. A 600MB file uploads fine. If you can somehow simulate the 2 MB/s upload speed (devtools might alow you to do this?) then my guess is that you'd be able to replicate it. Seems like it has to do with some sort of timeout

[2022-01-21 18:21] jeffboudier commented on #614
Yes I understand @merveenoyan @osanseviero - and what's good for visibility of one feature is bad for the overall cognitive load. The (?) icon makes sense functionally (I think more so on the /models expanded task sidebar vs. inference widget task link, because it's more directly connected to what user explicitly wants to do), but I haven't seen us use that UI much across the site (most labels on

[2022-01-21 19:20] yananchen1989 commented on #565
Face the same issue, version:4.15.0

[2022-01-24 11:33] Narsil commented on #565
@yananchen1989 this hasn't been merged in 4.15, can you try loading from `master` ? It will be available in 4.16 though.

[2022-01-24 11:35] Narsil commented on #565
I will close the issue, since the API already runs the necessary code.

Feel free to reopen if you think this is not the case.

[2022-01-24 11:35] #565 closed

[2022-01-24 13:39] ck37 commented on #611
@Narsil I think it will be most straight-forward to simply have a TextRegression task/pipeline. It's really not uncommon in science or machine learning to have a continuous outcome to predict rather than discrete - age, income, price, BMI, etc. All it really entails is having no activation function (i.e. linear activation) in the final output node, and not assuming that there is an associated labe

[2022-01-24 15:46] julien-c commented on #611
also pinging @osanseviero, wdyt? Do you think this task common enough to warrant a new task type?

[2022-01-24 17:48] #557 closed

[2022-01-25 05:58] bayartsogt-ya opened #624 "`unknown error` in TTS Model Loading"
**Is your feature request related to a problem? Please describe.**
I am trying out text-to-speech pipeline and I pushed files to hub based similar to [this one](https://huggingface.co/facebook/tts_transformer-ru-cv7_css10/tree/main) except I am not using hifigan as vocoder, but using the default griffin-lim.

When I try to load in interface, I am getting following error:
![Screenshot from 2022-01-

[2022-01-25 07:36] tianjianjiang commented on #520
@LysandreJik It's been a while. I just want to share the reason I sometimes use `!huggingface-cli login` before I forget. Nothing critical, so I didn't open a GitHub issue.
When using `notebook_login()`, that webpage isn't blocking. I think that is a feature, and yet sometimes I schedule a run of many cells after that, then a non-blocking `notebook_login()` will lead to a wrong state. In theory, I

[2022-01-25 08:59] osanseviero commented on #624
Hey there! I was able to replicate using the Inference API code

[code]

In the last step I get a index out of range, so there seems to be some issue with Fairseq here.

[2022-01-25 09:00] osanseviero commented on #624
Maybe @patrickvonplaten or @kahne have some ideas on this one

[2022-01-25 09:12] osanseviero commented on #611
I haven't seen this use case often so far. I think adding a new type might be a bit of an overkill and as @Narsil pointed out, maybe a Space is worth getting things started :)

[2022-01-25 09:40] patrickvonplaten commented on #624
Sadly I don't really know what's going on etiher here - @kahne should we move this issue to https://github.com/pytorch/fairseq/tree/main/fairseq ?

[2022-01-25 11:32] Narsil commented on #624
It's an embedding error where the `src_tokens` exceed the vocab_size of `TTSTransformerEncoder`.

[code]

[code]

[2022-01-25 16:55] #612 closed

[2022-01-25 23:22] bayartsogt-ya commented on #624
Thank you so much @osanseviero @Narsil @patrickvonplaten

I just found that when I use only characters that are present in `spm_char.txt`, then it is working fine. In my case, I just needed to lowercase :sweat_smile:

I also could have specified the uncased or cased scenario in sentencepiece training.

I guess the root cause was [sentencepiece encoding](https://github.com/pytorch/fairseq/blob/5fd3

[2022-01-25 23:22] #624 closed

[2022-01-26 08:18] Narsil commented on #624
Still think it's something the pipeline should handle then IMO, no ?

[2022-01-26 16:09] kahne commented on #624
Hi all, thanks very much for the discussions here! `src_dict.encode_line()` adds OOV tokens to the dictionary by default instead of replacing them with the UNK token (needs to set `add_if_not_exist=False`). I will update fairseq with this fallback to UNK.

[2022-01-27 08:08] osanseviero opened #627 "Automatically upload tensorboard traces if available with keras push to hub"
Something that would be interesting to explore is if `push_to_hub_keras` could automatically detect if tensorboard traces are available and upload them if yes.

Related internal discussion: https://huggingface.slack.com/archives/C025RSDHH54/p1643223960265000 cc @nateraw

[2022-01-27 08:56] merveenoyan commented on #627
This is a great idea, sorry I missed it in Slack. I'll look into it once I merge couple of fixes.

[2022-01-27 14:18] merveenoyan opened #628 "Model cards for Keras models"
Keras models (non-Transformers ones) don't have generated model cards.  I'd like to generate model cards for them that include:
- model hyperparameters
- metrics from training
- name of dataset and splits (can be filled by user later on as well)
- versions of libraries (like TF model cards)

[2022-01-27 15:26] patrickvonplaten opened #629 "Model tags are not correctly loaded"
When listing all models with `list_models()` the tags of the models are not correctly downloaded.

E.g. take the following example:

[code]

the model tags should be correctly loaded. Model has tags: https://huggingface.co/hf-test/xls-r-300m-sv/blob/main/README.md#L5

Using the following version for `huggingface_hub`: 0.4.0.dev0 (master)

[2022-01-27 15:36] LysandreJik commented on #629
As seen on Slack, this will work:

[code]

[2022-01-27 15:37] patrickvonplaten commented on #629
Thank you!

[2022-01-27 15:37] osanseviero commented on #629
Also if you only need the model info of one model, `model_info()` is a better method to use

[2022-01-27 15:37] #629 closed

[2022-01-27 21:18] LysandreJik commented on #520
Ah that's quite interesting @tianjianjiang, thanks for pointing it out! cc @sgugger, what do you think about making the `notebook_login` blocking?

[2022-01-27 21:26] sgugger commented on #520
I don't think there is any widget that allow blocking execution, but I may be wrong.

[2022-01-28 23:13] bayartsogt-ya commented on #624
I definitely agree with @Narsil and thank you so much @kahne for making that change.

Thanks to you guys! It was easier than ever to train and add TTS model and hifi-gan in a new language.
https://huggingface.co/bayartsogt/tts_transformer-mn-mbspeech

Also for future hifi-gan references:
in [original implementation](https://github.com/jik876/hifi-gan/blob/master/utils.py#L46) by default, checkpoin

[2022-01-30 10:56] tianjianjiang commented on #520
@LysandreJik @sgugger I also guess no widgets block execution. IMO, wandb has an interesting and non-widget implementation that focuses the caret to the password field, but it also has its own quirky behaviors such as CTRL-C not working for me: https://colab.research.google.com/github/wandb/examples/blob/master/colabs/intro/Intro_to_Weights_%26_Biases.ipynb#scrollTo=93ub0LzeYwUZ

[2022-02-01 08:13] osanseviero opened #634 "List all datasets or models using token"
As of now, `list_models` and `list_datasets` don't use the token, so they only list public models. If we could pass the token here, it would be very useful to do things such as retrieving all datasets (including private) of an organization.

cc @muellerzr @LysandreJik

https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/hf_api.py#L511

[2022-02-01 14:01] merveenoyan commented on #628
I think it would be super cool to actually have [KerasTuner](https://keras.io/keras_tuner/) outputs in the model cards as well (output of `results_summary()`)

[2022-02-01 14:34] hbredin opened #635 "Audio-to-regions widget and community API for pyannote.audio"
Opening an issue as per @osanseviero's [suggestion on Twitter](https://twitter.com/osanseviero/status/1488512516162572290).
Issue imported from https://github.com/pyannote/pyannote-audio/issues/835

---

[pyannote.audio 2.0](https://github.com/pyannote/pyannote-audio/tree/develop) will bring a unified pipeline API:

[code]

where `output` is a [`pyannote.core.Annotation`](http://pyannote.github.io

[2022-02-01 14:35] muellerzr commented on #634
At one point we thought on this, now that there's a need would be a decent idea to implement that again. Can put that on my list :)

[2022-02-01 14:39] osanseviero commented on #635
This is a cool proposal! In Twitter I did mention we can model this task with `audio-to-audio` and it would already work by outputting multiple audios. But having a nice custom widget more specific for the task would be very cool!

cc @mishig25 @julien-c WDYT?

[2022-02-01 14:44] LysandreJik commented on #634
Good issue! This would require a `use_auth_token` parameter rather than a `token` parameter that would automatically fetch the current logged-in user's token, as we could envision users wanting to use `list_{models,datasets}` without the private models.

The `use_auth_token` would behave similarly to others in the library, i.e., `None` by default, if `True` will fetch the current logged-in user's

[2022-02-01 16:41] Narsil commented on #635
This is very cool !

Definitely a good target for audio-to-audio as a starter (no widget needed).
`audio-segmentation` seems like a good fit for what you're trying to do (does not exist yet, but should cover multiple use cases)

[2022-02-01 17:54] julien-c commented on #635
`audio-token-classification`? 😱
`audio-to-structured`?

not sure of the best new task type to keep some generality

But yeah could be cool to have it

[2022-02-01 20:50] #634 closed

[2022-02-02 04:59] pierrerappolt opened #640 "Allow `handle_impossible_answer=True` in Inference API"
Does a new task need to be created to do this? Feels like should be an option allowed on the Question Answering task.

[2022-02-02 04:59] #640 closed

[2022-02-02 09:19] Narsil commented on #635
You're actually pretty on spot IMO, since `token-classification` is actually `text-segmentation` I think. It's also aligned with `image-segmentation`.

Which basically should be a list of "objects" found in `text`/`audio`/`image` + some descriptor of "where" it is in the original input those objects are.
(audio and text are 1D with basically never non contiguous objects, so `start` + `stop` are en

[2022-02-02 11:02] Narsil commented on #640
As you might have noticed, it is supported (as in it works).

Which is the default for the API (most arguments flow directly to the pipeline).

We do not document it however, as we don't necessarily want to support every parameter/parameter combination in the future + we don't want to make the documentation arbitrarily long (the `generate_kwargs` for instance).
We won't cut parameters for the sake

[2022-02-02 14:21] osanseviero commented on #111
This recently was brought up internally as well (cc @mishig25 maybe?)

https://huggingface.slack.com/archives/C01BWJU0YKW/p1643810738250169

[2022-02-02 14:48] #598 closed

[2022-02-02 17:01] adrinjalali opened #643 "DOC Clarification on non-text examples"
At the moment the documentation in `model-repos` [says](https://huggingface.co/docs/hub/model-repos):

It's not clear to me whether users can upload their own non-text examples, or if there's an interface where they can go through existing examples. If this is clarified somewhere in the documentation, I think it's not clear to the reader by the point they get to reading this part of the docs.

[2022-02-02 17:40] osanseviero commented on #643
Good point.

Users can just upload an audio file to the HF repo and link to it in the source.
https://huggingface.co/facebook/xm_transformer_600m-es_en-multi_domain/blob/main/README.md#L17

[2022-02-02 19:03] julien-c commented on #643
might be better to replace those (existing URLs) in the doc by example URLs like `https://example.org/somewhere/speech_samples/sample1.flac `, no?

[2022-02-02 21:53] cakiki opened #644 "Render Jupyter Notebooks as web pages"
Jupyter notebooks are a very common medium for experimentation and result communication.

**Is your feature request related to a problem? Please describe.**
Jupyter notebooks are currently displayed as json

**Describe the solution you'd like**
It would be nice to have an [nbviewer](https://github.com/jupyter/nbviewer) server that renders notebooks to html

**Describe alternatives you've considere

[2022-02-03 16:04] SBrandeis commented on #555
Hello @josephrocca, we fixed the underlying issue preventing uploads of large files to the Hub

You should now be able to upload files up to 20GB as stated by @julien-c earlier

[2022-02-03 20:20] #643 closed

[2022-02-04 10:54] juliensimon opened #650 "Invoke the CLI on a private hub endpoint"
In the context of a private hub deployment, customers would like to use the CLI on their hub, not on the public hub. This doesn't seem to be configurable at the moment and it would be nice to add this feature.

huggingface_hub.HfApi supports configurable endpoints, but this isn't implemented in the CLI, see BaseUserCommand in https://github.com/huggingface/huggingface_hub/blob/4d6b35d41afd23d991e2

[2022-02-04 10:59] juliensimon commented on #650
For reference:
https://github.com/huggingface/transformers/issues/15514
https://github.com/huggingface/datasets/issues/3679

[2022-02-04 11:43] osanseviero opened #652 "Automatically obtain organization in keras push_to_hub"
If I do this, my model gets pushed to osanseviero/test-osan6

[code]

It would be great if we can automatically detect the organization. We can likely do it similar to https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/keras_mixin.py#L145-L146.

[2022-02-04 11:46] osanseviero commented on #652
Full example

[code]

[2022-02-04 14:05] osanseviero commented on #652
This might not be possible at all as discussed in [Discord](https://discord.com/channels/879548962464493619/936192290345615360/939124626456461342) with @cakiki since the argument can be either the name (just name, no namespace) of a remote model repo in the Hub or a local path.

[2022-02-04 14:29] osanseviero commented on #652
As discussed internally, maybe we can have a deprecation that  will simplify the usage to something more intuitive for users

Actual
[code]

Maybe this would be a good alternative
[code]

WDYT @merveenoyan @LysandreJik @nateraw ?

[2022-02-04 16:16] LysandreJik commented on #652
I think that clarifies things significantly. An unfortunate behavior linked to this is that it hides the fact that there's a clone/pull/push happening behind the scenes. Except it's not really behind the scenes, as IIRC it takes place in the current working directory.

I think ideally this would work with http requests that push files (https://github.com/huggingface/huggingface_hub/pull/321), but

[2022-02-05 05:30] josephrocca commented on #555
@SBrandeis Hi Simon, I just tested 4 times, and it always fails after 40-50 minutes with `net::ERR_CONNECTION_CLOSED`. Here's a video of the last few seconds as it fails:

https://user-images.githubusercontent.com/1167575/152629860-58cdbd5c-3d42-49a8-8695-9ee8258a511d.mp4

Previously it would show a red error box in the upload UI, but now there's no indication of the error on the web page itself.

[2022-02-06 08:36] merveenoyan opened #658 "Logging with organization token is successful and leads to side effects"
It was reported that users get KeyError when `push_to_hub_keras()` is used to push for organization.

Example:
[code]

When organization token is explicitly written, the problem goes away.
Example:
[code]

Is this intended behavior? @nateraw
Also cc: @osanseviero

[2022-02-06 08:39] merveenoyan commented on #627
https://github.com/pulls This PR solves this issue.

[2022-02-06 19:56] osanseviero commented on #658
Is the issue reproducible?

[2022-02-07 08:46] merveenoyan commented on #658
@osanseviero yes, I was able to raise it.
Login with keras-io organization token with HF CLI, then do
[code]

Weird enough, it doesn't happen at all when I login with my own token.

[2022-02-07 11:42] #627 closed

[2022-02-07 11:43] osanseviero commented on #658
@SBrandeis are people expected to be able to do login using an organization token? That sounds off no?

[2022-02-07 12:01] SBrandeis commented on #658
Hi, you need to provide a user access token (https://hf.co/settings/token) to be able to push to an organization

We should refrain from logging in with organization tokens and push users towards using their personal user access tokens when authentication is required 🙂

[2022-02-07 12:08] merveenoyan commented on #628
I think it would be a big flex if we would write `model.summary()` output. This doesn't work for models with subclassing AFAIK, we can get it for Functional and Sequential models. This tends to be a large section but we can put it under toggle (pointed out by @osanseviero [in spaCy models](https://huggingface.co/spacy/fr_dep_news_trf))
The rest of the parameters I will get from model.
We can later

[2022-02-07 12:26] merveenoyan commented on #658
Maybe we could put a note in Hub since I didn't know that I wasn't supposed to do it  @SBrandeis @osanseviero

[2022-02-07 15:20] yjernite opened #661 "`api.set_access_token` seems to fail silently"
I tried the following code to create a private repository using the Python API, and got a 403 permission error:
[code]

I am using version `0.4.0.dev0`, and can create a repository with the same token by passing it to the `create_repo` method:
[code]

`set_access_token` did not return any output or show any logs by default, let me know if I can re-run the command with additional args to get more i

[2022-02-07 15:28] merveenoyan commented on #658
@osanseviero +1, maybe we could explain that as well

[2022-02-07 16:04] SBrandeis commented on #658
Using an organization API token will work on most API routes that require only read access to repos, as well as with `/resolve` and `/raw` endpoints

-------------------

This behavior holds mainly for backward compatibility and will probably be removed at some point in the future. We should not rely on it.

As stated before, the preferred way to authenticate programmatically with the hub are user

[2022-02-07 16:47] osanseviero commented on #658
Thanks for the context! In my opinion logging in with organization token should not be supported at all (cc @LysandreJik @muellerzr) since it looks like it's a successful login but can lead to a bunch of side effects. I would feel more comfortable if we error out in login when using organization token in `huggingface_hub`.

[2022-02-07 18:27] nbroad1881 opened #664 "code snippets for private deployment are to hf.co"
When the hub is deployed to a new managed domain, the git clone url is still to hf.co and it should be the domain name

[2022-02-07 18:35] nbroad1881 opened #665 "[private hub] docs, metrics, course, blog are empty"
The links in the top bar and dropdown (docs, metrics, course, blog) would be nice to have working for private hubs.

[2022-02-07 18:38] nbroad1881 opened #666 "dataset viewer doesn't work on private hub"
after cloning a dataset from hf.co and putting it in a private hub, the dataset viewer did not work.

[2022-02-07 18:41] nbroad1881 opened #667 "dataset tags don't work on private hub"
On the main datasets search page, there are no tags on the lefthand side. If I go into a dataset and click a tag, it does seem like the filtering is working correctly.

[2022-02-07 22:29] Pierrci commented on #658
Yes, the org API token isn't really thought to be used in the case of hfhub, its main use is rather the inference API (hence its name, different from the users' "access tokens"). Preventing from logging in with it makes sense to me (simple to detect since all org tokens start w/ `api_org_`)

[2022-02-08 16:22] merveenoyan commented on #628
@Rocketknight1 it currently looks very shifted when I save it with IO so I'm plotting the model instead :(
<img width="477" alt="Ekran Resmi 2022-02-08 13 14 02" src="https://user-images.githubusercontent.com/53175384/153030055-53533d16-cabe-4ae4-abec-d38ce25c922f.png">

[2022-02-08 16:42] osanseviero commented on #635
Btw `audio-segmentation` (`speech-segmentation`) existed and we deprecated it in favor of `audio-to-audio` no @Narsil ?

[2022-02-08 20:20] osanseviero opened #672 "Repository does not work with Spaces"
If I create a space and then do

[code]

I get following error

ValueError: No space_sdk provided. `create_repo` expects space_sdk to be one of ['gradio', 'streamlit', 'static'] when repo_type is 'space'`

cc @nateraw @LysandreJik @muellerzr

[2022-02-08 20:21] nateraw commented on #672
Did you mean `repo = Repository(local_dir=local_dir, clone_from="https://huggingface.co/spaces/osanseviero/this-is-a-test12345", repo_type="space")` with "spaces" in the URL? (I haven't tried, just a thought)

[2022-02-08 20:23] osanseviero commented on #672
Actually with spaces it also fails.

I tried to debug a bit more. It fails when I'm the owner of the space and works when it's another unrelated space

[2022-02-08 20:24] osanseviero commented on #672
This is the src https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/repository.py#L545-L552

[2022-02-08 20:44] muellerzr commented on #672
Nice catch. this is because `Repository` won't actually take in a `space_sdk` during it's init, so nothing get's passed when performing https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/hf_api.py#L1081

Pretty sure the solution would be to give `Repository` a `space_sdk` param that can be passed down? WDYT @LysandreJik

[2022-02-08 21:01] julien-c commented on #658
agreed on the proposed fix

[2022-02-08 21:04] osanseviero commented on #672
I don't love the idea because it's annoying when combined with `create_repo` or when cloning an existing space created through the UI. We're expecting the user to specify the sdk both in `create_repo` and again in `Repository`.

One solution could be to:
* Check before internal `create_repo` call if the repo exists. If it exists, let's not call it.
* Add a `space_sdk` param as well, but now it won

[2022-02-09 02:32] julien-c commented on #672
isn't it weird API-wise that `Repository`'s init creates a repo for you on the fly if needed?

Shouldn't it be a different method to better separate intents, like a static `Repository.create(...) -> Repository`?

[2022-02-09 13:09] patrickvonplaten opened #675 "Model filter does not seem to work correctly with `model_args.author.NewT5`"
Having read , I believe that the following code snippet should display the 170 models of this repo: https://huggingface.co/NewT5

[code]

instead it displays 0 models.

I'm using `huggingface_hub-0.4.0`

[2022-02-09 14:25] patrickvonplaten commented on #675
Thank you!

[2022-02-09 14:25] #675 closed

[2022-02-09 20:41] julien-c commented on #518
tagging @severo on this, do you want to take care of this?

[2022-02-09 22:00] julien-c commented on #672
what's `huggingface_hub` policy on breaking changes? we can maybe keep BC for a few months then drop it?

[2022-02-09 22:06] LysandreJik commented on #672
Even if I think that `Repository`'s ability to create a repository on the fly reduces the mental load, I understand that it can be a bit weird and that it can be surprising. However, I'd rather we have one way of doing things rather than several methods which do a very similar thing.

If everyone thinks that `Repository` shouldn't create the repo on the fly, then IMO we should remove the repo crea

[2022-02-09 23:07] LysandreJik commented on #661
Hey! As Zach mentioned, `set_access_token` sets the token for the git side of things, but it doesn't save it to the folder. This seems to be a common error so maybe we could move the token saving to the `set_access_token` method, cc @osanseviero who mentioned something similar a few months back.

In the meantime this should do what you want @yjernite:

[code]

[2022-02-10 00:16] julien-c commented on #672
Hmm, why do you say that `Repository.create(...) -> Repository` is ambiguous?

[2022-02-10 15:39] severo commented on #518
List of pages to test for widgets:

- https://huggingface.co/m3hrdadfi/gpt2-persian-qa
- https://huggingface.co/bolbolzaban/gpt2-persian

[2022-02-11 12:49] merveenoyan commented on #658
I'll try 🤗

[2022-02-11 15:54] SBrandeis opened #683 "Document server-side locks for `HfApi.upload_file`"
`HfApi.upload_file` can only upload one file per repo at a time, due to a server-side locking logic

This specificity is not mentioned in the docstring of the method

cc @lhoestq since this method is used in datasets

[2022-02-11 16:37] muellerzr commented on #544
Update:

With https://github.com/huggingface/huggingface_hub/pull/682 test stability has increased greatly. For posterity we will still get 504 errors every once in awhile from the staging endpoint. This is due too too many CI/CD's being ran at one time, rerun it after a little and you should pass

[2022-02-11 20:55] lhoestq commented on #683
Thanks ! At one point it would be awesome to find a way to upload several files in parallel though, to speed up `push_to_hub`

[2022-02-13 04:20] mapmeld opened #685 "Time-ago issue on 'Files and versions' / repo view"
**Is your feature request related to a problem? Please describe.**

When I was looking at [this model repo](https://huggingface.co/aubmindlab/bert-large-arabertv2/tree/main), I noticed that some files were commited "in 9 months" (to me this means in the future).

<img width="226" alt="Screen Shot 2022-02-12 at 8 15 04 PM" src="https://user-images.githubusercontent.com/643918/153738402-af9228cf-5be

[2022-02-14 11:40] hbredin commented on #635
Nice!

Would you recommend we update [this PR](https://github.com/huggingface/huggingface_hub/pull/660) to `speech-segmentation` then?

[2022-02-14 14:57] julien-c commented on #685
thanks for reporting! this is tracked internally and should be fixed soon

[2022-02-15 17:36] mariosasko opened #686 "Support canonical dataset endpoints in `HfApi.upload_file`"
Upload to the endpoints of canonical datasets currently doesn't work, even though I have a valid token.

#### Code to reproduce

[code]
ERROR: `HTTPError: 404 Client Error: Not Found for url: https://huggingface.co/api/datasets/red_caps/upload/main/data/redcaps_v1_0_annotations.zip`

CC: @SBrandeis, @lhoestq

[2022-02-15 17:59] SBrandeis commented on #686
That's intended, as long as GitHub is the source of truth for canonical datasets

For now, any updates to canonical datasets should go through the datasets repo on GH

[2022-02-16 08:39] osanseviero opened #687 "Git add with auto_lfs_track should track binary files"
When pushing binary files, users get the following error

[code]

With auto LFS track this should be tracked by default.

WDYT @LysandreJik @julien-c ?

[2022-02-16 10:19] lvwerra opened #689 "LFS: Authorization error when uploading many/large files."
The following error occurs when uploading ~1000 files (300GB total):

[code]

I am using the following line in Python to add/commit/push the commits:

[code]

The upload seems to mostly succeed (I can see progress bars for the uploads) and at the end there are a few hundred of these messages. I assume that authorization worked at least initially since I was able to create the repo in the first pla

[2022-02-16 10:28] julien-c commented on #689
any way you could try with `git lfs` and not `Repository`?

[2022-02-16 10:28] julien-c commented on #689
cc @Pierrci @SBrandeis @coyotte508 for visibility

[2022-02-16 10:54] lhoestq commented on #686
Note that you can still clone the repository locally and push your changes to the `data` folder if you want

[2022-02-16 11:07] SBrandeis commented on #689
From the top of my head - maybe the S3 presigned URL expires?

@lvwerra did the upload take more than 24 hours ?

[2022-02-16 11:15] lvwerra commented on #689
No it did not - it happened overnight and it started around 11pm and I noticed it failed at 9am.

So using `git lfs` worked and was **much** faster. In Python pushing uploaded files individually and I could see that each file was uploading at around 1MB/s (sometimes a bit faster or slower) and maybe 10-20 files were uploaded concurrently (did not count) amounting to 10-20MB/s upload total. With `g

[2022-02-16 12:17] github-actions[bot] opened #690 "A new community image was pushed, need to update API"
Narsil just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/80275f655556953c523e8d600a38c3484a43e314

[2022-02-16 13:00] julien-c commented on #687
i don't remember the `auto_lfs_track` implementation, is there a file size threshold somewhere? We changed the file size threshold for binary files only to `1MB` on the hub side recently. Non binary files still `10MB`

[2022-02-16 13:11] Narsil commented on #690
Done !

[2022-02-16 13:11] #690 closed

[2022-02-16 14:59] osanseviero commented on #687
Yes, we set a 10mb auto track at https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/repository.py#L849-L853

We could do some similar check for binary files for 1MB?

[2022-02-16 19:24] LysandreJik commented on #687
Hey @osanseviero, indeed, happy to do that. Do you have a reproducible code example I can play with?

[2022-02-16 20:28] osanseviero commented on #687
Yes @LysandreJik.

[code]

[2022-02-16 23:53] Pierrci commented on #687
@LysandreJik you can check https://github.com/huggingface/moon-landing/blob/5fa4de96cb48dc0613933d2aa7e3311bbd0abaac/server/scripts/git/pre-receive#L143 for what we use server-side to detect binary files (cc @coyotte508 who implemented it)

[2022-02-17 09:29] lvwerra commented on #689
Just the standard ones:

[code]

Note that I only uploaded the dataset once so there could have been a temporary bandwidth issue on GCP or the Hub but I think it is not that likely. I can run a more systematic speed test.

[2022-02-17 16:51] Pierrci commented on #685
We deployed the fix (thanks @coyotte508), so I'm closing this - feel free to reopen @mapmeld if you still encounter the problem

[2022-02-17 16:51] #685 closed

[2022-02-18 08:54] osanseviero opened #693 "Enable top_k as argument for text classification in community Inference API"
Context: https://discuss.huggingface.co/t/spaces-based-on-gensim-model/14809/8

This requires changing the input validation of `text-classification` at https://github.com/huggingface/huggingface_hub/blob/main/api-inference-community/api_inference_community/validation.py#L185

cc @Narsil

[2022-02-18 11:17] lvwerra opened #694 "`rename_repo` function for `huggingface_hub` library"
A new feature to update a repository's name with `huggingface_hub`. The behavious could be similar to `update_repo_visibility`:

[code]

This would allow to programmatically change the name of several repositories on the hub with ease.

cc @osanseviero

[2022-02-19 05:12] Jeevesh8 opened #695 "Error in creating repository"
I am getting the following error:
[code]

I tried creating model on HuggingFace Hub, using the website and was able to. I tried updating my key, to no avail. This error has been showing since yesterday. Is this really some error on your(server) side? Or is an error on my side only?

Yours gratefully,

[2022-02-19 13:53] mahalakshmijinadoss commented on #695
I am facing issues while trying to create a repository as well. This error has been showing since yesterday. Is this some error on your(server) side? Or is it an error on my side only? Thank you. I am getting the following error message

HTTPError: 500 Server Error: Internal Server Error for url: https://huggingface.co/api/repos/create - Internal Error - We're working hard to fix that as soon as p

[2022-02-19 15:39] osanseviero commented on #695
We're looking into it, thanks for reporting!

[2022-02-19 16:06] osanseviero commented on #695
This should be fixed now 😄 🚀

[2022-02-19 16:25] mahalakshmijinadoss commented on #695
It works now. Thank you!

[2022-02-20 17:53] #695 closed

[2022-02-21 10:21] kurianbenoy-aot opened #696 "hugging_face_cli login not working in WIndow"
**Is your feature request related to a problem? Please describe.**

On running the command: `huggingface-cli login`. I noticed that when I am passing a access token to login, I am frusturated with
this error message:

[code]

**About System**

Python version: 3.9
Operating system: Windows 10

[2022-02-21 14:43] merveenoyan commented on #595
For this one I'm planning to test `from_pretrained_keras()` on models with custom objects and see the error pattern, and if it's raised, prompt user to pass the custom objects with [custom_objects](https://www.tensorflow.org/api_docs/python/tf/keras/models/load_model) into `**kwargs` instead when loading. Seems the only reasonable way given user has to implement things.

BTW weird enough, when you

[2022-02-22 08:57] osanseviero commented on #693
We do allow passing `top_k` and `top_p` for generation tasks at the moment (see https://github.com/huggingface/huggingface_hub/blob/main/api-inference-community/api_inference_community/validation.py#L81-L82. although this seems unused). But this is passed in the input, not as parameters :thinking:.

I think adding `top_k` would be good; we can add it as an optional parameter, so not all frameworks

[2022-02-22 10:18] lvwerra opened #700 "Download speed `Repository`"
# Performance analysis
Following up on speed comments in #689 I made a more systematic test to see the download speed using `Repository` and `git clone`. I also added `load_dataset` for completeness although it is not entirely fair since it also loads the data after the download.

## Download
The following script downloads the `lvwerra/abc` dataset (~2GB) with the three approaches and measures the

[2022-02-22 11:08] juliensimon commented on #650
I have a patch for this. Will keep testing a bit more before sending the PR.

[2022-02-22 11:23] julien-c commented on #700
Note that file downloads are cached through a CDN (https://aws.amazon.com/cloudfront/) and as such, your experimental setup can be order-dependent.

In your first test for instance, you should look for a header called `x-cache: Miss from cloudfront` or `x-cache: Hit from cloudfront` for instance. You should only compare comparable things, as cache misses from Cloudfront are always going to be sign

[2022-02-22 13:51] lvwerra commented on #700
I agree that it is not super rigorous, but since we run the commands sequentially in the for-loop shouldn't that prevent systematic issues? Also wouldn't explain why without the `lfs_log_progress` the times get substantially better, right? Or I am missing something?

[2022-02-22 13:52] julien-c commented on #700
no because your first call is going to warm the cache and then the subsequent ones will get the cache hits

[2022-02-22 13:55] merveenoyan opened #705 "TensorBoard log overwrite disabled"
Currently when we try to push a Keras model to an already existing repository with TensorBoard logs it gives the below error. I'll enable having different training runs as siblings such that people can push their logs in different experiments in one place.
<img width="1262" alt="Ekran Resmi 2022-02-22 16 53 21" src="https://user-images.githubusercontent.com/53175384/155146147-59a0dc4d-9391-4dee-88

[2022-02-22 21:43] #650 closed

[2022-02-22 22:24] osanseviero opened #706 "Deprecate organization parameter in create/delete/update_repo_visibility"
Related discussion: https://github.com/huggingface/huggingface_hub/pull/704#issuecomment-1048260407

[2022-02-23 08:17] josephrocca opened #707 "Support multi-file and/or folder uploads via the Hugging Face Hub UI"
**Is your feature request related to a problem? Please describe.**
I'm trying to upload a tfjs model using the Hugging Face Hub UI. tfjs models are automatically broken down into shards that are 4mb each during the conversion process. This can result in several dozen files (84 in my particular case) so it's impractical to upload them one by one.

**Describe the solution you'd like**
I'd like the U

[2022-02-23 11:10] #686 closed

[2022-02-23 11:13] julien-c commented on #707
for context/curiosity, why are you not using `git` in your worflow?

[2022-02-23 11:23] merveenoyan opened #708 "TensorBoard logs with Timestamps"
I'd love to see if we could have TensorBoard logs as siblings named with timestamps of time they were pushed to Hub, for better experiment tracking. It will look like following:
[code]
At some point we could even keep different model configs at the same repository with different timestamps, better UX for people who like to do experiment tracking with Keras (a tree like above but for model files) a

[2022-02-23 11:46] Narsil commented on #693
The params are purely not sent, no ? https://github.com/huggingface/huggingface_hub/blob/main/api-inference-community/api_inference_community/routes.py#L73

The scaffolding is there, so enabling them should be not too hard (but might required changing the signature of all previous pipeline functions, no ?)

[2022-02-23 13:47] tkon3 opened #710 "Grouping models or dataset"
Hi,

It is sometimes difficult to navigate/search when a lot of models/datasets are uploaded to the hub for a user/organization.
Is there a way to create a folder to group similar models/datasets together?

Thank you.

[2022-02-23 13:55] julien-c commented on #707
No this is a valid feature request @josephrocca – and users actually use the Web uploads from what I can see.

(just wanted to make sure to understand if there was another underlying limitation in git)

[2022-02-23 14:05] merveenoyan commented on #705
This is fixed with #709

[2022-02-23 14:05] #705 closed

[2022-02-23 15:19] cakiki opened #713 "[🐞Bug?] Canonical datasets on Hub link to github file instead of dir"
**Is your feature request related to a problem? Please describe.**
Current "Update on github" link on canonical dataset pages links to the README.md file of a given dataset.
e.g.: https://huggingface.co/datasets/super_glue links to https://github.com/huggingface/datasets/blob/master/datasets/super_glue/README.md

**Describe the solution you'd like**
Have the button link one level higher, to the ro

[2022-02-23 15:22] julien-c commented on #713
i think your proposed change makes sense! will post to internal tracker and report here with outcome

[2022-02-23 21:49] yjernite opened #715 "Update permissions for a token automatically"
**Is your feature request related to a problem? Please describe.**
Currently, using an authentication token only gives me access to organizations and repositories that were created before I generated the token. If I'm granted access to a new organization or a new repo is created in an org that I should have access to, I need a new token.

**Describe the solution you'd like**
My write (or read) tok

[2022-02-24 01:39] Pierrci commented on #715
Mmmm I'm quite sure that your expected solution is actually what is currently implemented cc @SBrandeis. We check at repo access time what orgs you're part of, not at token creation time - so creating a new personal access token after joining an org doesn't change anything (or at least shouldn't).

Can you provide a detailed example of a flow where this happened to you?

[2022-02-24 01:46] Pierrci commented on #707
cc @SBrandeis

[2022-02-24 10:40] merveenoyan commented on #567
It was raised by another user [in this forum question](https://discuss.huggingface.co/t/pipeline-text-classification-with-two-sequences-for-each-example/15083). Two sentences is just fine but with more sentences it might be problematic.

[2022-02-24 17:10] #694 closed

[2022-02-24 19:46] yjernite commented on #715
OK! I've had to re-generate tokens to get access to new repos but might have misunderstood what was going on. The flow was:
- generate a write token
- get added to a new organization (https://huggingface.co/bigscience-catalogue-lm-data)
- try to create a new repo with the python api and `use_auth_token`, fails
- generate a new token
- try to create a new repo with the python api and `use_auth_toke

[2022-02-24 21:59] Pierrci commented on #715
Do you know the exact error you got?

@LysandreJik @muellerzr Is there any caching on the `huggingface_hub` side for auth/access info? (like what orgs a token gives access to for example). That's kind of the only thing I see that could explain this behavior.

[2022-02-25 10:04] github-actions[bot] opened #721 "A new community image was pushed, need to update API"
Narsil just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/1c1ee19a20c500072411f1dfa291108973314ddc

[2022-02-25 11:08] Narsil commented on #721
Merged !

[2022-02-25 11:08] #721 closed

[2022-02-25 17:45] #713 closed

[2022-02-25 17:46] julien-c commented on #713
this has been changed and will be in the next production version, please re-open if that's not the case.

Thanks for your suggestion!

[2022-02-28 07:13] kagglesintracking opened #722 "Inference API documentation detailed parameters missing "do_sample""
Doc: https://api-inference.huggingface.co/docs/python/html/detailed_parameters.html

There should be a `do_sample` parameter in all the generation tasks otherwise parameters like `temperature`, `top_k`, `top_p` won't work.

[2022-02-28 07:20] merveenoyan commented on #722
Hello, thanks a lot for noting this and creating this issue! 🤗 we'll fix it.

[2022-03-01 09:55] simoninithomas opened #724 "Adding a new "category" Environments for Reinforcement Learning task"
Hey team,

So I'm thinking about how we could add a new category for environments (a little bit like datasets).
A little bit like this (just a crude illustration):
![image](https://user-images.githubusercontent.com/13088472/156146160-89f8e620-4d17-4a0a-a42e-52d93697e0c6.png)

The thing is **should we list environments based on the environment lib or the environment itself**? Wdyt @thomwolf, @Cleme

[2022-03-01 11:21] thomwolf commented on #724
I think we should have probably have both framework and env name given that some environments are available through different frameworks (with usually subtil differences), e.g. `atari-py` or `ale-py`

We should maybe even have version numbers for environments and framework in the metadata as much as possible. Doing a good job in terms of reproducibility and discoverability is key in RL and this ap

[2022-03-01 12:28] merveenoyan commented on #533
I'm currently working on this for GAN sprint in which you'd have to push two models. (leaving notes to myself)
First argument of `push_to_hub_keras()` should be a model or a list of model objects, if list, it will check all the models to see if they're built, and also create a custom model card for both models (maybe append? which is not that aesthetic).

[2022-03-01 12:28] osanseviero commented on #724
Also cc @gary149 @julien-c since this is a product change

[2022-03-01 14:15] cakiki opened #725 "[🐞 BUG?] Empty README.md with YAML header gets overwritten for datasets"
**Is your feature request related to a problem? Please describe.**
When I have a README.md with a YAML header and no text content, I get the `No dataset card yet New: Create and edit your dataset card directly on the website! Create Dataset Card` which, if clicked, will create a new empty README.md and overwrite the committed one with header info (and therefore remove all tags).

e.g. For a privat

[2022-03-01 14:25] osanseviero commented on #725
Thanks for reporting!

[2022-03-01 19:51] LysandreJik commented on #715
No, we don't do any caching on the client side. We save the token and use it for auth.

There's a single place where we first retrieve the valid organizations to validate that the user is allowed to create a repo there, which is here: https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/repository.py#L535-L554

But this is not cached anywhere, so it shouldn't be any issue.

[2022-03-02 04:57] omarespejel opened #728 "Make the fastai integration test more robust by comparing fastai Learners to be the same"
The model itself lives in `learn.model`. So save/load the weights and make sure that all the params in `learn.model.parameters()` align, etc. (Look at saving/loading in Transformers or Accelerate to see how we can do this).

For the preprocessing, we should make sure all the transforms in `learn.dls.after_batch` and `learn.dls.after_item` are the exact same. Not *too* sure how that can be pulled o

[2022-03-02 04:57] omarespejel opened #771 "Make the fastai integration test more robust by comparing fastai Learners to be the same"

[2022-03-02 14:43] adrinjalali opened #732 "Deprecate passing positional args to most of the public API"
Allowing for keyword only arguments makes users' code more readable and it allows playing with the arguments while changing the API (in a backward compatible with deprecation cycles) easier.

We could use a utility decorator like this one: https://github.com/scikit-learn/scikit-learn/pull/13311

[2022-03-03 14:24] merveenoyan commented on #533
I think following is better so people can name the folders (when we do list it's more like model_0, model_1 etc)
[code]
Which looks like this:
<img width="538" alt="Ekran Resmi 2022-03-03 17 23 00" src="https://user-images.githubusercontent.com/53175384/156583503-d30ed886-72a3-4694-b16b-7ce4a3e2171a.png">
However the [readme](https://huggingface.co/merve/multiple-models-readme) looks ugly, I appen

[2022-03-03 14:33] osanseviero commented on #533
I feel only the following sections are needed:

1. Model desc (for full thing)
2. Intended uses and limitations
3. Training and eval data
4. Train procedure for model A
5. Model Plot for model A
6. Training procedure for model B
7. Model Plot for model B

Maybe before 4, we can have a section saying "this repository consists of X models". Then before 4 and before 6, have a heading with "Further in

[2022-03-03 14:38] merveenoyan commented on #533
Makes sense, I will change the card generation procedure. Thanks a lot for the input.

[2022-03-03 17:19] nateraw commented on #533
Sure, I like this idea 😄 . Would be very helpful especially in the case of GANs. I'd really be curious to know if other folks want this feature.

As for model card, I think we can either do what @osanseviero is describing, or just leave it as-is. I'm guessing this would only be used when models are trained together. **People probably shouldn't be dumping unrelated models in the same repo and we do

[2022-03-03 20:22] jfamestad opened #737 "API to download tar.gz of model from HuggingFace Hub"
**Is your feature request related to a problem? Please describe.**
AWS CloudFormation supports deployment of pre-built models packaged as a gzipped tar archive.

**Describe the solution you'd like**
GitHub has an api that allows you to append "archive/<branch>.tar.gz" to the repo url and download a gzipped tar of that branch. It would be really helpful if hf hub supported a similar API.

**Describ

[2022-03-03 20:35] osanseviero commented on #737
cc @Pierrci @julien-c @gary149 WDYT?

[2022-03-03 20:36] osanseviero commented on #533
Yes, good point @nateraw. TBH since this is not a feature for which I expect significantly high usage, I think we can go as-is and iterate if we see significant usage

[2022-03-04 07:16] #628 closed

[2022-03-04 11:11] osanseviero opened #739 "Allow snapshot_download to download dataset and space repos as well"
`snapshot_download` just works for model repos at the moment. It would be great to have this for dataset and space repos. This would require adding some `space_info` method and endpoint.

[2022-03-04 16:09] adrinjalali opened #740 "@retry_endpoint doesn't worth with pytest.mark.parametrize"
Imagine the following test:

[code]

It would fail with:

[code]

Switching the decorators:

[code]

would result `pytest --collect-only` to fail with:

[code]

cc @muellerzr who I think has worked on the decorator.

[2022-03-04 17:30] NielsRogge commented on #591
Gently pinging @muellerzr here, as `push_to_hub` just downloaded a > 1GB to just upload a tiny JSON to the hub 😅

[2022-03-04 17:41] dynamicwebpaige opened #741 "[huggingface.co] Include a tag for mobile-compatible models."
👋 Greetings! Am not sure if this is the correct place to file an issue for [huggingface.co](), but figured I'd try anyway. :)

### Issue Description
**Is your feature request related to a problem? Please describe.**
Would it be possible to include models that are mobile-compatible as a filterable category in the `Other` section on the Hugging Face website? Meaning `.tflite`, [`.ptl`](https://pytor

[2022-03-04 17:49] osanseviero commented on #741
:thinking: we do have existing filters in "Libraries" when you click the +24, and TF Lite is actually one of the options over there https://huggingface.co/models?library=tflite&sort=downloads. Is that something similar to what you had in mind, but with additional file types?

[2022-03-05 15:18] dynamicwebpaige commented on #741
@osanseviero : Yes, that would be perfect! Something that would let users know that if they need to deploy the model to an environment that isn't a laptop, or on a server, that they would be able to do so without finagling the quantization process themselves.

And I love the work that @merveenoyan did to expand the filters for libraries! 😄

[2022-03-06 03:21] josephrocca commented on #707
I've just noticed that it's not even possible to concurrently upload two files in separate tabs. It appears to work, but then when the second upload finishes it shows an error: "Error: A long-running operation is already ongoing on dataset <username><repo>"

![image](https://user-images.githubusercontent.com/1167575/156907526-2c19f140-1188-4947-99b7-f234be4bb6af.png)

It shows that error even if t

[2022-03-06 06:26] dynamicwebpaige opened #743 "[huggingface.co] Give users the ability to compare models' outputs for a given task."
## 🗒️  Motivation
When a user selects a specific task on the Hugging Face Hub - for example, [`image-to-text`](https://huggingface.co/models?pipeline_tag=image-to-text&sort=downloads):

<img width="859" alt="Screen Shot 2022-03-05 at 10 14 06 PM" src="https://user-images.githubusercontent.com/3712347/156911702-f8fdca6b-6f5f-4e97-9f99-30380678bfb1.png">

That user is shown a series of models, with

[2022-03-07 08:56] osanseviero commented on #741
This is interesting. We've had discussions about increasing the number of models for mobile/edge devices. I think once we increase the number of models, adding a filter would definitively make sense.

cc @julien-c @gary149 WDYT?

[2022-03-07 10:11] gary149 commented on #743
This would be so cool, I really like the user story you made with the side-by-side benchmark!

We were talking about integrating something like this but into [tasks pages](https://huggingface.co/tasks), so the workflow would be:

1. Select a task
2. Read a bit about the task and discover some SOTA models (we tried to editorialize that a bit by writing an explanatory text about each task and associ

[2022-03-07 10:24] gary149 commented on #741
If we think it's important to easily filter/distinct mobile compatible models (no strong opinion on it), I understand @dynamicwebpaige point that it's more straightforward to have a "mobile ready" tag into the "others" section than having to expand/search in sub-sections.

<img width="1042" alt="image" src="https://user-images.githubusercontent.com/3841370/157013053-350fbbb6-f6d6-47c3-ab82-930eebf

[2022-03-07 11:57] julien-c commented on #732
i think this is a good idea 👍

[2022-03-07 12:04] julien-c commented on #737
the issue is that LFS files are _large_ and are _not local to the git server_ so this endpoint is going to be very "costly" to deploy.

Maybe it's better to leave this as a community-driven Lambda (for instance) or snippet, that can be easily reused?

[2022-03-07 12:19] adrinjalali opened #744 "RFC Split the repo based on the projects in the repo"
Right now the `huggingface_repo` includes three projects;

- `huggingface_hub`: which is the *core* library used by integration libraries and `api-inference-community`
- `api-inference-community` which handes integration with some of the third party libraries
- `huggingface_widgets` which is located under the `js` folder and hosts the code for the inference widgets

The three projects require diff

[2022-03-07 12:22] julien-c commented on #744
no strong opinion on my side, for context we pushed to experiment with a single repo some time ago to see if it would gain "critical mass" on GitHub, but it's maybe not as important anymore

So I'm open to re-splitting.

[2022-03-07 13:27] osanseviero commented on #744
After some discussions last week I think it makes sense to split. I think having clearer release cycles for `api-inference-community` would be beneficial, and not having a mixed bag of everything in a single repo.

@adrinjalali, `js` has many things: inference snippets, widgets, snippets of code for each library, the definition of the tasks tree, etc. There are two other directories: `tasks` and `

[2022-03-07 13:34] adrinjalali commented on #744
Sounds good to me @osanseviero . I think on top of the API docs we need some user guides as well, which would go in the `docs/` folder, but I agree that the product specific docs can (or should) move and be where `js` goes.

In terms of how to execute this, I suggest:

- [ ] creating two repositories, one for `api-inference-community` and one for `js` (not sure what we're gonna call this one)
- [

[2022-03-07 13:43] Narsil commented on #744
I am fine either way (single or split) !

We need to not forget moving all github actions related and adapt them in consequence too.

[2022-03-07 13:53] osanseviero commented on #744
We also need to change moon-landing to access the new repo instead of this one.

[2022-03-07 15:23] adrinjalali opened #746 "Tests fail when run in parallel"
Running tests in parallel fails quite reliably (1 out of 3 times) when run in parallel. I use `pytest-xdist` and here's the command I use:

    HUGGINGFACE_CO_STAGING=1 pytest -Werror::FutureWarning -x -vv tests/test_hf_api.py -n12

The same command always passes when run in single task mode. It would be nice to be able to run the tests in parallel since it does speed up the dev process.

Logs:

<

[2022-03-07 20:24] Pierrci commented on #725
Closing this since we deployed a fix server-side, thanks @cakiki! Feel free to reopen if needed.

[2022-03-07 20:24] #725 closed

[2022-03-07 22:24] julien-c commented on #724
no informed opinion on whether we want to link to envs, or env libraries (or both). Maybe something like `{library}-{env}` would work well?

As for the metadata format, we could either:
- add a `environments: ` top-level yaml key to model card metadata, like we have to link to `datasets: `
- or, use `tags:` – like we do for library names – which has the drawback that we need an exhaustive list of

[2022-03-08 19:58] coyotte508 opened #751 "For HTTP request errors, add response to exception message"
**Is your feature request related to a problem? Please describe.**

Most of the time, hf.co sends a JSON response along with HTTP error codes. But it's not shown in the stack trace:

[code]

Which leads hf.co to send a 409 here even though it's really not the correct HTTP code (see https://github.com/huggingface/moon-landing/issues/2272)

**Describe the solution you'd like**
Add the error message

[2022-03-08 20:04] julien-c commented on #751
maybe tagging @adrinjalali too on this

[2022-03-09 00:02] Pierrci commented on #724
I think an `environments:` top-level key would work well yes.

[2022-03-09 10:03] JingxinLee opened #752 "Token cannot be pasted in JupyterNotebook in VScode"
Hi, I am using jupyternotebook via VScode. But When I run
[code]

I copy the Token, but I cannot paste it in the jupyternotebook in VScode. How to solve it?
[code]
 doesn't work either.

Thanks!

[2022-03-09 10:32] osanseviero commented on #752
cc @LysandreJik @sgugger

[2022-03-09 11:03] LysandreJik commented on #497
Why not, if it helps! I've tried to parallelize uploads in the past but it has always resulted in 500 errors from the backend.

Feel free to open a PR @osanseviero!

[2022-03-09 11:09] osanseviero commented on #497
Yes, the backend fails as discussed in #707. A v0 could push sequentially, which would be a bit of a mess and slow, but still solve the problem. The discussion in https://github.com/huggingface/moon-landing/issues/2260 might unblock this use case though.

[2022-03-09 14:09] osanseviero opened #754 "Revamp of Hub documentation"
As we do #744 and add library documentation based in docstrings, the hub docs might split into `hugginface_hub` and product usage.

Based on existing content, what we can do is more self-contained use cases. An initial mental model without creating additional content would be

Move to `huggingface_hub` as guides
* How to programmatically access the Inference API
* https://huggingface.co/docs/hub/h

[2022-03-09 14:41] sgugger commented on #752
Could you explain a bit more why you can't paste it? On my side, I get the login window like on a regular notebook/colab and can paste the token then clean Login.

![image](https://user-images.githubusercontent.com/35901082/157463919-ba2bf0d7-f820-4549-8dde-2ddc173af2a2.png)

[2022-03-09 14:58] JingxinLee commented on #752
I copy the token and I want to paste it in the **Token** textbox， but nothing show in the textbox. I am sure I copied cause I can paste it anywhere except the Token textbox. Click **login** and **Use Password** button don't work.

[2022-03-09 15:17] Pierrci commented on #497
@osanseviero yes, I think it's probably simpler to wait for the revamp of the file upload system

[2022-03-09 15:19] sgugger commented on #752
Sounds like an issue with the widgets not properly working in VSCode. There is little we can do on our side to fix it, you should raise the issue on their repos.

[2022-03-09 16:10] adrinjalali commented on #751
Wouldn't this be maybe better?

[code]

[2022-03-09 16:19] adrinjalali commented on #751
The *cause* is shown nicely though, e.g:

[code]

And I think it's the way one is supposed to raise exceptions from another one?

[2022-03-09 16:20] coyotte508 commented on #751
Ok :)

Python is not my language!

[2022-03-09 16:21] julien-c commented on #754
Yay!

Maybe Repositories should be before Model cards (more general)

Maybe there's also `Model card` we can also maybe further divide into `Repo cards` and `Model cards`, `Dataset cards`, etc (to expose "repo cards" as a general concept)

[2022-03-09 16:33] severo commented on #751
no, `from e` ensures the stack trace is not cut.

[2022-03-10 07:18] LysandreJik opened #759 "API reference using `doc-builder`"
This issue documents the will to have a separate API reference using the [doc-builder](https://github.com/huggingface/doc-builder) tool that was created initially for `transformers`, later adapted for `datasets`, `optimum`, and `accelerate`.

The resulting documentations can be found here:
- [transformers](https://huggingface.co/docs/transformers/index)
- [datasets](https://huggingface.co/docs/dat

[2022-03-10 07:24] LysandreJik commented on #754
Great list, thanks for compiling @osanseviero! Opened a tracker for the library documentation based on docstrings here: https://github.com/huggingface/huggingface_hub/issues/759.

[2022-03-10 07:43] LysandreJik commented on #746
What we've seen in the past is that the principal reason our tests fail in `huggingface_hub` is due to the backend server being spammed by too many requests in parallel and returning errors (401, 403, 500), so I wouldn't rely on parallelisation to speed-up the process.

We've had to add a retry mechanism to retry failed tests due to HTTP errors in order to reduce the number of failed tests due to

[2022-03-10 07:47] julien-c commented on #746
also the staging backend (which is a bit of a misnomer because it's used exclusively for CI from Python client libraries) is still running on an old infra – it's on our roadmap to move it to a more modern infra (cc @Pierrci @XciD @coyotte508) to better differentiate:
- potential scalability or networking issues on the backend
- actual bugs or race conditions in the backend
- potential bugs in the

[2022-03-10 08:28] LysandreJik commented on #752
As a temporary workaround, since you're running on your personal machine and since the token is shared on a user-level, you should be able to do `huggingface-cli login` in your console and be logged-in in your notebook.

[2022-03-10 08:50] cakiki commented on #725
Thank you for the fix!
I think there is now a new bug, as I now see "README.md exists but content is empty. You can click on Edit dataset card to edit." on datasets without a README.md file.

cc @Pierrci @osanseviero

[2022-03-10 08:51] julien-c commented on #725
can you post an example dataset where this happens?

[2022-03-10 08:51] cakiki commented on #725
@julien-c https://huggingface.co/datasets/bigscience-catalogue-lm-data/lm_fr_wikisource_filtered

[2022-03-10 08:55] julien-c commented on #725
(i think i broke this, btw 😅)

[2022-03-10 10:24] LysandreJik commented on #696
Hey @kurianbenoy-aot, tried to reproduce but didn't manage to. Could you share some information about your environment? i.e., what is your Python version, are you running it in the cmd shell, in wsl? Thank you!

[2022-03-10 10:35] LysandreJik commented on #696
I succeeded with the following:
- Install `huggingface_hub` through pypi's latest package or through the git source install
- Add the path in which the script was installed to `$PATH`
- Logged-in
- Verified it worked by importing `whoami` and verifying that the correct info was output

[2022-03-10 10:43] github-actions[bot] opened #762 "A new community image was pushed, need to update API"
Narsil just pushed new code:

https://github.com/huggingface/huggingface_hub/commit/6bafc0c5c4a30a07dc6de922f27dc87f966c7dc3

[2022-03-10 10:59] Narsil commented on #762
It's uploaded waiting on PR review before this is live.

[2022-03-10 10:59] #762 closed

[2022-03-10 12:34] adrinjalali commented on #746
Are there issues/topics on the backend repo one could follow? (disclaimer to non-org members: they're private).

We don't seem to have a forced pagination, which would fix a large part of the issue since right now some of the tests actually retrieve info for ALL stored repos.

[2022-03-10 12:41] muellerzr commented on #746
For posterity here's the longest tests as of December: https://github.com/huggingface/huggingface_hub/issues/544

[2022-03-10 12:47] adrinjalali commented on #759
There are a few things I'm missing here:

- is doc-builder open sourced already? It doesn't seem to have much documentation. Contributors should be able to build the docs locally w/o having access to HF infrastructure.
- Where do we have the `mdx` specs that people can read and learn how to write docs?
- I think it would make sense to wait until we can have GH actions to build and deploy the docs.

[2022-03-10 12:57] LysandreJik commented on #759
- `doc-builder` is open sourced already: [doc-builder](https://github.com/huggingface/doc-builder). The documentation will be completed as part of this refactor, and is part of https://github.com/huggingface/doc-builder/issues/132
- The `.mdx` format is defined [here](https://github.com/huggingface/transformers/tree/master/docs#writing-source-documentation), and as mentioned in https://github.com/

[2022-03-10 13:08] adrinjalali commented on #759
Cool, that sounds nice.

Another question i have is that by reading the "how to write documentation" you provide, it's clear how to write docstrings, but it's not clear how to write user guides and examples:

- I'm thinking something along the lines of having something resembling `sphinx-gallery` examples, and then referencing those examples from user guides.
- How does one reference other objects

[2022-03-10 13:21] osanseviero commented on #759
These are very good questions @adrinjalali :+1:

Maybe it makes sense to move this discussion to an issue in https://github.com/huggingface/doc-builder since this will be relevant for other repos as well. (also that way we keep the discussion here relevant to the migration)

[2022-03-10 13:40] josephrocca commented on #555
@SBrandeis Any progress on this? I just tried to upload a 480mb file and that gave me a error (code 500). I tried a second time and it worked. I tried the above-mentioned 6GB tar again a couple of times but it still doesn't work. So seems flaky, and maybe worse as files get larger? Can you reproduce the errors that I'm talking about, or is it working okay on your end?

To quickly create a ~6GB tar

[2022-03-10 14:27] pngwn commented on #744
I personally have no opinion on this suggestion, as I don't not routinely work with these projects but thought I would share my experience.

In my experince, lots of individual repos scales poorly as an org grows. Having fewer, bigger repos, increases the likelihood that the repo will be well maintained (as it is less liklely to get abandoned without intention, and geenral has more eyes on it), of

[2022-03-10 17:37] osanseviero commented on #754
For Spaces, I think useful questions are
* How to install OpenCV (this one is tricky)
* How to build a Space with TensorFlow.js
* How to build a Space with Flask
* How to build a Space with ...

[2022-03-11 09:40] #706 closed

[2022-03-11 10:32] julien-c commented on #751
Ok so are we in agreement on this? Who wants to open a PR?

[2022-03-11 10:47] SBrandeis commented on #555
Hello @josephrocca

There was indeed an issue preventing the upload of files larger than ~5GB, I'm sorry for the inconvenience

We've released a fix yesterday, and I've been able to successfully upload a 6GB file via the UI today, with network throttling to simulate a low bandwidth: https://huggingface.co/datasets/sbrandeis/test-ui-upload/tree/main

Error reporting is still meh (you have to send t

[2022-03-11 13:11] adrinjalali commented on #751
I'll send a PR

[2022-03-11 14:46] prashansa opened #766 "SSL certificates renewed very frequently"
Simply put, we built an API that receives questions or documents from a user through a web application in the front, and on the back end downloads ML models from huggingface.co in order to answer those questions or documents and encode new documents for search.

In order to connect to huggingface.co to download models, we require an SSL certificate. Without the cert, the following error comes up

[2022-03-11 16:09] osanseviero commented on #766
I think @SBrandeis might be able to help

[2022-03-11 16:36] adrinjalali commented on #751
@coyotte508 do you have a minimal reproducing code for me to use?

[2022-03-11 16:50] coyotte508 commented on #751
@adrinjalali

In in `HfApi.delete_repo`, instead of

[code]

I edited to:

[code]

My python terminal was something like:

[code]

On that, hf.co will respond with a json containing `{"error": "..."}`. The new code should show the error message from hf.co (which will still be about a conflict), which is different from the current code.

[2022-03-12 06:25] josephrocca commented on #555
@SBrandeis Thanks! The lack of early errors probably isn't such a big issue now that the upload limit is much higher, although I guess it would be pretty annoying to wait for several hours and get an error, for those that don't know about the limits. And I guess it is basically a one-liner to fix this - i.e. the non-minified equivalent of `if(s.size > max) showTheError()` here:

![Screenshot from

[2022-03-12 09:35] julien-c commented on #555
(for context @josephrocca on that linked comment, we're going to probably ~reimplement the LFS part of git in the browser 🤯 )

[2022-03-13 05:35] josephrocca opened #767 "Different background color in markdown <code> blocks"
Here's what \`code\` blocks currently look like in README files:

![image](https://user-images.githubusercontent.com/1167575/158046530-d58382d2-c0d9-4ae5-9505-6c01dc84d81b.png)

I think something like this is much more readable:

![image](https://user-images.githubusercontent.com/1167575/158046507-507645ec-825b-483f-863a-0e4a13f2f67f.png)

In that example I've just added these 3 lines to the `.pro

[2022-03-13 06:24] josephrocca commented on #555
Still getting code-500 errors here and there :/ This was for a 3.5GB tar file:

![image](https://user-images.githubusercontent.com/1167575/158046784-0e261812-965a-4dff-84b0-161544c63c00.png)

Tried again and it worked the second time though. No idea what caused it, but one difference was that during the first upload I was creating other small files (e.g. readme, etc.) while it was running. I was a

[2022-03-13 12:02] julien-c commented on #555
Yes we do not support concurrent commits while uploading/committing a file through the UI

[2022-03-13 12:03] julien-c commented on #767
WDYT @gary149?

[2022-03-14 08:56] XciD commented on #766
Hello @prashansa, it seems like the zScaler root CA is a [corporate SSL proxy certificate](https://help.zscaler.com/zia/about-ssl-inspection).
Amazon issues our certificate; you can check here: https://www.ssllabs.com/ssltest/analyze.html?d=huggingface.co&s=174.129.240.49&latest

You need to check with your company administrator to automate the zScaler root CA download.

[2022-03-14 13:30] adrinjalali commented on #754
Something we were just talking with @LysandreJik is that at the moment we don't have documentation on specifications of each integration.

Trying to explain:

Many of our integrations have been happening with close collaboration with third party developers. We would sometimes change something in the backend to support certain aspects of the new integration. For instance, the `fastai` integration a

[2022-03-14 13:36] adrinjalali commented on #751
Trying this out, there seems to be a difference between the staging and the live envs. On live, this is what I have:

[code]

while on staging:

[code]

I get no errors, which is odd cause sending the same request in the test file results in this error:

    HTTPError('409 Client Error: Conflict for url: [https://moon-staging.huggingface.co/api/repos/delete]()')

But the `e.response.text` is just

[2022-03-14 14:25] simoninithomas opened #769 "How to correctly upload 160 RL models?"
Hi! For people who upload a lot of models on the Hub, I'm working on the upload of about 160 RL models ([rl-trained-agents](https://github.com/DLR-RM/rl-trained-agents/tree/72feeb8c2e8985e5382ee61f3542ee023ec81922)) :fire: so **I will not do it by hand :sweat_smile:**

The github repository containing all the models is like this:
[code]

Each model is like this (for instance `/ppo/SpaceInvadersNoF

[2022-03-14 14:46] simoninithomas commented on #769
@osanseviero : "Then the approach sounds good. One suggestion to avoid having to do this twice, is that I would unzip the files. Having them within a zip is not great I feel, specially since you have 0 idea what is in there without download+unzipping (similar to how we discussed spaCy works atm)"

**So the described process is only for SB team models**.

The idea is:
- When people run the script e

[2022-03-14 15:05] adrinjalali commented on #751
I think that's because linux's POSIX is more relaxed on the order of arguments than MacOs's ;)

What should the message look like? Since we're testing that the right message is raised, the test in the PR needs to know what to expect.

[2022-03-14 16:43] julien-c commented on #555
I believe @SBrandeis has a PR open to relax this requirement

[2022-03-14 16:52] julien-c commented on #769
i agree that you should store the uncompressed files whenever possible (to get git history etc)

[2022-03-14 23:06] gary149 commented on #767
I agree this is more readable 👍 . The background is a bit too dark but that's fine-tuning. @mishig25 can probably take a look at this (we need to be careful with the CSS cascading to not break anything).

[2022-03-16 11:01] LysandreJik commented on #744
As everyone involved in the thread seems to react positively to the split, we will now go ahead and split the repository in three parts with @adrinjalali.

We're currently trying the following:
- Keep `huggingface_hub` as the source of truth with all commits and files. At the end of the process, when we have verified everything works correctly as expected, we will remove the files of the two other

[2022-03-16 11:32] adrinjalali commented on #744
@Narsil could you please have a look at https://github.com/huggingface/api-inference-community and check if things are okay? I have a fork of the old version under my account in case we end up needing it.

[2022-03-16 12:42] adrinjalali commented on #744
I think I made sure the `.github` and `api-inference-community` are in sync here and in https://github.com/huggingface/api-inference-community

One thing I think is missing is the `USER_API_TOKEN` secret, which I'm not sure how to generate for the new repo.

[2022-03-16 12:53] adrinjalali commented on #722
Closing as the fix is merged.

[2022-03-16 12:53] #722 closed

[2022-03-16 13:07] adrinjalali commented on #710
Hi @tkon3 , sorry for the delayed response. I think a better place for such a request/feedback is this section on our forum: https://discuss.huggingface.co/c/site-feedback/2

I personally think this feedback is very valid, but the responsible team can give you much more educated answer than I can.

[2022-03-16 13:10] adrinjalali commented on #708
With the restructuring of this repo I think this issue is not much more appropriate to be discussed here: https://discuss.huggingface.co/c/site-feedback/2

WDYT @merveenoyan ?

[2022-03-16 13:16] adrinjalali commented on #696
Closing as there seems to be a fix. Happy to reopen if it's still an issue @kurianbenoy-aot

[2022-03-16 13:16] #696 closed

[2022-03-16 13:23] adrinjalali commented on #644
This is very valuable feedback @cakiki , but I think the forum (https://discuss.huggingface.co/c/site-feedback/2) is a much better place to discuss this than here (especially since we're restructuring the repo a little bit)

[2022-03-16 13:23] #644 closed

[2022-03-16 13:27] adrinjalali commented on #614
Any conclusions here? (cleaning up the repo ref: https://github.com/huggingface/huggingface_hub/issues/744)

[2022-03-16 13:28] adrinjalali commented on #613
any decisions here?

[2022-03-16 13:34] adrinjalali commented on #611
@ck37 I guess for us to be able to make a better judgement call on this one, it'd help if you could motivate the feature request by giving us a nice list of publications / published models which do text regression. Hope that makes sense.

[2022-03-16 13:42] LysandreJik commented on #744
The `js`, `tasks` and `docs` folders, alongside all commits that touched to these files, have been moved to the public repository https://github.com/huggingface/hub-docs.

Similarly, there is a secret missing for the `js` tests which is the `NETLIFY_AUTH_TOKEN`.

[2022-03-16 13:52] osanseviero commented on #588
For now, I would just push to have all issues related to the Hub in hub-docs instead of closing existing ones.

[2022-03-16 14:06] osanseviero commented on #708
This is about the `huggingface_hub` keras Integration, so we can still keep here I think

[2022-03-16 14:09] #521 closed

[2022-03-16 14:35] LysandreJik commented on #300
Closing this as https://github.com/huggingface/transformers/pull/13573 was merged. Thanks @siddk!

[2022-03-16 15:00] adrinjalali commented on #237
We can probably manually edit the release notes for the next release, and the one after that should be clean. I think we can close this one.

[2022-03-16 15:00] #237 closed

[2022-03-16 16:43] julien-c commented on #744
@mishig25 who's "owning" the widgets or @beurkinger might be able to add a new netlify token (ping me if you can't find one)

[2022-03-16 20:24] Pierrci opened #775 "`/api/repos/move` now completes in a synchronous way"
No more 202 HTTP response code or email sent, all the errors are returned directly if any (simple 200 if everything went well). See https://github.com/huggingface/moon-landing/pull/2354 for more details.

The related method(s) in `hf_api` need to be updated accordingly cc @coyotte508 @osanseviero

[2022-03-17 09:42] osanseviero commented on #92
Closing this issue as it's stale :smile:

[2022-03-17 09:42] #92 closed

[2022-03-17 09:46] osanseviero commented on #754
Is it ok if I transfer this to hubs-docs repo? Most of this is related to Hub documentation, and the guides can be kept for huggingface_hub library :smile:

[2022-03-17 09:47] LysandreJik commented on #754
Yes, feel free to!

[2022-03-17 10:37] merveenoyan commented on #708
@adrinjalali this is for Keras specific pushing function, the initial version is roughly ready but I will refactor it according to new repository structure if needed.

[2022-03-17 11:02] adrinjalali commented on #708
Cool, thanks @merveenoyan

[2022-03-17 11:05] merveenoyan commented on #658
Other than passing token as an argument, I tested for huggingface-cli and logging in is successful. I wonder if we should put a warning along the lines of "If you're logging in to push models, make sure you are using your personal token" when users are logging in with organization token. When pushing I get following which is a bit confusing IMO.

`HTTPError: 401 Client Error: Unauthorized for url:

[2022-03-17 11:08] adrinjalali opened #777 "Document integration requirements"
Taken from: https://github.com/huggingface/hub-docs/issues/62#issuecomment-1070673406, leaving it here since the repos are now separate.

Something we were just talking with @LysandreJik is that at the moment we don't have documentation on specifications of each integration.

Trying to explain:

Many of our integrations have been happening with close collaboration with third party developers. We w

[2022-03-17 11:25] osanseviero commented on #658
Org/API tokens always begin with `api_org_` as @Pierrci mentioned above, so we can easily detect them. The proposed solution is just to avoid allowing `login` with an org token, so this can simply be fixed by raising a value error if the `api_org_`  is at the beginning of the token in the login functions (such as https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/commands

[2022-03-17 11:26] merveenoyan commented on #658
@osanseviero I understood it and fixed for hub mixin and keras mixin, I'm trying to see where else this would fail atm so I'm testing pushing and pulling and if they fail. 👀 I'll write my findings here.

[2022-03-17 11:31] osanseviero commented on #658
This confused me

We can simply raise an error here, no need to provide a warning.

I don't think you need to change the mixins code itself, though. By changing `login` you would be fixing this issue no?

[2022-03-17 15:52] adrinjalali commented on #775
@Pierrci could you please specify what the change exactly is? What was the response sent on the endpoint before, and what is it going to be now, and what are the possible response codes/error messages in each possible case? Is there a doc page where I could find the info?

[2022-03-17 16:21] coyotte508 commented on #775
- If the move went well: 200 HTTP code
- If the move went wrong - a JSON with "error" field is sent - the error message is in the "error" field.

If you want to add a "move went wrong" case, you can for example rename a repo to one you already own.

[2022-03-18 03:10] wanyu2018umac commented on #611
Hi there, I think this TextRegression task also fits my need, where I need to evaluate the machine translation output with model-based approaches. Recently several approaches have been proposed like BLEURT/COMET/TransQuest, where they all play a crucial role in recent metric/quality estimation(QE) tasks and surpasses previous metric/QE approaches.

For my use, the most related template is TextClas

[2022-03-18 14:54] adrinjalali commented on #154
Working with the API, I don't think `login` should save the token, rather, I think it should store the token in the instance, so that calling other methods would use the stored token. This is what I think the code should look like:

[code]

The user should be able to interact with an instance of `HfApi` w/o touching anything in the filesystem and as a user I would expect `api.login` to set the *st

[2022-03-20 19:24] osanseviero commented on #777
I like this idea!

At one point there was an idea of having a LIbraries page (internal issue: https://github.com/huggingface/moon-landing/issues/749) which would hold this information. Since most of the 3rd party library integrations are not within `hub-docs`, I don't think this should be documented here, but rather in `huggingface_hub` (except maybe for the 2 libraries integrated in `huggingface_

[2022-03-20 21:45] abidlabs opened #784 "remote: tput: No value for $TERM and no -T specified"
Getting the following warning when pushing to the Hub using `huggingface_hub.Repository.push_to_hub()`:

[code]

Not an urgent issue, but it can be confusing to users especially if there are other errors happening as well.

[2022-03-20 21:48] abidlabs commented on #784
To reproduce, I ran the following code:

[code]

[2022-03-21 14:13] LysandreJik commented on #784
Thanks for the issue @abidlabs!

Could you provide your terminal and shell? Thank you.

[2022-03-22 10:28] adrinjalali opened #785 "CI fail on two tests"
The CI keeps failing on this test, I'm not sure why.

Example run: https://github.com/huggingface/huggingface_hub/runs/5628640361?check_suite_focus=true

Ping @LysandreJik @osanseviero

[code]

[2022-03-22 10:36] osanseviero commented on #785
@McPatate @Pierrci was the security status added to the staging endpoint? It seems as if the field was empty.

[2022-03-22 10:38] McPatate commented on #785
I would say no, but I'll let @Pierrci confirm.

[2022-03-22 10:42] osanseviero commented on #785
For the second test, it seems the API is returning malformed soundilfe

[code]

[2022-03-22 10:48] osanseviero commented on #785
@Narsil, on the error above, I think the code snippet above was working some time ago. The dataset is unchanged, so I'm a bit surprised about this. Was there any change in the API?

[2022-03-22 13:15] adrinjalali opened #786 "Support python=3.10"
Python 3.10 has been out for a while but we seem to not test for it. What are the roadblocks for us to support 3.10 and maybe deprecate 3.6? (Many packages now support 3.8-3.10 and older versions are not supported anymore).

Ping @LysandreJik @osanseviero maybe?

[2022-03-22 13:19] muellerzr commented on #786
It should just be as sime as changing python-tests.yml matrix to be 3.7 and 3.10 for the python versions, rather than 3.6 and 3.9.

Not sure if anything would break, but that'd be the spot for the CI

[2022-03-22 17:40] osanseviero commented on #786
If we deprecate python 3.6, things can probably simplify in some places as well cc @omarespejel and @merveenoyan

[2022-03-23 08:11] LysandreJik commented on #785
For the second test, it seems to be flaky; re-running it a couple of times locally makes it succeed. Couldn't reproduce on the CI, where it always fails.

[2022-03-23 08:19] osanseviero commented on #785
In my case running the code of the second test in a clean colab always led to the malformed soundfile unfortunately. I'm surprised it passed locally for you.

[2022-03-23 08:35] LysandreJik commented on #786
Python 3.10: Definitely, let's update the CI to use 3.10 instead.

---

Python 3.6: As this package is a dependency for a lot of libraries, we ought to check with the downstream libraries to see if they don't still support 3.6:

- `transformers`: 3.6+, will likely drop 3.6 support over the coming weeks
- `datasets`: 3.6+, @lhoestq could you comment on the upcoming support?
- `adapter-transformers`

[2022-03-23 08:41] osanseviero commented on #786
The list seems complete! Just to add, most (hopefully all) of those have a pinned `huggingface_hub` version, so removing 3.6 support would not be a breaking issue unless they want to upgrade.

[2022-03-23 08:54] adrinjalali commented on #786
I think a more relevant question would be if there is any package having dependencies on `huggingface_hub` which does not support 3.7, and there doesn't seem to be any?

[2022-03-23 09:22] Narsil commented on #785
@osanseviero @adrinjalali ,

`facebook/wav2vec2-large-960h-lv60-self` is not a pinned model anymore, so you're just hitting the load message.

Using `facebook/wav2vec2-base-960h` which is pinned (most testing purposes of the API too) will hopefully fix that.

I also suggest using a different test call

[code]
Would help understand what's going on earlier.

Another possibility would be to test the

[2022-03-23 09:27] osanseviero commented on #785
Thanks @Narsil! The copy paste from the test went wrong :man_facepalming:. I will be testing this out in https://github.com/huggingface/huggingface_hub/pull/788

[2022-03-23 10:09] lhoestq commented on #786
For `datasets` we can consider dropping support for 3.6 soon as well, since its main dependency PyArrow already stopped supporting 3.6. ~10% of `datasets` users have 3.6, pretty much like `transformers`.

(though last week we got 100k+ pip installs from 3.6 but it looks like an outlier)

<img width="1058" alt="image" src="https://user-images.githubusercontent.com/42851186/159674998-f00ee860-2ad2-4

[2022-03-23 11:12] adrinjalali opened #791 "Reviewer assing task fails on PRs from forks"
The task fails with this error:

[code]

Example run: https://github.com/huggingface/huggingface_hub/runs/5659079126?check_suite_focus=true

ping @muellerzr

[2022-03-23 11:15] osanseviero commented on #791
In any case with the simplification of the repo I was thinking the auto reviewer might not be very necessary anymore. WDYT @muellerzr @LysandreJik?

[2022-03-23 11:16] muellerzr commented on #791
I actually completely agree with you Omar. Before it was good because we had essentially 3 different libs at once, so it was needed for delegation. Now that we no longer have that it can be removed. Feel free to assign it to me and I can get this in today!

[2022-03-23 13:24] merveenoyan commented on #784
I got the same thing both on my local and colab.

[2022-03-23 20:10] #791 closed

[2022-03-24 09:08] adrinjalali opened #796 "RFC tokens should be persisted only with explicit request of the user"
When working with `HfApi` (or other parts of this library), as a user I expect setting the access token (via `set_access_token` or deprecated `login`) to set the token for the instance and not the user.

An example of why this becomes an issue was touched here: https://github.com/huggingface/huggingface_hub/pull/787#discussion_r833681081 where we noticed running tests locally overrides the persist

[2022-03-24 09:10] LysandreJik commented on #784
I don't manage to reproduce on colab; would you have a colab notebook that you can share @merveenoyan?

[2022-03-24 09:42] #786 closed

[2022-03-24 11:18] anton-l opened #797 "PyYAML parses `no` as `False`"
In model cards related to the Norwegian languages (e.g. https://huggingface.co/NbAiLab/wav2vec2-large-voxrex-npsc-nynorsk/blob/main/README.md) some metadata values can be parsed as `False` instead of `no` for the Norwegian language code.

To reproduce:
[code]
Returns:
[code]
Expected:
[code]

[2022-03-24 11:39] Narsil opened #798 "Is it possible to make `HF_ENDPOINT` endpoint overridable in environment variable ?"
**Is your feature request related to a problem? Please describe.**

 We want to update the endpoint for this library (actually for `datasets`) for hub reasons.
AFAIK, it's actually also necessary for China.

**Describe the solution you'd like**

Something like in `transformers` : https://github.com/huggingface/transformers/blob/main/src/transformers/utils/hub.py#L110
Having the same defaults, just

[2022-03-24 12:15] julien-c commented on #797
yes that conforms to the YAML spec. It's the model card that should be updated to quote "no"

[2022-03-24 12:16] julien-c commented on #798
this library does honor `HF_ENDPOINT` as far as i know

[2022-03-24 12:16] julien-c commented on #798
#703

[2022-03-24 13:26] Narsil commented on #798
I think this call is wrong then, no ? https://github.com/huggingface/huggingface_hub/blob/df4c6d929a6357379ae20558edc609d12876a294/src/huggingface_hub/file_download.py#L174

Defined here: https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/constants.py#L32

[2022-03-24 13:42] #797 closed

[2022-03-24 16:13] Narsil commented on #798
Ahh it's not in the released version either ! That's also part of why I was confused it wasn't working.

Maybe the call site I found was not the culprit for the behavior I was observing.

[code]

[2022-03-24 16:39] LysandreJik commented on #798
Version v0.5.0 should drop in the coming days, hopefully by next Wednesday.

[2022-03-24 21:27] osanseviero opened #800 "Allow specifying multiple tags with the Keras mixin"
As a user, I might want to not just specify the task name, but also other tags. Since tags with a task name are automatically identified as a task, we can simply accept a list of tags .

For example
[code]

cc @merveenoyan @NielsRogge @nateraw

[2022-03-25 14:22] merveenoyan commented on #800
I'm currently off, will implement this tomorrow.

[2022-03-25 14:23] sashavor commented on #784
I'm also getting this error, just by pushing to my space:

[code]

[2022-03-25 14:23] FarukOzderim commented on #784
@LysandreJik there is an issue at Gradio with more info, sharing it below in case it helps with the issue:

https://github.com/gradio-app/gradio/issues/842

[2022-03-25 14:47] LysandreJik commented on #784
Seems to be linked to git itself rather than `huggingface_hub`; will try to reproduce.

[2022-03-25 14:49] abidlabs commented on #784
Sorry for the late response @LysandreJik. I was using Windows Terminal, but it looks like this is not specific to my OS/Terminal.

[2022-03-25 16:46] julien-c commented on #784
was fixed server side by @XciD and @Pierrci working their magic

[2022-03-25 21:43] Pierrci commented on #785
It's using the same security scanner endpoint/instance as in prod (meaning that if you test with a model also in prod you _should_ see something), but the webhook isn't plugged on it (meaning any random model added in staging will not be processed)

[2022-03-25 21:47] McPatate commented on #785
Also I'm not sure the scanner would manage doing its job with staging stuff as it only uses the Hub in production.

[2022-03-28 09:22] LysandreJik commented on #739
Indeed, it would be great!

[2022-03-28 09:28] julien-c commented on #739
note that this is done in #801 which in turns depends on the API calls implemented in #792

[2022-03-28 10:10] #785 closed

[2022-03-28 18:34] kingabzpro opened #805 "push_to_hub_keras API dose not support sequential GANs models."
**Is your feature request related to a problem? Please describe.**
I face error when I run
[code]

**Describe the solution you'd like**
I think some sequential models dosen't support `tf.keras.models.save_model(GAN, "./CELEB-GANs/")`, instead we can use `GAN.save("model.h5")`

**Describe alternatives you've considered**
The complete code is from [Kaggle notebook](https://www.kaggle.com/code/kingab

[2022-03-28 19:00] kingabzpro commented on #805
Can you check again now? https://www.kaggle.com/code/kingabzpro/fake-faces-with-dcgans

[2022-03-29 13:48] #732 closed

[2022-03-30 13:55] SBrandeis opened #808 "`HfApi.endpoint` should be configurable in `Repository`"
https://github.com/huggingface/huggingface_hub/blob/c2ffc48cd4d9c0271c0cc68d17a11e1088d3fa1a/src/huggingface_hub/repository.py#L434

We should be able to pass arguments to `HfApi()` from `Repository`

[2022-03-31 07:16] adrinjalali commented on #808
@SBrandeis could you please explain further what the usecase is, and share a bit of code which would use the arguments? It helps with designing the API.

[2022-03-31 07:22] adrinjalali commented on #798
From what I understand this seems to be fixed in upstream. Closing. Please comment if the fixes in upstream don't satisfy the requirements.

[2022-03-31 07:24] adrinjalali commented on #777
I agree that the documentation should be where the implementation is. But isn't that `api-inference-community` then?

[2022-03-31 07:31] adrinjalali commented on #769
Is this issue resolved? Can we close this?

[2022-03-31 07:59] osanseviero commented on #777
As discussed offline, `api-inference-community` is focused in the API implementation and docker images, not in downstream and upstream integrations.

I think we will likely have a new libraries section in hf.co/docs/hub with a page for each library. I think that would be part of https://github.com/huggingface/hub-docs/issues/62#issuecomment-1070673406 and with the revamp of the Hub docs cc @NimaBo

[2022-03-31 08:27] osanseviero commented on #769
Yes, this is more of a discussion on good practices rather than an issue with the core library. This info will be useful for the new docs as well cc @NimaBoscarino

[2022-03-31 08:27] #769 closed

[2022-03-31 10:06] LysandreJik opened #811 "[API Reference docs] The `build_documentation` Action does not run successfully"
The `build_documentation` action fails as it's unable to find the workflow:

https://github.com/huggingface/huggingface_hub/actions/runs/2070320057

[2022-03-31 10:07] LysandreJik opened #812 "[API Reference docs] Lack of images"
Some images are not rendered correclty in the documentation, and a process needs to be set regarding the contribution of assets to the repository.

[2022-03-31 12:48] merveenoyan commented on #658
We merged the PR that solves the issue, I'm closing it.

[2022-03-31 12:48] #658 closed

[2022-03-31 12:48] adrinjalali opened #814 "CI replace doc build comment with a GH action"
The bot adds a comment to every PR at the moment to leave a link to the built documentation.

That can be replaced with a GH action which links to the docs directly, as discussed here: https://github.com/huggingface/huggingface_hub/pull/813#issuecomment-1084502890

cc @LysandreJik

[2022-03-31 12:57] SBrandeis commented on #808
I'm using `huggingface_hub` in AutoTrain to handle repo creation / cloning

My local version of AutoTrain uses a local version of the HF Hub to store and manipulate repos. The URL of the local HF Hub is not `https://huggingface.co` but rather `http://localhost:PORT`

Currently `huggingface_hub` assumes the URL to the HF Hub is `https://huggingface.co`, and I have to implement ugly hacks as the one

[2022-03-31 12:58] SBrandeis commented on #808
I'm happy to open a PR if it makes sens to add this change to the library

[2022-03-31 12:59] LysandreJik commented on #808
It's a reasonable asumption which would also unblock on-prem efforts as seen in https://github.com/huggingface/huggingface_hub/issues/650 and  https://github.com/huggingface/transformers/issues/15514

[2022-03-31 13:01] #811 closed

[2022-04-04 09:50] SBrandeis opened #816 "Relax version constraint on `requests`"
#815 introduces a requirement on the minimal version of `requests` (`>=2.27`)

This requirement should be relaxed because 2.27 is way too recent

_Originally posted by @adrinjalali in https://github.com/huggingface/huggingface_hub/pull/815#discussion_r841533043_

[2022-04-04 09:52] #808 closed

[2022-04-04 15:49] Narsil commented on #798
I think this part was not fixed: https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/constants.py#L32

This function is used in `pyctcdecode` *https://github.com/kensho-technologies/pyctcdecode/blob/09eadf4c3670c94ffc1d84a415c2685e16645b65/pyctcdecode/decoder.py#L764)  for instance which we use in `transformers` for instance (https://github.com/huggingface/transformers/blo

[2022-04-04 17:22] #816 closed

[2022-04-04 17:52] LysandreJik commented on #798
Makes sense to me to align the variable names, indeed.

[2022-04-04 22:12] stevhliu opened #818 "Docs review"
This issue shares some feedback about the latest docs. Really interesting to come back and see what I had written a couple of months ago, let me know what you think! 😅

1. I think the _How to integrate [upstream](https://huggingface.co/docs/huggingface_hub/how-to-upstream)/[downstream](https://huggingface.co/docs/huggingface_hub/how-to-downstream) utilities in your library_ docs describe the downl

[2022-04-05 08:34] #798 closed

[2022-04-06 09:09] lhoestq opened #821 "HfApi.create_repo fails in 0.5 if the org name is passed in `repo_id` and `organization` arguments"
As reported in https://github.com/huggingface/datasets/issues/4105 if you pass a `repo_id` (containing the org name or not), and also the `organization` parameter to `HfApi.create_repo`, then you get this error:
[code]

This used to be allowed in 0.4 and is a breaking change that makes `push_to_hub` fail for all versions of `datasets`.

As a general rule, deprecations should also log warnings rath

[2022-04-06 09:34] adrinjalali commented on #821
PR with the hotfix: https://github.com/huggingface/huggingface_hub/pull/822

[2022-04-06 11:12] osanseviero commented on #818
Also cc @NimaBoscarino. For context, this is about `huggingface_hub` docs, not the Hub docs.

[2022-04-06 11:58] #821 closed

[2022-04-08 10:10] adrinjalali opened #824 "RFC Creating a coherent user and developer experience regarding integrations"
## Status-quo

At the moment, there are different ways to interact with the hub. This RFC aims to look at a summary of them, and try to find ways to enhance end users' and developers' experience.

Other than the website and `git`, right now we provide a set of tools available in `huggingface_hub` which users and third party developers can use to interact with the hub.

Some integration related int

[2022-04-08 19:19] nateraw opened #825 "push_to_hub_keras rejected because it contains binary files"
I noticed I can't push the LFS files associated with Keras models anymore. What's interesting is that I'm experiencing the same issue on older versions of `huggingface_hub` (0.4.0) as well as new versions (0.5.1).

Here is a minimal example to recreate the issue:

[code]

You can also try it yourself in Colab: [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://col

[2022-04-08 19:22] LysandreJik commented on #825
Linked to https://github.com/huggingface/huggingface_hub/issues/687

[2022-04-08 19:32] Pierrci opened #826 "`/api/repos/ls` has been removed"
Since March 1, the endpoint `/api/repos/ls` doesn't exist anymore (see https://github.com/huggingface/moon-landing/pull/2215, cc @coyotte508). The `hfApi.list_repos_objs` method should be removed too as a result - sorry for the (very) late notice!

(FYI, there were 21 calls to this endpoint in the last 30 days)

[2022-04-08 19:35] merveenoyan commented on #825
The issue linked by @LysandreJik is for git lfs not tracking small files, what Dimitre pushed was a GAN model and I doubt that's a small file.

[2022-04-08 19:38] LysandreJik commented on #825
The issue linked above is due to binary files not being automatically tracked by git-lfs; in this instance, the push was rejected because it contains binary file. I believe having automatic tracking via git-lfs for binary files would solve the issue shown by @nateraw's code sample above.

[2022-04-08 19:47] Pierrci opened #827 "Removal of `/api/{login,logout}` methods"
We're in the process of completely removing the support of session tokens as a way to authenticate on the hub, which implies removing the `/api/{login,logout}` endpoints (cc @allendorf) - which would affect the `huggingface_hub` library.

I know it's currently showing as deprecated and scheduled to be removed in v0.7.0, but given the very low usage we're seeing (< 100 calls/day to `/api/login` on

[2022-04-08 20:03] LysandreJik commented on #825
@nateraw could you try by checking out this branch to see if it solves your problem? https://github.com/huggingface/huggingface_hub/pull/828

[2022-04-08 20:23] nateraw commented on #825
Solved ✅ thank you!!

[2022-04-08 20:49] LysandreJik commented on #687
Will be closed by https://github.com/huggingface/huggingface_hub/pull/828

[2022-04-09 13:00] julien-c commented on #826
unless I'm missing something, this was removed in February in #702

[2022-04-09 13:50] Pierrci commented on #826
wtf - I probably wasn't looking on `main`, my bad 💩💩💩

[2022-04-09 13:50] #826 closed

[2022-04-11 08:14] NielsRogge opened #829 "PyTorchModelHubMixin doesn't work when pushing to the hub several times"
The `PyTorchModelHubMixin` doesn't work when regularly pushing the model to the hub, let's say every epoch.

At some point, your notebook or script will fail with the following error:

[code]

I've created a minimal Colab notebook to reproduce: https://colab.research.google.com/drive/1Ao5ud6Wa1JAORHauexvtrdl0-VYITuMK?usp=sharing

Weirdly, it works for the first few epochs, but then fails at some p

[2022-04-11 08:17] NielsRogge commented on #829
Relevant to #321

[2022-04-11 11:16] julien-c commented on #829
could be rate-limiting no? @XciD

[2022-04-11 12:03] FarukOzderim opened #830 "[BUG] Uploading files just after Creating a Space"
Hello!

Could not find a bug template, so I created a blank issue. Usually uploading files just after Creating a Space with huggingface_hub client library does not trigger build of the space. 1 second of sleep bypasses the issue.

Example [space](https://huggingface.co/spaces/farukozderim/Model-Comparator-Space-Builder/blob/main/app.py#L174)

[2022-04-11 12:41] XciD commented on #829
Yes, I've deployed new rules in the firewall, can you retry?

[2022-04-11 12:44] osanseviero commented on #830
cc @cbensimon

I'm almost sure I've experienced this when playing with the fork a repo Space

[2022-04-11 18:38] LysandreJik opened #831 "Internal test for security fails"
The `test_model_info_with_security` test currently fails with the following stacktrace:

[code]

cc @McPatate

[2022-04-11 19:14] julien-c commented on #831
Yes, @McPatate can confirm but I think the tests here should be updated because we don't expect the API to return `infectionTypes` anymore

[2022-04-11 20:15] osanseviero commented on #831
Also related
* https://github.com/huggingface/huggingface_hub/issues/785 There's a discussion about security over there
* https://github.com/huggingface/huggingface_hub/pull/810#issuecomment-1084438125

[2022-04-11 23:39] Pierrci commented on #830
Might be related to the fact that we don't "await" for the creation event to be received by the spaces' manager in moon-landing before returning a response during the creation of a new space.

[2022-04-12 08:48] McPatate commented on #831
Sure !

[2022-04-12 09:36] #831 closed

[2022-04-12 09:37] McPatate commented on #831
Can we mark this as closed ?

[2022-04-12 13:14] LysandreJik commented on #827
At the rythm at which we're going, I would expect one release a month, so in ~1 month and 3 weeks we should be at the v0.7.

What would the endpoints return when deprecated? Would it return a 404 error when pointing to `/api/log{in,out}`, or can it return an error message pointing to what to do now?

The core issue with removing that endpoint is that several libraries have pinned `huggingface_hub`

[2022-04-12 13:24] lvwerra opened #835 "Expose a function to update the meta data in the readme"
As discussed in https://github.com/huggingface/evaluate/issues/6 we would like a function to update the meta data in the readme of a repo:

[code]

This would enable to programmatically update meta data such as metrics from the `evaluate`, `datasets`, or `transformers` libraries.

There are two use-cases:
1. The key does not exist yet so we add an entry.
2. The key does already exist but needs to

[2022-04-12 13:27] julien-c commented on #835
sounds good to me!

this can use the existing metadata-related functions under the hood, and maybe rely on upload_file so it doesn't need a local install of `git`

[2022-04-12 13:39] LysandreJik commented on #827
I checked ~20 repositories on GitHub that were leveraging versions anterior to v0.2.0 which introduced access tokens, and none of the ones I checked leverage the `/login` endpoint indeed, it's only used for fetching.

As long as the 404 contains a message which can be read from the runtime when trying to login it's fine for me.

[2022-04-12 13:44] osanseviero commented on #835
Yes, I think using single file download + `metadata_load`/`metadata_save` (https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/repocard.py) + `upload_file` would be very good idea

[2022-04-12 14:52] NielsRogge commented on #829
Doesn't work for me, I'm still getting:

During handling of the above exception, another exception occurred:

[code]

[2022-04-12 15:04] LysandreJik commented on #824
Thanks for the write-up! I agree that:
- Giving the libraries owners the tools to integrate upload/download support in their library so that it is coherent with their own API
- Offering a very simple integration so that all libraries can then easily share a similar CLI API on top of their own

Are great ways to move forward and to ensure simplicity of usage for users. Excited to see this taking sh

[2022-04-12 15:32] NielsRogge commented on #829
Update: works fine for me now.

Closing this issue, thanks for looking into it!

[2022-04-12 15:32] #829 closed

[2022-04-12 16:40] willfrey opened #836 "Rename `allow_regex` and `ignore_regex` in `snapshot_download` to be consistent with `fnmatch`"
https://github.com/huggingface/huggingface_hub/blob/3e72bc876d72855445a3c204f483eb761eb91da5/src/huggingface_hub/snapshot_download.py#L214-L223

In the above, `fnmatch` is being used to filter files against `allow_regex` and `ignore_regex`. Acknowledging that I might be being overly pedantic here, [the official docs for fnmatch](https://docs.python.org/3/library/fnmatch.html) include the following

[2022-04-12 21:57] osanseviero commented on #824
cc @patrickvonplaten who has done lots of integrations within audio libraries and whose input would be valuable here too 😄

[2022-04-14 10:20] adrinjalali commented on #836
I think we can fix this as a bugfix, i.e. no deprecation. I agree with your analysis. I'd be happy to review a PR if you'd like to send one :)

[2022-04-14 10:44] adrinjalali opened #837 "Uniformize token retrieval/validation"
Right now there is `HfApi._validate_or_retrieve_token()` and `HfFolder.get_token()` and they're used in different places. We should have a single place where we deal with tokens.

ref: https://github.com/huggingface/huggingface_hub/pull/792#issuecomment-1095415018

cc @merveenoyan maybe?

[2022-04-14 11:23] LysandreJik commented on #836
cc @patrickvonplaten who implemented it originally

[2022-04-14 14:17] merveenoyan commented on #837
I can surely refactor and deprecate one of them. Let me check the code and come up with something.

[2022-04-14 16:27] patrickvonplaten commented on #824
+1 Agree

Hmm does this fit though with the general design of `huggingface-cli` being able to create a model repo:

[code]
and login, etc...

Personally, I think it'd be more important to first add functionality allowing users to not just create model repos but also dataset repos and space repos

From a first intuitiion this looks a bit weird to me because for me libraries like `transformers` wrap

[2022-04-14 22:44] stevhliu commented on #818
Opened #839 to take care of the general maintenance things. Next up, I'll work on something to address 1 and 2 :)

[2022-04-16 00:24] stevhliu opened #841 "Add a quick start guide"
Currently, the docs don't have an end-to-end guide demonstrating how users can string everything together in the `huggingface_hub` library. There are three guides, and each of them highlight a different aspect of the library. I think adding a quick start guide would add value for users by capturing the core parts that are representative of the library (namely downloading, uploading, and creating/m

[2022-04-16 07:01] cakiki opened #842 "[Feature Request] Add "git clone XXXXX" snippet for Spaces"
**Is your feature request related to a problem? Please describe.**
There currently is no copiable snippet for spaces to clone them locally.

**Describe the solution you'd like**
A similar behavior to `transformers` and `datasets` that provides the `git clone xxxxxx` copy button.

**Describe alternatives you've considered**
Manually constructing the git link.

**Additional context**
N/A

[2022-04-16 07:48] julien-c commented on #842
[[internal issue/PR](https://github.com/huggingface/moon-landing/pull/2347)]

[2022-04-18 12:43] LysandreJik commented on #812
Agree with you that building and viewing the docs offline would be ideal. Right now the images are hosted somewhere else than in the documentation, for example here: https://huggingface.co/datasets/huggingface/documentation-images/tree/main

The reason why it's not the case right now:
- Images can end up weighing a significant amount and cannot be removed from the git history once merged into `mai

[2022-04-18 14:51] patrickvonplaten commented on #836
Ok for me to rename the function arguments. I'd prefer to go over a deprecation cycle though that would still allow `allow_regex` and `ignore_regex` to be passed, but would throw a warning to instead use `allow_patterns`.

We should then also update the naming here:
- https://github.com/huggingface/transformers/blob/9a2995ee394b8f45fa3a5c12187e06886b77691a/src/transformers/models/wav2vec2_with_lm/

[2022-04-18 15:46] willfrey commented on #836
I won't be able to dig into this until next week at the earliest. If someone else wants to make the changes, that's more than OK with me 😄 I'd have to do some digging for examples of how all like to handle warning messages for deprecating APIs/changing callable signatures.

[2022-04-19 08:40] merveenoyan opened #843 "History and Config in Keras repositories"
This is a feature request and discussion between @ariG23498 and me :') Wanted to carry this here for opinions.

Aritra thinks it would be cool to have history in repository directly, currently we only write `model.history.history` in model card.
Also if the config dictionary is not provided by the user, we can load the config with `get_config` (see [here](https://www.tensorflow.org/guide/keras/sav

[2022-04-19 09:21] ariG23498 commented on #843
On top of what @merveenoyan documented brilliantly I also think we should compare the the pytorch auto-filling of cards with that of Keras. If we can align the expectation it would be a more controlled effort in building this API better.

WDYT?

[2022-04-19 09:59] gante commented on #843
In general sounds good!

But let me play the devil's advocate for a bit :D The `config` in Keras seems to have a similar role to our (Hugging Face) `config`. Having two `config`, especially with similar names, might be confusing -- what do you think? Also -- do you think we could convert back and forth between these two configs? We might be able to create a way to use our HF `config` (which we hav

[2022-04-19 10:38] ariG23498 commented on #843
Hey @gante

Just to clear things in my head:
- By HF `config` we are referring to [config](https://huggingface.co/docs/transformers/main_classes/configuration)?
- With the `push_to_hub` Keras API currently, we cannot populate the `config`. Do you think there is a better way to do it so that there is no clash of variable names?  https://github.com/huggingface/huggingface_hub/blob/18e6e87af82ee18f1f

[2022-04-19 10:41] merveenoyan commented on #843
@gante currently `push_to_hub_keras` already takes an arg called `config`(which is a dict) that is later saved into a `config.json` file, so it's already there. We're talking about automating the process and not receiving it by user (and if user decides to override config, let them do it).
@ariG23498 the card comparison sounds really good! My code is a bit too dirty on that side.

[2022-04-19 11:20] gante commented on #843
Yes yes, I agree with what you're proposing @merveenoyan @ariG23498  :D What you're proposing should have clear benefits for the user.

I realized now that I was concerned about a case that shouldn't happen: the case where we have a Keras model that is defined by an architecture in HF transformers, where the user calls `push_to_hub_keras`. In that case, the user should call instead `save_pretraine

[2022-04-19 11:24] merveenoyan commented on #843
@gante I think `push_to_hub_keras` is not meant for transformers and we have different functions for that, I wonder if `tf.keras.models.save_model` which is used for Keras mixin would be able to save a transformers model anyway. The callbacks and other stuff save other things that model needs to be loaded with `from_pretrained`, if user tries to save a transformers Keras model they will not be abl

[2022-04-19 11:30] gante commented on #843
It is doable, and required for some use cases (e.g. TF Lite). It kinda works, but has severe limitations (e.g. with variable-length inputs). If there was a way to quickly determine whether the model is a `transformers` model, then we might avoid some user struggle :D In any case, it is a non-urgent topic that's not directly related to the original proposal, sorry for disrupting 🙏

[2022-04-19 11:34] merveenoyan commented on #843
@gante can you open an issue and ping me there?

[2022-04-19 15:09] gante opened #845 "Guide HF transformer users to use the corresponding hub functions"
**Is your feature request related to a problem? Please describe.**
We have `push_to_hub_keras` to push Keras models. However, HF transformer architectures have a more comprehensive model hub push in `save_pretrained`. It would be nice to nudge users there if they try to use `push_to_hub_keras` with an HF transformer.

**Describe the solution you'd like**
A loud warning nudging users to the right p

[2022-04-19 19:19] osanseviero commented on #845
I think most transformers TF users will just be using existing tools in transformers, I don't know if anyone has tried `push_to_hub_keras` with :hugs: transformers

[2022-04-19 20:46] LysandreJik commented on #845
The transformer models all have the `push_to_hub` method which pushes everything required to the hub; it's shared by models, tokenizers, configurations, feature extractors and processors. If I understand correctly, you'd like to push for users to use `push_to_hub_keras` instead of that, but I think it would break the API shared across all frameworks in `transformers`.

[2022-04-20 09:23] gante commented on #845
@LysandreJik no, the other way around, my concern is that users might attempt use `push_to_hub_keras` with transformer models, when there are better methods (as you mentioned).

@osanseviero I haven't seen related issues, so maybe I'm simply overthinking :D

This conversation started because `push_to_hub_keras` has a `config` argument, but it is not an HF model config -- it is a Keras model config

[2022-04-20 09:47] osanseviero commented on #845
I think this might be a bit of an overthinking; `push_to_hub_keras` is not as widely know as `transformers` `push_to_hub`, and everywhere in `transformers` docs we show `push_to_hub`, so I don't think people would try using `push_to_hub_keras` for Transformers models.

[2022-04-20 11:06] merveenoyan commented on #845
@osanseviero I agree. To my observation, people do `model.save()` and then when they try to load they are asked for config or tokenizer and fail in loading, no one uses `push_to_hub_keras()`.

[2022-04-20 11:09] merveenoyan opened #846 "Deprecation of pushing arguments for cleaner DX in Keras mixin"
Currently push_to_hub_keras looks like this:
[code]
But it's not intuitive and clean. Would be better if we'd do
[code]
As put by @osanseviero [here](https://github.com/huggingface/huggingface_hub/issues/652#issuecomment-1030039263).
We need to deprecate a couple of arguments and put `FutureWarnings` if provided and then remove completely.
Pinging @ariG23498 for discussion 🤗

[2022-04-20 14:57] StefanSamba commented on #752
I experienced the same issue. As a workaround, you could open your .ipynb in Jupyter Notebook, run notebook_login(), add your token and continue. After saving, you can continue in VSCode.

[2022-04-20 20:51] LysandreJik commented on #846
Nice proposal, I agree that what you propose here is much cleaner! It is similar to what is proposed in https://github.com/huggingface/huggingface_hub/pull/847, with some additional arguments stripped away. I'd be very eager to hearing your feedback and proposals on that PR!

[2022-04-20 22:36] LysandreJik commented on #591
Opened https://github.com/huggingface/huggingface_hub/pull/847 which should help with that.

[2022-04-21 04:22] omarespejel opened #848 "Changes suggested to fastai integration"
A cluster of changes suggested to the fastai integration after the merge of #678

- [x] Instead of moving the fastai.Learner from the directory, save in current directory (see [comment](https://github.com/huggingface/huggingface_hub/pull/678#discussion_r844989658) in #678). This is an issue with how fastai exports the Learners.
- [ ] Consider using `packaging` and `packaging.markers` when reviewin

[2022-04-21 08:19] adrinjalali commented on #848
The third issue is related to the backend and not the integration, is that correct?

The first and second issues I think we need to fix in the existing PR since changing them is a change in the behavior for the users.

[2022-04-21 08:47] osanseviero commented on #848
The third point means that instead of raising errors when loading a model if there is no `toml` specified, we could instead just load the model but show a clear warning to users.

Pretty much making these less strict
* https://github.com/huggingface/huggingface_hub/pull/678/files#diff-21cb622665e96594b1761f0db9fa7465e605d4e2a12d8e1c080c5de597738423R101-R108
* https://github.com/huggingface/hugging

[2022-04-21 09:40] adrinjalali commented on #845
I'd say it's also related to https://github.com/huggingface/huggingface_hub/issues/824

[2022-04-21 11:18] adrinjalali commented on #812
It'll be the website repo which gets large, not a repo which is cloned by people, so clone time shouldn't be an issue, and in CI we can shallow clone which fixes the size issue.

Once in a while, if the website repo gets too large, we can collapse its history, since it's not important (ref: https://github.com/scikit-learn/scikit-learn/issues/21171)

[2022-04-21 13:36] #825 closed

[2022-04-22 07:21] juliensimon opened #851 "CLI option to manage model and dataset visibility"
Customer question: "Is there a way to automatically create a private dataset repo through cli? Or the only way to switch from public to private mode is from the web interface?"

At the moment, model/dataset/spaces visibility can only be managed in the hub UI. It'd be nice to add an option in ```huggingface-cli```, maybe something like:

[code]

[2022-04-22 07:48] julien-c commented on #851
sounds reasonable, and shouldn't be too hard given we have
https://github.com/huggingface/huggingface_hub/blob/f7627b412e7a9f778cf382ce934f4a5f7b5e4409/src/huggingface_hub/hf_api.py#L1591-L1600

[2022-04-22 08:21] adrinjalali commented on #851
If we're going to expand the CLI options, we should probably do it in a consistent way, and with an API which allows easy changes as we add/change our internal methods. Also ref: #824

[2022-04-22 12:49] #800 closed

[2022-04-25 09:41] merveenoyan commented on #837
@adrinjalali Correct me if I'm wrong.
`get_token` is called in to check if there's a token, where token doesn't need any validation whatsoever but you just want to prompt user to provide one if there's none in environmental variables.
`_validate_or_retrieve_token` is called inside functions that execute something that needs auth. I know it's not super intuitive that both exist but they do serve di

[2022-04-25 10:30] adrinjalali commented on #837
This is what `_validate_or_retrieve_token` does right now.

Another option is to call a modified `_validate_or_retrieve_token` inside `get_token` (or move its content to `get_token`). We could allow `None` as a token since many methods don't need to pass a valid token to the server.

This means moving `_is_valid_token` and `_validate_or_retrieve_token` outside `HfApi()` and have them beside `get_t

[2022-04-25 12:20] merveenoyan commented on #837
@adrinjalali no I meant we normally call `get_token` inside `_validate_or_retrieve_token` we can just write getting inside validation and call validation everywhere.

OR your suggestion can be having `_validate_token` (remove the retrieval part) called inside `get_token` which I'm fond of. I'll move them outside `HfApi()` and have them beside `HfFolder`. Thanks!

[2022-04-25 12:53] adrinjalali commented on #837
Yep, your latter suggestion is exactly what I was thinking.

[2022-04-25 13:08] osanseviero opened #853 "Use tempfile consistently across all tests"
**Is your feature request related to a problem? Please describe.**
At the moment, some tests use `tempfile` while others use `tearDown` to remove the tests

**Describe the solution you'd like**

Use `tempfile` everywhere. Examples
* https://github.com/huggingface/huggingface_hub/blob/main/tests/test_snapshot_download.py#L72
* https://github.com/huggingface/huggingface_hub/blob/main/tests/test_hf_a

[2022-04-25 13:35] LysandreJik commented on #672
I don't remember why I thought it was ambiguous, but I still think having `create_repo` create the repo and `Repository` handle the repository without creating it is simpler. Will open a PR unless there are objections.

[2022-04-25 23:51] stevhliu commented on #818
Hi sorry for all these PRs! 😅 The plan moving forward is to:

1. Merge the how-to guides.
2. Merge the quick-start guide.
3. Merge the updated landing page with links to all of the above.

For the third-party library integration guide, I don't think doing a step-by-step walkthrough really makes sense anymore because it is so specific to what/how the developer wants to do it. For example, the [spaC

[2022-04-26 07:08] osanseviero commented on #818
I think the integration part also comes with product changes, so I think we can document this better in the new hub docs revamp, with links to `huggingface_hub` for pointers in how to do technical things.

[2022-04-28 13:46] davanstrien opened #857 "Consider implementing Rich Repr Protocol for classes in hf_api"
**Is your feature request related to a problem? Please describe.**

Currently, the `__repr__`'s for classes in the `hf_api` module are nice and compact but can require a lot of side-scrolling to view all of the information. For example, the `__repr__` for `ModelInfo` looks like:

[code]

**Describe the solution you'd like**

[`rich`](https://github.com/Textualize/rich/) is a:

One of the features

[2022-05-03 02:15] kurianbenoy opened #859 "Add filename as args to fastai method from_pretrained_fastai"
**Is your feature request related to a problem? Please describe.**

Yes, using `from_pretrained_fastai` is very helpful, yet we can just use only modelnames with `model.pkl` due to the code.

https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/fastai_utils.py#L349

 I commonly upload models name other than 'model.pkl'. So I want a customizable option to pass filenames from

[2022-05-03 07:13] osanseviero commented on #859
WDYT @LysandreJik @omarespejel?

@kurianbenoy, usually we push for standardizing filenames on the Hub. E.g. all PT models are `pytorch_model.bin`, all JAX/Flax models are `flax_model.msgpack`, etc. Note that `push_to_hub_fastai` saves the model with `model.pkl` name, so if you use that method you should not have problems.

[2022-05-03 09:28] adrinjalali commented on #824
I don't think we want to remove the top level commands, but certain integrations would need specialized commands. For instance, if my library needs to include certain metadata about the environment under which the model can run, the `create` command can take care of that. (not attached to any of these names, we could call it something else).

Some of that already exists, but we need to better docu

[2022-05-03 23:34] omarespejel commented on #859
Thanks @kurianbenoy!

**Problem**: In the current form, if a user (1) did not use `push_to_hub_fastai` to share her Learner, and (2) she did not name her pkl as `model.pkl`; then `from_pretrained_fastai` would not work.

Actually, in a previous commit of  `push_to_hub_fastai` we decided to eliminate the functionality to allow for other pkl names due to the same reasons @osanseviero explained.

[2022-05-04 14:08] merveenoyan commented on #843
I want to wrap the config part out today given we will do another sprint :')

[2022-05-04 15:08] merveenoyan commented on #843
Assuming you have a custom model like below:
[code]

You have two choices for loading. One is to pass config inside the custom objects, you can also choose not to do that.
[code]
This is the output you'll get:
[code]
Currently mixin doesn't pass config to loading function properly. What I'm doing:
1. If user passes config, get the config and override config.json file such that user can load and pa

[2022-05-04 15:29] kurianbenoy commented on #859
The explanation @osanseviero makes totally sense to me. For normal users then there is the alternative option as well with ` hf_hub_download` too.

I am closing this issue. Feel free to reopen in case of any further discussions happen

[2022-05-04 15:29] #859 closed

[2022-05-04 15:36] merveenoyan commented on #843
@nateraw does above align with your findings?

[2022-05-04 19:46] omarespejel commented on #859
Thank you @kurianbenoy!

[2022-05-05 01:02] nateraw commented on #843
So IIRC when we made the original implementation, we intentionally avoided loading config this way because it seemed quite complicated. 😅 I definitely think you're right in that we could do something a bit better.

Right now, you just get the `model.config` attribute added to your model instance if config is found:

https://github.com/huggingface/huggingface_hub/blob/7042df38a9839ac41efd60cf7f985d

[2022-05-05 06:58] osanseviero commented on #843
Agree with Nate :smile: I would avoid adding complexity, but instead focus efforts in increasing the usage of what already exists.

[2022-05-05 13:15] INF800 opened #862 "Private GitLab"
Hi, can I use `https://github.com/huggingface/huggingface_hub` with my private gitlab

[2022-05-05 13:20] INF800 commented on #862
And have model search and dataset search available

[2022-05-05 14:59] adrinjalali commented on #862
Most of the methods in `huggingface_hub` call REST endpoint of the HuggingFace Hub, so you won't be able to use it against a private gitlab. Closing as it's not in the scope of this library.

[2022-05-05 14:59] #862 closed

[2022-05-05 22:10] nateraw opened #863 "Allow boolean values for force_filename in hf_hub_download"
**Is your feature request related to a problem? Please describe.**
If you want to force the filename of a given download with `hf_hub_download`, right now you have to specify the filename in two places. First, when you name the file you wish to download, and then again as you have to pass a string to the `force_filename` kwarg. It would be really nice if you could just say `force_filename=True` to

[2022-05-06 08:56] osanseviero commented on #863
WDYT @julien-c @adrinjalali @LysandreJik? I personally like this idea :+1:

[2022-05-06 13:06] julien-c commented on #863
i feel like this might be rendered a bit moot by #801 as all downloaded files will have their "correct" filename out of the box

I invite everyone to start reviewing #801 BTW when you have a change (still a bit WIP but nearing the "ready for review" status)

[2022-05-06 16:31] Jeevesh8 opened #865 "Unable to download a particular public model due to Forbidden connection error"
To reproduce:

[code]

Url for the models: [model-13](https://huggingface.co/Jeevesh8/bert-base-uncased_ft_13) , [model-12](https://huggingface.co/Jeevesh8/bert-base-uncased_ft_12) .

The stack trace is shown below:

[code]

I don't understand what's the problem here?

[2022-05-06 17:12] julien-c commented on #865
pinging maybe @huggingface/moon-landing-back or @XciD

[2022-05-06 17:32] coyotte508 commented on #865
The particular LFS object is not present on the bucket. It is likely that it was not uploaded correctly.

[2022-05-06 21:55] Pierrci commented on #865
Can you share some details about how you uploaded your models @Jeevesh8? Did you use `git push`? Did you upload through Transformers? Or hf.co maybe?

[2022-05-07 05:02] Jeevesh8 commented on #865
It was pushed automatically using the ``huggingface_hub.Repository.push_to_hub()`` method, from [this](https://github.com/huggingface/transformers/blob/215e0681e4c3f6ade6e219d022a5e640b42fcb76/examples/flax/text-classification/run_flax_glue.py#L634) line of code. I couldn't find anything indicating that an error might have happened in the logs. The only thing I think that may be related is that it

[2022-05-07 08:11] coyotte508 commented on #865
Thank you for the logs. Feel free to fix your model!

[2022-05-07 12:35] Jeevesh8 commented on #865
I deleted the repository, created a new repository by the same name, and did ``git push -f origin main`` in my local repository. It still shows the same error. I am able to load the model from my local repository, though.

[2022-05-09 17:41] nateraw commented on #857
Hey there, thanks for all the info @davanstrien - really helpful. I've also been annoyed by the formatting here in the terminal/when printing, so this sounds like an interesting addition.

One question about this quote:

For users who _have rich installed_, would they have to use `rich.print` to get the benefits?

[2022-05-09 18:51] davanstrien commented on #857
Sorry, that was a bit confusing on my part. Usually, it is possible to use rich as an end user in a few ways that don't rely on print.

In the [REPL](https://rich.readthedocs.io/en/stable/introduction.html#rich-in-the-repl) you can do

[code]
and you will get rich formatting for Python objects (and things which a `__rich_repr__`.

In iPython/notebooks you can install do the following:

[code]
and

[2022-05-10 14:43] merveenoyan commented on #843
Do you think I should close this issue given we merged History feature?

[2022-05-10 16:20] merveenoyan opened #868 "Discussion around tabular data related taxonomy"
I don’t know if it’s right place to discuss but I kinda have an objection for tabular tasks. I recently opened a PR to rename structured data classification to tabular classification, see [here](https://github.com/huggingface/api-inference-community/pull/48). If we will invest in this I don’t want to change the name of this pipeline for now or find something that covers regression as well (see bel

[2022-05-10 20:51] LysandreJik commented on #857
Hey @davanstrien, that's a very interesting proposal, thank you!

I think what we'd ideally reach for here is for the `__repr__` to be updated to output similar information to what is displayed by the `__rich_repr__` you mention here, without necessarily implementing syntax highlighting.

`rich` looks like a cool package, but as we aim for `huggingface_hub` to be a very central package to be used

[2022-05-10 23:48] nateraw commented on #843
@merveenoyan I think the discussion here is 95% about `get_config`/`from_config`, but if we're not planning on doing that now, you can close if you like. Or leave it open for other folks to come join the discussion here if related problems arise. 😄

[2022-05-11 14:16] merveenoyan opened #869 "Remove history from Keras model card"
This is a minor change, I would like to get rid of history in model card before next sprint (which I’m planning to have on first week of june) given we save it as a JSON now (see #861 ) , because for models with more epochs it will look bad on the card as it will log every epoch, and we already have tensorboard traces and history JSON, wanted to be transparent before I move on with the decision.
P

[2022-05-11 19:40] davanstrien commented on #857
This sounds great!

This makes a lot of sense and I can see the issues with adding extra debt by adding `__rich_repr__` especially as this isn't primarily a 'visual' package. I think getting the `__repr__`'s closer to the rich version would be a great solution.

[2022-05-11 20:11] nateraw commented on #857
@davanstrien do you want to give it a shot? This would be a nice contribution 😄

[2022-05-12 08:40] davanstrien commented on #857
I'd love to give it a go! The only thing is I'm afk until the start of June but if you're okay to wait until then, I'm happy to make a start on this.

[2022-05-12 11:35] adrinjalali commented on #857
I think we can wait till you come back @davanstrien , enjoy your time off!

[2022-05-12 12:09] josephrocca opened #871 "Correct names and file extensions for files downloaded from Git LFS"
### Describe the bug

If I download this file (for example):

https://huggingface.co/rocca/lit-web/resolve/main/debug/lit_savedmodel_no_params.tflite

Then it gets redirected to:

https://cdn-lfs.huggingface.co/repos/a0/c4/a0c439d274b0c84a548f2754956dc947d2eabc638b96ec10e9ac5196ac3eae22/24f474efae1d243c41287de37f0e40c21f810b6c0aecaf19dda7099241948d0f

Meaning that the filename of the downloaded fi

[2022-05-14 05:16] Ruihua-Fang opened #873 "wrong link for the paper of facebook/blenderbot-400M-distill"
### Describe the bug

when click on the link on  Papers: Recipes for building an open-domain chatbot on the following page: https://huggingface.co/facebook/blenderbot-400M-distill, it open the following link, https://arxiv.org/abs/1907.06616, which is not the right paper.  The correct link for the above paper is the following: https://arxiv.org/abs/2004.13637

### Reproduction

see above to reprod

[2022-05-14 12:09] julien-c commented on #873
maybe for @patrickvonplaten

[2022-05-14 23:39] Ruihua-Fang commented on #853
Hi, I could look into this.  Thanks!

[2022-05-15 23:39] Ruihua-Fang commented on #853
I looked into the use of tempfile vs tearDown in https://github.com/huggingface/huggingface_hub/blob/main/tests/test_snapshot_download.py#L34
tempfile was doing it's job right, create temp folder/files and delete upon exit
on the other hand, the tearDown() function was used to remove the folder/files that was copied to the local working directory where pytest was run, when a repository instance is

[2022-05-16 08:46] adrinjalali commented on #853
Thanks for looking into this @Ruihua-Fang . The test you are referring to does not have the intended behavior. What we would like to have is to use either the `tempfile` module from python (https://docs.python.org/3/library/tempfile.html) or when appropriate the temp file fixtures from pytest (https://docs.pytest.org/en/6.2.x/tmpdir.html).

In this particular example, in the `setUp` you have:

[co

[2022-05-16 12:15] merveenoyan commented on #869
@LysandreJik I'd love to get this in next release :)

[2022-05-16 14:27] adrinjalali opened #875 "RFC rename snapshot_download.py"
Right now we have `snapshot_download.py` which defines `snapshot_download` as a function. As a result `huggingface_hub.snapshot_download` doesn't have clear semantics, is it the module or the function?

I suggest we rename the file to make the distinction clear.

This issue was surfaced while working on https://github.com/huggingface/huggingface_hub/pull/874

cc @LysandreJik @osanseviero

[2022-05-16 19:39] patrickvonplaten commented on #873
Thanks for the issue @Ruihua-Fang !

Corrected it here: https://huggingface.co/facebook/blenderbot-400M-distill/commit/a2084cb58dd4810f45302724dd07c68051fe9ed3

[2022-05-16 20:41] LysandreJik commented on #875
Yes, sound good to me as well. I don't think we want to encourage `from huggingface_hub.snapshot_download import snapshot_download`, so ok for me to rename that file.

[2022-05-16 21:16] LysandreJik commented on #869
Sounds good, adding it to the milestone!

[2022-05-16 21:18] #873 closed

[2022-05-16 21:32] Ruihua-Fang commented on #853
Hi @adrinjalali , got it and thanks :)

[2022-05-23 10:10] osanseviero opened #881 "Add list_spaces"
**Is your feature request related to a problem? Please describe.**
Allow users listing spaces similar to how they can list models and datasets

We can use something like this for example

[code]

cc @lvwerra

[2022-05-23 11:41] #865 closed

[2022-05-23 21:20] LysandreJik commented on #881
Indeed, should be simple to add! I've added some labels, happy to review a PR! :)

[2022-05-23 21:22] LysandreJik commented on #601
We're working on omething a bit better, happening here: https://github.com/huggingface/huggingface_hub/pull/801

All the caches across all libraries will be unified :)

[2022-05-25 14:52] #739 closed

[2022-05-27 01:58] omarespejel commented on #848
Staling for the moment. Lacking point two: `Consider using packaging and packaging.markers when reviewing if the local fastai and fastcore versions are supported.`

[2022-05-27 08:31] Zimix0 opened #885 "When searching for a model on huggingface, the tag does not work, and the keyword is matched only by the model name."
The current problem is described in the title. I hope that the tag can be matched when searching in the future. In this way, the name of the model can be simplified and the tag can be richer.

[2022-05-27 08:55] cakiki opened #886 "Move "Add User" to Admin Box"
**Is your feature request related to a problem? Please describe.**
The `Add User` button blends in and is difficult to spot for people who don't know it exists.

**Describe the solution you'd like**
Moving the button next to the `Email link` button or perhaps a different color to highlight it?

**Describe alternatives you've considered**
N/A

**Additional context**
![image](https://user-images.git

[2022-05-27 08:56] cakiki commented on #881
I'd like to work on this!

[2022-05-27 12:28] merveenoyan opened #887 "Create ability to push tf.Module inside Keras Mixin"
We should be able to push models made with `tf.Module` without writing a mixin from scratch by adding capabilities to understand if a model is `tf.Module` or not and saving them with `model.save()` instead of existing saving mechanism.
Pinging @ariG23498 and @nateraw here :)
See this [model](https://huggingface.co/pyimagesearch/nmt-bahdanau-attention) as an example.

[2022-05-29 16:47] osanseviero commented on #881
Sounds good! Feel free to open a PR for this and let us know if you have any questions :fire:

[2022-05-29 16:48] osanseviero commented on #886
cc @gary149 @beurkinger WDYT?

[2022-05-30 14:18] ariG23498 commented on #887
I have tried hosting a `tf.Module` on the hub. These were the steps:
- Build the `tf.Module`
- Create a hub repo
- Move the serialized and saved `tf.Module` into the hub repo
- Push the changes with a commit message to the hub

@merveenoyan what according to you would be a better approach to take?

[2022-05-31 13:57] merveenoyan commented on #887
A better approach would be to pass `tf.Module` to `push_to_hub_keras()` to push it instead of above steps 🙂 @ariG23498

[2022-06-01 10:11] #601 closed

[2022-06-01 12:53] adrinjalali commented on #848
Would you mind letting us know why it's closed as won't fix?

[2022-06-03 20:04] cblancac opened #894 "Difference between load_from_disk and load_dataset (help wanted)"
### Describe the bug

Hi, I am starting with the Hugging Face course. I created my own Dataset and I saved it in my local disk and in my repository (carblacac/twitter-sentiment-analysis). I can load it from the disk (using load_from_disk) but not from the Hub (load_dataset).  There is a way to download it from the Hub?
.
├── dataset_dict.json
├── test
│   ├── dataset.arrow
│   ├── dataset_info.jso

[2022-06-04 23:00] omarespejel commented on #848
@adrinjalali, I was staling it since it's not on the short-term roadmap to fix it. However, I reopened it now for future reference.

[2022-06-05 05:06] ariG23498 commented on #887
I am thinking of the following:
- Have a boolean flag in the `save_pretrained_keras` model named `is_tf_module` which by default is `False`
- If the `is_tf_module` is `True` we switch the behaviour from

[code]

Let me know what you think? What are the possible pitfalls you think we can run into?

[2022-06-05 09:15] osanseviero commented on #848
That's not a reason to close an issue though. An issue documents a feature/thing we want to add/change in this repo, both in short and long term. Even if it won't be worked in right now, it's still good to have. If the issue is closed it will likely never be revisited :smile:

[2022-06-05 15:47] #894 closed

[2022-06-06 10:09] merveenoyan commented on #887
@ariG23498 I think instead of `else` we can just check if it's a Keras model in general. I'd like to ping other folks for discussion as well @nateraw @osanseviero

[2022-06-07 16:22] merveenoyan commented on #887
@nateraw they're loaded like this:
`model = tf.saved_model.load(model_path)`
So the answer is no 😅 because it's not a Keras model.

[2022-06-07 17:23] summerstay opened #896 "missing "view the api" on new spaces"
### Describe the bug

Previously, when a new space was created, instructions for accessing the model via API were generated, and a link to this page called "view the API" appeared at the bottom of the app page. This doesn't seem to be the case currently.
According to this post https://discuss.huggingface.co/t/gradio-iframe-embedding/13021/12?u=summerstay the SDK version needs to be pinned to 2.9.4

[2022-06-07 17:36] summerstay commented on #896
But the API still seems to work properly when I follow analogous instructions from another page.

[2022-06-08 07:30] osanseviero commented on #896
Hey there! This is an issue with Gradio 3.0, so what you might see are Spaces using older and newer versions. I would suggest you to follow-up in Gradio since this is unrelated to the `huggingface_hub` library. See https://github.com/gradio-app/gradio/issues/1390

[2022-06-08 07:30] #896 closed

[2022-06-08 13:21] merveenoyan commented on #672
Is there any update on this?
I went to all linked PRs and issues but nothing seems to be up? I did pass `space_sdk` to `create_repo` and `repo_type` to both `Repository` and `create_repo` and I still get the same error 🥺
I made sure I have most recent version of Hub.
[code]
My code is below:
[code]
feel free to bash me if I do anything unexpected 😅

[2022-06-09 10:52] merveenoyan commented on #672
Very weird finding, when I don't give `use_auth_token` when creating a repository it works fine but when I give it I get the error, maybe it's unrelated though.

[2022-06-09 14:15] osanseviero opened #897 "create_repo does not work unless you set private argument"
### Describe the bug

create_repo does not work if `private` is not set. In https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/hf_api.py#L1458 we should likely set a boolean.

Internal discussion https://huggingface.slack.com/archives/C02V5EA0A95/p1654783848296429

### Reproduction

I just tried

[code]

### Logs

[code]

### System Info

[code]

[2022-06-09 14:52] julien-c commented on #897
this was solved server-side, ok to close?

[2022-06-09 14:53] julien-c commented on #897
(we'll keep supporting server-side otherwise old versions of `huggingface_hub` won't work anymore)

[2022-06-09 14:53] julien-c commented on #897
(cc @coyotte508)

[2022-06-09 15:22] osanseviero commented on #897
@coyotte508 was suggesting that it would be nice to still send a boolean to the backend, but I agree this still needs to be supported server, so ok with closing :)

[2022-06-09 20:44] nateraw commented on #887
Oh, interesting. Would this cause issues, say, in [our pipeline here](https://github.com/huggingface/api-inference-community/blob/main/docker_images/keras/app/pipelines/image_classification.py) as well (assuming it loads from hub correctly + its an image classification module)?

We'll want to be very clear on all the differences if we are to add this. I'm not too famililar 😅

[2022-06-09 22:02] coyotte508 commented on #897
I'd rather have it fixed anyway here, it should be a one line change like using `not not private`

[2022-06-10 07:12] julien-c commented on #897
yes what i meant is that we won't be able to drop the server fix anyways, but ok to update the behavior here

[2022-06-10 09:39] LysandreJik opened #899 "Release v0.8"
Starting in April we started implementing a monthly release schedule: v0.5.0 in early April, v0.6.0 in early May. v0.7.0 was released shortly after as a commit was lacking from v0.6.0 and was needed for the `evaluate` release.

I am proposing to release v0.8.0 next week, which would act as the successor to v0.6.0. The v0.8.0 milestone contains three PRs which need to be merged:

- #869
- #878
- #8

[2022-06-10 09:42] #869 closed

[2022-06-10 11:24] adrinjalali commented on #744
All action items on this issue seem to be completed.

[2022-06-10 11:24] #744 closed

[2022-06-10 11:28] adrinjalali commented on #796
An alternative API design which seems cleaner to me would be:

[code]

All methods would use the token from the instance, and if not provided, it'll try to fetch from the persisted one. If the user wants to persist a token, they can call a method which explicitly is there to persist the token (we can then talk about how we can persist the tokens not to temper with git).

[2022-06-13 14:33] adrinjalali opened #905 "Repository.clone_from shouldn't create a repo on the hub"
xref: https://github.com/huggingface/huggingface_hub/pull/900#discussion_r894588297

We should deprecate the behavior and the method shouldn't try to create a repo on the remote.

cc @LysandreJik @merveenoyan

[2022-06-14 12:30] LysandreJik commented on #899
I think the monthly pace suits this library quite well: we want big features like the ability to open PRs/discussions rather rapidly; as it won't make it in this release, I think it would be a bit painful to wait two months after v0.8.0 in order to have that feature in a release. Having a monthly pace solves that problem with no downsides :)

[2022-06-14 22:59] Pierrci opened #906 "Hub API calls: print `X-Request-Id` value in case of server error"
On https://hf.co, every HTTP request is associated with a unique id that we can then use to run some forensics when unexpected behavior happens. It is returned in the response through the `X-Request-Id` header.

Printing this value in case of error so that users can share it in reports would help with debugging.

Internal slack: https://huggingface.slack.com/archives/C02EMARJ65P/p1653397684145649

[2022-06-15 07:01] LysandreJik opened #907 "`hub-ci` returning error 500 when trying to create a Space"
from https://github.com/huggingface/huggingface_hub/pull/900

and

[2022-06-15 08:43] #672 closed

[2022-06-15 09:16] LysandreJik commented on #899
Two PRs ought to be in this release as well:

- https://github.com/huggingface/huggingface_hub/pull/910, which removes all deprecation around v0.8.0
- https://github.com/huggingface/huggingface_hub/pull/909, which adds the `X-Request-ID` error code to error messages, so that the backend team may be more helpful in debugging user issues.

[2022-06-15 10:33] julien-c commented on #907
To clarify, this is happening on the new CI server, `hub-ci`? not on the old one `moon-staging`?

I think I remember that Space creation on the backend (ie spaces-app-manager) needs to be disabled through an env var. @cbensimon @XciD @christophe-rannou happy to take a deeper look if it's needed

[2022-06-15 10:51] XciD commented on #907
We found the bug: https://github.com/huggingface/moon-landing/commit/f2e8068348e225ba1f07c5d27a38843253e23dcb

Related to new infra of spaces.

[2022-06-15 14:57] #907 closed

[2022-06-16 12:58] merveenoyan opened #911 "Hyperparameters should be parsed recursively for Keras mixin"
In this [model card](https://huggingface.co/keras-io/SimSiam) I realized that the learning rate scheduler break the table parsing (I didn't observe this case for other learning rates 😅).
The ideal table looks like the [one in this model card](https://huggingface.co/keras-io/ProbabalisticBayesianModel-Wine).
Would you like to take a look? 👀  @ariG23498

[2022-06-17 02:35] ariG23498 commented on #911
# Problem

With the [`_create_hyperparameter_table`](https://github.com/huggingface/huggingface_hub/blob/00fad17efbcd0d0a2b77cde03aa01036b4983562/src/huggingface_hub/keras_mixin.py#L29) function, we are essentially picking up the configurations of the optimizer (`model.optimizer.get_config()`). The configuration of the optimier is a `dict`. The problem begins when this `dict` becomes a `nested dic

[2022-06-17 11:16] merveenoyan commented on #911
this is super neat, would you like to open a PR to mixin? @ariG23498

[2022-06-17 12:34] #805 closed

[2022-06-20 09:17] NielsRogge opened #915 "hf_hub_url not giving appropriate URL"
### Describe the bug

I uploaded a video stored as a NumPy array to the hub: https://huggingface.co/datasets/hf-internal-testing/spaghetti-video.

However, when using `hf_hub_url` to give me the appropriate URL as follows:

[code]

I doesn't give me the appropriate URL: https://huggingface.co/hf-internal-testing/spaghetti-video/resolve/main/eating_spaghetti.npy. When clicking on this link, one get

[2022-06-20 09:27] osanseviero commented on #915
`hf_hub_url` by default expects a model repo. You can add `repo_type="dataset"` when using a dataset repo, and then you would get the right url.

[2022-06-20 09:28] NielsRogge commented on #915
My bad, indeed, just discovered I had to use `datasets/hf-internal-testing/spaghetti-video` as the repo name.

Maybe this could be added to the docs?

[2022-06-20 09:57] osanseviero commented on #915
Yes, I think that's a good idea! Would you like to open a small PR for it?

[2022-06-21 23:25] nateraw commented on #497
Closed with #888

[2022-06-21 23:25] #497 closed

[2022-06-21 23:42] nateraw opened #918 "413 Client Error: Payload Too Large when using upload_folder on a lot of files"
### Describe the bug

When trying to commit a folder with many CSV files, I got the following error:

`HTTPError: 413 Client Error: Payload Too Large for url: https://huggingface.co/api/datasets/nateraw/test-upload-folder-bug/preupload/main`

I assume there is a limit to total payload size when uploading a folder that I am going over here. I confirmed it has nothing to do with the _number of files

[2022-06-21 23:49] nateraw commented on #918
CC @SBrandeis

[2022-06-22 07:15] julien-c commented on #918
ah yes we probably want to chunk client-side in this use case (you're probably hitting POST limit size of 10MB). + enforce a reasonable total max size, regardless of chunking (maybe 100MB)

Note that this only applies to non-LFS files so 100MB is more than reasonable IMO.

Also cc @coyotte508 and @Pierrci for visibility

[2022-06-22 07:55] SBrandeis commented on #918
@coyotte508 the 413 is thrown during the `pre-upload` call it seems:
[code]

[2022-06-22 08:02] coyotte508 commented on #918
In the web code:

[code]

[2022-06-22 08:32] SBrandeis commented on #918
Yes, we do that already:
[code]

`upload_info().sample` is the first 512 bytes of the file to upload

[2022-06-22 08:49] coyotte508 commented on #918
Then likely there is so many files that the 250kB limit is overcome just with the preupload call.

Either the hub library should batch the preupload calls (in chunks of 250 files for example) or we should allow a bigger body on the hub side

[2022-06-22 10:49] SBrandeis commented on #918
@nateraw I opened #920 with a fix

Can you try it out and confirm it fixes your issue, please?

[2022-06-22 17:02] merveenoyan opened #923 "Repository class should create a repository if there isn't in the local directory"
This might be for a good reason, but in [Repository](https://github.com/huggingface/huggingface_hub/blob/25c8bd70b3b68daf14600303141f3b1a324ae7d2/src/huggingface_hub/repository.py#L412) class, if the given `local_dir` is not a git repository, it raises a [`ValueError` saying it's not a repository](https://github.com/huggingface/huggingface_hub/blob/25c8bd70b3b68daf14600303141f3b1a324ae7d2/src/hugg

[2022-06-23 07:47] #911 closed

[2022-06-23 08:50] kamalkraj opened #929 "Missing images in the Documentation"
The `docs/assets/` folder is missing in Github

There are few broken links like this below in the documentation.

<img width="980" alt="Screenshot 2022-06-23 at 2 15 59 PM" src="https://user-images.githubusercontent.com/17096858/175257720-e5308c2a-64e0-4d2c-ac9c-8f45741e6f76.png">

[2022-06-23 10:25] osanseviero opened #926 "hf_hub_download and cached_download should read the token by default"
### Describe the bug

Right now, `hf_hub_download` does not work for private repos unless you set `use_auth_token=True`. This is inconsistent with other methods in which the token is automatically retrieved if not specified. I think we should change https://github.com/huggingface/huggingface_hub/blob/7e80140bc5ea0a3991418d2cb6a6ecda90c4f38f/src/huggingface_hub/file_download.py#L577-L586 to always

[2022-06-23 14:35] julien-c commented on #926
we've discussed it in the past and decided against it for privacy protection reasons (especially in the case when it's used from third party libraries – the hf.co server will "know" what models user A is downloading without explicitly opting-in)

But maybe it does make sense to revisit this

[2022-06-24 10:25] julien-c commented on #926
Upload methods aren't expected by the user to even work w/o authentication, but download methods are (for public repos anyways)

I will try to find the past discussions of this and link them here, for completeness.

But note that I'm not opposed to changing this behavior, just need to be aware of privacy implications

[2022-06-24 10:37] julien-c commented on #926
one example of [internal convo](https://huggingface.slack.com/archives/C014N4749J9/p1645023949365789) but earlier discussions were probably more interesting

[2022-06-24 12:35] julien-c commented on #926
@sgugger pointed me to this PR description https://github.com/huggingface/transformers/pull/9141

[2022-06-27 20:16] Pierrci commented on #827
Closing this since removed in v0.8, thanks @LysandreJik!

[2022-06-27 20:16] #827 closed

[2022-06-27 20:20] osanseviero commented on #899
I think we can close this :)

[2022-06-28 05:29] sergeyf opened #932 "API Implementation Error: (intermediate value).filter is not a function"
### Describe the bug

This model doesn't seem to load on the HUB: https://huggingface.co/guidecare/feelings_and_issues_large?text=I+like+you.+I+love+you

It throws the error in the title:
![image](https://user-images.githubusercontent.com/1874668/176099884-acbecead-0805-4035-8cfb-5a394af79304.png)

This issue looked different a few days ago, for which I opened a ticket: https://github.com/huggingf

[2022-06-28 05:33] snakers4 opened #933 "Silero Models License Infringement"
Hi,

My name is Alexander, I am writing to you on behalf of Silero, a company maintaining our project [silero-models](https://github.com/snakers4/silero-models).
We noticed that our models are rehosted here - https://huggingface.co/spaces/pytorch/silero_tts or here https://huggingface.co/spaces?search=silero.
We did not explicitly grant Hugging Face, Inc. any sort of permission to rehost, relicens

[2022-06-28 06:50] julien-c commented on #933
closing as duplicate of https://github.com/huggingface/hub-docs/issues/216 let's address the issue there

[2022-06-28 06:50] #933 closed

[2022-06-28 07:56] osanseviero commented on #932
Cc @mishig25

[2022-06-28 12:12] clefourrier opened #935 "Replace constrained strings (model/task names...) with enums."
A number of strings across the project are actually constrained in value (task names, model names, ...).
Using enums instead of strings would (on the user side):
- constrain choice
- allow users to have rapid access to the complete available list of models/tasks,
- prevent stupid mistakes due to typos.

On the dev side, if some strings are hard-coded somewhere and need to get changed later on, it

[2022-06-28 12:28] LysandreJik commented on #932
cc @Narsil

[2022-06-28 13:18] Narsil commented on #932
Thanks for pinging me !

I think this is related to this  https://github.com/huggingface/transformers/pull/17906

[2022-06-28 18:57] Narsil commented on #932
Should be sorted out right, now.

You might still see the issue if you are hitting cache with some requests, they should go away soon.

Thanks for the report !

[2022-06-28 19:46] sergeyf commented on #932
Yes, it is fixed now thanks!

Any idea if this is related to the Space still not working? https://huggingface.co/spaces/guidecare/feelings_and_issues_demo

[2022-06-28 19:56] Narsil commented on #932
I have no idea, can't see any logs nor UI in the space.

[2022-06-28 20:01] #932 closed

[2022-06-29 10:24] #881 closed

[2022-07-01 06:17] #929 closed

[2022-07-04 08:10] long8v opened #937 "error: failed to push some refs to 'https://huggingface.co/username/modelname'"
### Describe the bug

I followed all guideline and it outputs error below.
git push
[code]

### Reproduction

huggingface-cli login
git clone https://huggingface.co/Jeongyeon/dd
cd dd; echo hi > readme.md
git add .
git commit -m "temp"
git push

### Logs

_No response_

### System Info

[code]

[2022-07-04 08:48] long8v commented on #937
I found that I made my access token to "read" not "write" issue closed.

[2022-07-04 08:48] #937 closed

[2022-07-05 08:39] osanseviero opened #938 "High level feedback on docs"
From @NielsRogge https://huggingface.slack.com/archives/C02V5EA0A95/p1656934663589609

1. [here](https://huggingface.co/docs/huggingface_hub/v0.8.1/en/how-to-upstream#pushtohub), Repository is imported from the library without being used. Also, the repo variable is just casually used without being instantiated
2. [here](https://huggingface.co/docs/huggingface_hub/v0.8.1/en/package_reference/hf_api

[2022-07-05 08:39] osanseviero commented on #938
Note that 4 is already fixed in main

[2022-07-05 13:52] osanseviero opened #939 "Support non-blocking push with non-git methods"
Some of the libraries, such as Transformers and diffusers, use a non-blocking push during training (see https://github.com/huggingface/diffusers/blob/main/src/diffusers/hub_utils.py#L92). They can't migrate to the non-git-based methods without deprecating that functionality. Would it be interesting to support non-blocking push?

cc @SBrandeis @julien-c @LysandreJik

(from discussion with Simon it

[2022-07-05 14:20] LysandreJik commented on #939
Interesting! I'm reworking the push_to_hub here: https://github.com/huggingface/huggingface_hub/pull/847

It will be in the next release (v0.9). It leverages non-git-based methods. I can definitely add a non-blocking parameter and handle it in that method directly.

[2022-07-05 15:08] LysandreJik commented on #938
Maybe of interest to @stevhliu

[2022-07-05 15:16] stevhliu commented on #938
Thanks for the feedback, I'll take a look and open a PR to address it!

[2022-07-07 12:14] mrkkollo opened #942 "Path for saving authentication token should be configureable."
**Is your feature request related to a problem? Please describe.**
At the moment, when downloading models through the transformers Python package, we get a permission denied error since in our current set-up we have very limited file-system access on where we can read-write but the path for saving the token in the HfFolder class is essentially hard-coded through the path_token class variable.

**D

[2022-07-08 19:16] julien-c commented on #942
i think this is reasonable given that the file cache can be controlled by an env var, the token cache should be too.

Would you want to open a PR to make this change, @mrkkollo?

You can name the env var something like `HUGGINGFACE_TOKEN_CACHE`

[2022-07-20 12:42] SBrandeis opened #946 "Uploading an empty file with `create_commit` fails if the file is empty"
### Describe the bug

Trying to upload an empty file tracked git LFS with `create_commit` (or wrapper functions) fails with a 501 error.

cc @adrinjalali & @BenjaminBossan

### Reproduction

Prerequisite: create a dataset repo and an access token with write rights on the repo
`.pkl` files are auto-tracked with git LFS

[code]

### Logs

[code]

### System Info

[code]

[2022-07-20 12:45] adrinjalali commented on #946
To add more context, I think the backend should allow empty files to be uploaded, but we also agree uploading an empty file is probably done in most cases by mistake. So we're also implementing a warning on the client side in case they pass an empty file: https://github.com/skops-dev/skops/issues/41

[2022-07-21 06:25] josephrocca opened #950 "Modality/task agnostic models in AutoTrain (tokens/embeddings in, tokens/embeddings out)"
(Apologies if this is not the correct place for a feature request like this. In that case, please advise on the appropriate channel. Thanks!)

---

**Is your feature request related to a problem? Please describe.**
For the last few years I've been improving my web businesses by integrating ML models in various places to add features, reduce moderation labor, and so on. But a big problem that I oft

[2022-07-21 07:18] julien-c commented on #950
(thanks for the detailed writeup as usual @josephrocca 🔥)

Do you have maybe an example of a notebook you're using, so we can have a look at one concrete use case?

[2022-07-21 09:18] josephrocca commented on #950
Thanks for the reply @julien-c! My most recent use case that isn't suited to common auto-ML model/task categories is vaguely similar to the sketch-based character search feature in Google Docs (similar: https://shapecatcher.com) except I need to map a sketch (either vector or raster - not sure which would work better yet) to a sequence of tokens (from a very large vocabulary), rather than one Unic

[2022-07-21 16:43] merveenoyan commented on #843
Closing since we decided not to have the changes.

[2022-07-21 16:43] #843 closed

[2022-07-21 18:32] radames opened #953 "Support git commit --amend"
It would be great to have an option to amend a commit.
That's useful when you want want to re-add a file and keep in the same history or keep the same commit message. Or in my specific case, I want to override the the history with git push force

[code]

[2022-07-21 18:34] radames opened #954 "Support git push --force"
It would be great to have an option to support `git push --force`
That's useful when you want to override the git history. related #953

example

[code]

[2022-07-22 08:37] LysandreJik opened #955 "Support any git method"
The `huggingface_hub` package abstracts most of the difficulty related to git management of repositories, by providing utility methods tailored to large file/binary file management and helper methods abstracting the methods underneath.

However, for rare cases where something goes wrong or where the API doesn't meet the requirements of a given workflow, we're currently in need of leaving the pytho

[2022-07-22 08:37] LysandreJik commented on #955
Related: https://github.com/huggingface/huggingface_hub/issues/954

[2022-07-22 08:37] LysandreJik commented on #955
Related: https://github.com/huggingface/huggingface_hub/issues/953

[2022-07-26 07:29] cceyda opened #957 "user info for git commits made in the hub"
**Is your feature request related to a problem? Please describe.**
When you create a model/dataset/space etc in the hub, or when you modify files,
the git commits use the email you registered to the hub as your author email.
to check: Just make a commit in the hub -> git pull -> git log.

This can be a privacy/security problem.
Also makes it hard to mirror hub repos to github, as github throws sec

[2022-07-26 07:49] LysandreJik commented on #957
cc @osanseviero

[2022-07-27 09:50] BramVanroy opened #960 "Add git tags visually in the Files and versions tab"
Currently, it is nice to see the commit history of models and datasets. For datasets, it is possible to [load revisions by git tag](https://huggingface.co/docs/datasets/v2.4.0/en/package_reference/loading_methods#datasets.load_dataset.revision). However, in the Commit History overview, these tags are not visible so as a user you are not sure which tag to use (although you can fallback to commits o

[2022-07-27 09:54] osanseviero commented on #960
Thanks for the idea! I'm linking an internal issue we have for this as well :) https://github.com/huggingface/moon-landing/issues/1387

cc @gary149 @julien-c

[2022-07-27 09:57] BramVanroy commented on #960
@osanseviero Oh that is awesome! It seems that none of my ideas are original and are already tracked internally, haha!

[2022-07-27 10:43] osanseviero commented on #960
Haha not at all, your ideas are great and aligned with what we want to achieve, which is amazing! Please keep bringing your ideas! 🤗

[2022-07-30 15:50] Muennighoff opened #961 "Compare multiple tensorboards"
It'd be nice if you could select multiple models uploaded to the Hub and compare their tensorboards 😇
Albeit there's an easy workaround by just uploading the logs in the same repo.

[2022-08-05 09:15] SBrandeis opened #966 "Add `flake8-bugbear` to the code quality checks"
Good catch since this can really create unexpected behaviours.

I would really suggest that we start tracking these errors automatically using [flake8-bugbear](https://github.com/PyCQA/flake8-bugbear). It is a plugin for flake8 that finds "bad patterns" in code. In particular `B006 ` checks for mutable default values. Since [we already check for flake8 issues](https://github.com/huggingface/huggin

[2022-08-06 21:07] sneedgers opened #968 "ArchLinux cant push models ! atleast on keras"
### Describe the bug

push_to_hub_keras(model,"stufuf333")

and the error I get
Traceback (most recent call last):
  File "/run/aistuff/ai_thing2.py", line 215, in <module>
    push_to_hub_keras(model,"sneedger")
  File "/home/ori/.local/lib/python3.10/site-packages/huggingface_hub/keras_mixin.py", line 373, in push_to_hub_keras
    repo = Repository(
  File "/home/ori/.local/lib/python3.10/site-p

[2022-08-08 07:05] osanseviero commented on #968
Hi there! Thanks for reporting!

Do you have a reproducible example? I just tried this in a Colab and it worked well https://colab.research.google.com/drive/1D46OEKDmvMwAieCVcShO1kKdqZsF4JeE?usp=sharing

[2022-08-08 07:06] osanseviero commented on #968
(cc @merveenoyan )

[2022-08-08 08:34] LysandreJik commented on #968
Hey @sneedgers, thanks for opening an issue! As @osanseviero was mentioning, we'll need a reproducible code example in order to help you out. Please provide the version of your tools, especially the version of `huggingface_hub` as this is what's important. Thanks.

[2022-08-08 15:26] Wauplin opened #969 "Exception not caught in tests (keras custom layers)"
In `test_push_to_hub_model_kwargs` and `test_save_pretrained_kwargs_load_fails_without_traces`, it seems that the tests are  not working as expected. They should apparently check that loading from pretrained weights raises an exception if custom layers are used.

Tests implementation are:
[code]
instead of something like:
[code]

In the end, the `from_pretrained_keras` call works without exception

[2022-08-09 06:51] Wauplin commented on #966
Addressed in https://github.com/huggingface/huggingface_hub/pull/967.

[2022-08-09 06:51] #966 closed

[2022-08-09 08:38] Wauplin commented on #939
Hey, I just discovered this issue related to https://github.com/huggingface/huggingface_hub/pull/847. As an update, the non-git `push_to_hub` is now in a review state and I did not take into account this feature request (I haven't seen it before 👀 ).

Given the 👍 and ❤️ on @LysandreJik 's message, it seems to be a quite expected feature. I would suggest that we address it in a separate PR coming j

[2022-08-09 08:44] julien-c commented on #939
+1 from me on handling this use case later, IF it's still necessary (it feels a little bit complex to me)

[2022-08-09 09:09] sneedgers commented on #968
dev version from github.

[2022-08-09 09:51] Wauplin commented on #938
Seems to be solved in https://github.com/huggingface/huggingface_hub/pull/944 so I'm closing.

[2022-08-09 09:51] #938 closed

[2022-08-09 10:21] Wauplin opened #970 "Speed-up tests using `pytest-xdist`"
Github CI for `huggingface_hub` is doing a lot of good things but I feel tests speed could be improved to get a shorter feedback loop on PRs. An idea to speed-up the tests without changing anything to the logic is to run them in parallel. This is something that [pytest-xdist](https://github.com/pytest-dev/pytest-xdist) does quite well (see [docs](https://pytest-xdist.readthedocs.io/en/latest/)). I

[2022-08-09 11:45] osanseviero commented on #939
+1 on separate PR. I do think it is quite useful as if we want to do pushes in `transformers` every n epochs (or in a `Callback` in `skops` or the Keras mixin, `diffusers`, etc) while training it will be a bottleneck to have to wait for the upload to be finished

[2022-08-09 13:12] Wauplin opened #971 "Make `path_in_repo` optional in `upload_folder`"
At the moment, `path_in_repo` argument is required in `upload_folder` method. This makes it weird when a user wants to upload a folder to the root of the repo.

Example:
[code]
By default, we could assess `path_in_repo` to be set to `""`.
Would also be good to remove all occurrences of `path_in_repo=""` from `huggingface_hub`.

Highlighted in https://github.com/huggingface/huggingface_hub/pull/847

[2022-08-09 13:43] sgugger opened #972 "Add a utility to list cached things"
In Transformers, we have [this function](https://github.com/huggingface/transformers/blob/ab2006e3d6db88654526a4169e65d4bfc52da2e3/src/transformers/utils/hub.py#L119) that returns the list of cached models. It would be nice to rely on an util in this repository instead (not limited to models) that would list:
- cached repos
- revisions cached for each repos (replacing commit hashes with refs when

[2022-08-09 13:45] LysandreJik commented on #972
This would be a nice exercise to dive into the way the cache is structured and understand it thoroughly. @Wauplin, would you like to try your hand at it?

[2022-08-09 14:00] merveenoyan commented on #968
hey @sneedgers, can you please post the code snippet you used to push your model so we can test and see what doesn't work?

[2022-08-09 14:04] merveenoyan commented on #968
@sneedgers Hello there! Can you please put a code snippet here for us to reproduce your problem?

[2022-08-09 14:04] Wauplin commented on #972
@LysandreJik Thanks for pinging me on this one. It's a great idea, I'll assign the issue to myself and get back to you when I'm starting to work on it.

[2022-08-09 14:09] osanseviero opened #973 "Installing from main does not work"
### Describe the bug

Importing does not work as `JSONDecodeError` was introduced in requests=2.27

We need to change
https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/utils/_errors.py#L1

to import as in

https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/utils/_fixes.py

### Reproduction

[code]

### Logs

[code]

### System Info

[code]

[2022-08-09 14:28] sgugger commented on #972
`cached_file` is just a wrapper around `hf_hub_download` which is in `huggingface_hub`. I'll actually make a PR to move `try_to_load_from_cache` to `huggingface_hub` later today/tomorrow as it should live there IMO.

You should rely on the new cache structure (so as created by `hf_hub_downlaod` for instance) I think, but I'll let others correct me if I'm wrong.

[2022-08-09 14:36] Wauplin commented on #972
Ok thanks for the info ! This precision definitely helps as caching in `huggingface_hub` is still a bit blurry for me 🙄

[2022-08-09 14:51] mariosasko commented on #972
Great proposal! I guess this is somewhat related to https://github.com/huggingface/datasets/pull/2631, in which we discussed how great it would be to have a CLI tool for easy inspection/deletion of the `datasets` cache.

[2022-08-09 15:35] Wauplin commented on #973
Closed by https://github.com/huggingface/huggingface_hub/issues/973.

[2022-08-09 15:35] #973 closed

[2022-08-09 16:12] coyotte508 commented on #970
No I don't think this is a problem, the tests hit staging, and I don't think it will cause load problems if it's just 8 parallel tests.

Btw we also added parallel tests on moonlanding (3x), so I don't think anyone is against the idea (at least from moonlanding)

One possible issue, is if some tests log in / out a user, or create a repo and then expect a certain number of repos, it could mess up w

[2022-08-09 16:25] Wauplin opened #977 "Enable code coverage properly in Github Actions"
Following up on PR https://github.com/huggingface/huggingface_hub/pull/976 that disables the coverage in tests.

It would be good to re-enable and fix it properly. Potential fixes have been mentioned [here (internal url)](https://huggingface.slack.com/archives/C02V5EA0A95/p1657176912893549?thread_ts=1657099388.126399&cid=C02V5EA0A95) and [here (internal url)](https://huggingface.slack.com/archives

[2022-08-09 17:46] sgugger opened #978 "Add ability to turn on and off progress bars"
Not everyone wants to see progress bars when downloading models/datasets as tqdm can clog the logs pretty easily. That's why we have a mode in Transformers to deactivate tqdm when setting some env variable using [these utils](https://github.com/huggingface/transformers/blob/0c183cc2f4d6121705d7c39011b34c191e194d16/src/transformers/utils/logging.py#L285).

Currently, Transformers enforces `huggingf

[2022-08-09 17:54] sgugger opened #979 "Use a finer exception when local_files_only=True and a file is missing in cache"
In Transformers we sometime try to access files that are not in a repo, catch the error (`EntryNotFoundError` for distant repos) and try a different file. For instance most models have a single weight file named `pytorch_model.bin` but some models have several checkpoint files and an index since they are extremely big. For those, there is no `pytorch_model.bin` but a `pytorch_model.bin.index.json`

[2022-08-09 18:02] julien-c commented on #979
i saw this being discussed with a community member in transformers, mind linking the convo here?

[2022-08-09 18:08] julien-c commented on #970
Note that if i remember correctly it's `tests/test_repository.py` in particular that's slow, and I think some tests there are not really necessary and could be pruned (testing several times the same thing, with multiple repo types (i think))

Just wanted to note this even though it's orthogonal to this issue's subject

[2022-08-09 18:08] julien-c commented on #970
(we do use pytest-xdist in transformers if i remember correctly)

[2022-08-09 18:12] julien-c commented on #972
NB: for shared terminology, when we talk about "new cache structure" (aka. "cache file layout"), it's = what we shipped in https://github.com/huggingface/huggingface_hub/pull/801 i.e. where do we store cached files on local disk

[2022-08-09 18:23] sgugger commented on #979
I haven't seen it discussed anywhere personally, this stems from [this PR](https://github.com/huggingface/transformers/pull/18125) (bug reported by Stas on slack) and I was pointing at it on [this comment](https://github.com/huggingface/transformers/pull/18438#discussion_r937075737).

[2022-08-09 18:28] julien-c commented on #979
yes that's what i meant, thanks!

[2022-08-10 06:57] LysandreJik commented on #939
In `transformers` we'll likely stay with the `Repository` approach that uses git. This is a use-case where the git workflow is favored as many operations are done and it's coherent to have a git repository evolve alongside the training.

This is the conclusion of the discussion that happened in https://github.com/huggingface/huggingface_hub/pull/321:
- Have git workflows for trainings and other wo

[2022-08-10 06:58] LysandreJik commented on #971
Indeed, that would be a better default.

[2022-08-10 07:01] Wauplin commented on #978
Hi @sgugger, thanks for creating this issue. Seems legitimate to do this in `huggingface_hub`. From an API point of view, how would you see it ?

From a usability perspective, how would you prefer it ?

Either directly via a `HF_HUB_DISABLE_PROGRESS_BARS` env variable ? If you already have an env variable for it in transformers, we should align on the name.

Either have an helper to globally disab

[2022-08-10 07:03] LysandreJik commented on #970
All for using `pytest-xdist` if the server can handle it. As said above we'll likely have to do a few changes regarding repository management and user sessions, but it should be pretty lightweight.

We do, with `-n 2` I believe.

[2022-08-10 07:05] LysandreJik commented on #979
cc @Wauplin if you have an opinion on the error handling currently done in `huggingface_hub` :)

[2022-08-10 07:43] Wauplin commented on #979
Request seems legitimate :)

By quickly looking at the code, error handling already looks good with the refined HTTPError (`RepositoryNotFoundError`, `RevisionNotFoundError` and `EntryNotFoundError`). I don't see any problem doing the same to refine the ValueError. We just have to agree on the naming/inheritance of them.

I see 2 cases where we should keep the base `ValueError` as it's really an e

[2022-08-10 08:39] Wauplin opened #981 "Handle redirections in `hf_hub_download` for a renamed repo"
*Originally mentioned by @sgugger [on slack (internal url)](https://huggingface.slack.com/archives/C023JAKTR2P/p1659446501418569) with reproducible example:*

*From @julien-c:*

[code]

*From @SBrandeis:*

the hub library needs to make the difference between that, and a HF redirect because of a repo being renamed

Also mentioned in https://github.com/huggingface/transformers/issues/17582.

[2022-08-10 12:15] sgugger commented on #978
I think offering options 1 and 2 would be nice: the env variable for individual users, and the helpers for libraries using huggingface_hub like `transformers` (I can patch an env variable from Transformers but that does not feel clean ;-) )

The context manager seems less useful as I feel users will either want progress bars all the time or never. I used this solution when monkey-patching huggingf

[2022-08-10 12:17] sgugger commented on #979
`LocalEntryNotFoundError(ValueError, EntryNotFoundError)` is ideal for my use case since I won't need to add an extra catch (it's going to be caught in the earlier `EntryNotFoundError`) but I can also live with `LocalEntryNotFoundError(ValueError)` if people feel strongly about this exception deriving from an `HTTPError` despite being local.

[2022-08-10 12:27] Wauplin commented on #978
Thanks for the feedback :)
Seems reasonable. Will try to make a PR about it soon

[2022-08-10 12:28] Wauplin commented on #979
@julien-c @LysandreJik If you are strongly opinionated against the `LocalEntryNotFoundError(ValueError, EntryNotFoundError)`, please let me know. Otherwise let's go for it.

[2022-08-10 13:23] osanseviero opened #982 "Ignore file patterns when uploading a folder"
It would be great if `upload_folder` could support a parameter to ignore file patterns. For example, I might want to use `upload_folder` but ignoring `.onnx` files or another file pattern (e.g. files under certain directories such as files from vscode, etc).

[2022-08-10 14:22] Wauplin commented on #982
Seems legitimate. We can use [fnmatch](https://docs.python.org/3/library/fnmatch.html) library to do the pattern matching on each file path. For simple patterns (`ignore_patterns=["*.onnx"]`), I don't see any problem.

For patterns including folder paths (`"*/something/*.onnx"`), do you know if that works as well on Windows ?

[2022-08-10 14:54] Wauplin opened #984 "Improve `create_commit`, `upload_file`, `upload_folder` and `delete_file` docstrings with examples"
*Originally from @LysandreJik [in this comment](https://github.com/huggingface/huggingface_hub/pull/916#issuecomment-1196419984)*

[2022-08-10 15:10] Wauplin commented on #970
Great ! Thanks for giving more context. I'll address it when I have time and make sure to look at the potential issues you mentioned @coyotte508 and @LysandreJik .

@julien-c I keep it in mind for the repository tests but I'll wait at least until I have worked a bit on the repository module before refactoring its tests 😄

[2022-08-10 15:21] julien-c commented on #979
no opinion on my side!

[2022-08-11 07:11] #979 closed

[2022-08-11 07:16] Wauplin commented on #977
Mentioning this attempt from osanseviero https://github.com/huggingface/huggingface_hub/pull/925 just in case (closed without merging).

[2022-08-11 12:26] NielsRogge opened #989 "Better error messages when pushing/pulling to/from the hub"
When using some methods of HfApi, the error messages could be improved as they're a bit cryptic now.

## Example 1

When using the `hf_hub_download` method to pull something from the hub, as follows:

[code]

I get the following error:

[code]
However, in this case the error occurs because the repository type is a dataset, not a model. Hence, I need to specify `repo_type="dataset"`.

## Example 2

[2022-08-12 13:19] sneedgers commented on #968
Push a model. Read again my issue

[2022-08-16 06:01] LysandreJik commented on #978
Closed by https://github.com/huggingface/huggingface_hub/pull/987

[2022-08-16 06:01] #978 closed

[2022-08-16 06:03] LysandreJik commented on #982
Good request! I think we could do it like we do it in `snapshot_download`: https://github.com/huggingface/huggingface_hub/blob/c16c3185e5d2e8d64f595e2cc1ea5bd7a96e4af5/src/huggingface_hub/_snapshot_download.py#L55-L56

We have `allow_regex` and `ignore_regex` as parameters.

We then filter using fnmatch as you have mentioned @Wauplin:

https://github.com/huggingface/huggingface_hub/blob/c16c3185e5

[2022-08-16 06:48] Wauplin commented on #982
Good to know, thanks for the reference @LysandreJik ! Then something similar could also be added to `upload_folder` and then reuse the `_filter_repo_files`.

---
From a naming perspective, isn't it `allow_regex` misleading since `fnmatch` is not exactly regex but "Unix shell-style wildcards" ? See https://docs.python.org/3/library/fnmatch.html:

What do you think about deprecating `allow_regex `/`

[2022-08-16 09:35] Wauplin commented on #971
Closed by https://github.com/huggingface/huggingface_hub/pull/988.

[2022-08-16 09:35] #971 closed

[2022-08-16 11:23] #981 closed

[2022-08-16 11:46] LysandreJik commented on #982
Sure, this was proposed in https://github.com/huggingface/huggingface_hub/issues/836 but we never got to it. If you'd like to tackle this issue, please go ahead :raised_hands:

[2022-08-16 12:49] Wauplin commented on #496
`repo_type` kwarg added in https://github.com/huggingface/huggingface_hub/pull/801.

[2022-08-16 12:49] #496 closed

[2022-08-16 12:50] Wauplin commented on #218
I'm closing since quite old and seems to be solved.

[2022-08-16 12:51] #218 closed

[2022-08-16 16:11] Wauplin commented on #977
Done in https://github.com/huggingface/huggingface_hub/pull/992.

[2022-08-16 16:11] #977 closed

[2022-08-17 01:50] otvj776 commented on #452
pip uninstall typing_extensions
pip install typing_extensions==4.0.0

[2022-08-17 10:12] Wauplin opened #995 "Harmonize warnings/errors/documentation related to file size limit"
In general, file size limit is not made very clear for the user especially when uploading a file to the hub via HTTP endpoint. Discussion started as part of https://github.com/huggingface/huggingface_hub/pull/847 on whether we should throw an explicit error and provide guidance when a file is too big to be uploaded (see comments https://github.com/huggingface/huggingface_hub/pull/847#discussion_r8

[2022-08-17 10:23] Wauplin opened #996 "HTTP-based `push_to_hub` for fastai integration"
Helper functions `push_to_hub` for keras integration and `ModelHubMixin` mixin now uses an HTTP approach instead of a git-based one. This work as been discussed in https://github.com/huggingface/huggingface_hub/pull/321 and done in https://github.com/huggingface/huggingface_hub/pull/847. The main advantage is that the all repo doesn't have to be cloned locally before uploading the model weights.

[2022-08-17 13:39] Wauplin commented on #995
Ping @julien-c @Pierrci @SBrandeis for moon-landing-related questions.
Ping @nateraw since you showed interest on this matter in previous comments.

[2022-08-17 13:50] Wauplin commented on #591
Closing this one since PR https://github.com/huggingface/huggingface_hub/pull/847 offers a non-git version of `push_to_hub` and is now merged. Should solve this issue as nothing is downloaded before pushing.

[2022-08-17 13:50] #591 closed

[2022-08-17 13:55] Wauplin commented on #90
@osanseviero seen work done in https://github.com/huggingface/huggingface_hub/pull/98 and https://github.com/huggingface/huggingface_hub/pull/170, can I merge ?

And if not, is there anything to do ?

[2022-08-17 13:56] Wauplin commented on #309
Solved in https://github.com/huggingface/huggingface_hub/pull/847 as `push_to_hub` is not leveraging git-based methods anymore.

[2022-08-17 13:56] #309 closed

[2022-08-17 14:08] Wauplin commented on #533
@merveenoyan (cc @osanseviero @nateraw) I'm jumping into the discussion, hope it's not outdated 😬

Since `push_to_hub_keras` is now http-based (https://github.com/huggingface/huggingface_hub/pull/847 is merged) and do not require to download the full repository anymore, calling multiple times `push_to_hub_keras` (once per model) is not so cumbersome anymore, right ? Or would it still be a nice fea

[2022-08-17 14:16] Wauplin commented on #582
Hi @ck37 @Rocketknight1 , is this issue fully solved by the PR mentioned above ? https://github.com/huggingface/transformers/pull/15074
If yes, we can close this issue.

[2022-08-17 17:08] Rocketknight1 commented on #582
I believe so! I'm working on documenting the pitfalls of `model.save()` with functional models, so hopefully we can avoid issues like this in future.

[2022-08-17 17:08] #582 closed

[2022-08-17 19:15] Pierrci commented on #995
To clarify a bit all the different numbers:
- A file must be uploaded through LFS if:
	- It's a binary file and its size is > 1MB
	- It's not a binary file and its size is > 10MB
- 5GB is the threshold after which an LFS file needs to be uploaded through our [multipart custom transfer agent](https://github.com/huggingface/huggingface_hub/blob/17cf79ab497f0b9d01de02536bd9aee4c312f7d5/src/huggingfac

[2022-08-18 05:13] nandwalritik commented on #996
Hi @Wauplin I would like to take this up.

[2022-08-18 07:11] LysandreJik commented on #90
cc @adrinjalali

[2022-08-18 07:58] adrinjalali commented on #90
With the work being done in https://github.com/skops-dev/skops/ and the work being done on the api-inference-community side (e.g.: https://github.com/huggingface/api-inference-community/pull/67, https://github.com/huggingface/api-inference-community/pull/79, https://github.com/huggingface/api-inference-community/pull/83), support for scikit-learn is improving. It's an ongoing work, but a basic sup

[2022-08-18 07:58] #90 closed

[2022-08-18 08:25] lukasfolle opened #997 "[Spaces] Can't install from private git"
### Describe the bug

Hi,

I cannot get installing python packages from private repos to work (tried gitlab and hf).
When using the access tokens, the part where the requirements.txt are installed still fails.

On any remote machine I tried, this works perfectly.
The error is attached below.

To reproduce create a private repo with a setup.py and a folder named "test" (as attached).
Then in your p

[2022-08-18 08:42] Wauplin commented on #997
@lukasfolle Thanks for reporting this. If I understand correctly you want to host your code on a HF Space repo (private) and then install it as a package as you would do from github/gitlab, right ?

Ping @Pierrci @LysandreJik is this a behaviour we should support/we want to support ?

[2022-08-18 08:51] lukasfolle commented on #997
Yes, actually I uploaded the code as a private model and want to use this model in a public Space.
But this model can also be uploaded to e.g. gitlab.

[2022-08-18 08:56] Wauplin commented on #996
Hi @nandwalritik, thanks for offering your support on this !

Do you see more or less what needs to be done ? An example of http-based `push_to_hub` can be found [here](https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/hub_mixin.py#L251). The idea is to still support both git-based and http-based version but deprecate arguments used for the git-based approach (see decora

[2022-08-18 09:03] Wauplin commented on #997
Oh ok, so you want to make a model private but still usable publicly in a Space. Not sure if that's something HF will support. I prefer to let others confirm that and maybe advice you on a workaround.

[2022-08-18 09:20] lukasfolle commented on #997
Exactly, the model weights can actually already be loaded from a private model:
[code]
Installing private repos is possible, but seems to be broken currently.

[2022-08-18 09:52] #982 closed

[2022-08-18 09:53] Wauplin commented on #836
Closed by https://github.com/huggingface/huggingface_hub/pull/994.

[2022-08-18 09:53] #836 closed

[2022-08-18 15:47] osanseviero commented on #997
If this is for a Space, you could do something like

[code]

And you can add the environment variable as a secret in the Settings tab as documented [here](https://huggingface.co/docs/hub/spaces-overview#managing-secrets). There is no need to have it in the requirements file.

[2022-08-18 15:49] osanseviero commented on #996
cc @omarespejel on this since afaik he was planning to work on this as he implemented the mixin. (it's totally fine if @nandwalritik wants to take this one, I'm just making sure work is not duplicated)

[2022-08-18 16:41] lukasfolle commented on #997
Yes that works, but I would like to install a package from a private git repo.

[2022-08-19 11:18] osanseviero commented on #997
I don't think this use case is supported. If I understand correctly, you have a model repository which is also a Python package? And you want to do `pip install` from it, which works unless the repository is private. In this case, I would suggest to do a git clone + pip install from the clone.

[2022-08-19 13:02] Wauplin opened #1002 "AttributeError: 'ModelInfo' object has no attribute 'securityStatus'"
### Describe the bug

Occasionally, a test fails in CI with the error `AttributeError: 'ModelInfo' object has no attribute 'securityStatus'`.
It also happened to me once on my local machine and I was able debug it a bit more. The error came from the fact that the model info was returned by the server without a `securityStatus` field, even though `securityStatus` is set to True in the test (see log

[2022-08-19 13:24] lukasfolle commented on #997
Thank you for your help @osanseviero & @Wauplin!
How would I clone a git repository inside spaces? I couldn't find anything in the docs.

[2022-08-19 13:43] #897 closed

[2022-08-19 13:51] osanseviero commented on #997
If you're doing it in runtime, although it would be slower, you can do `subprocess.run` to run `git clone` + `cd` + `pip install .`

[2022-08-19 13:52] lukasfolle commented on #997
Perfect, thank you!

[2022-08-19 13:52] #997 closed

[2022-08-22 12:58] Wauplin commented on #989
Hi @NielsRogge, sorry for not getting back to you before on this issue. I am not exactly sure to understand if the problem is that `RepositoryNotFoundError` is a Client error 401 or that the messages are not clear, or both.

1. Would a traceback like this be preferable to you in example 1 ?

[code]

2. In the case of `upload_file` (or `upload_folder`) to a non-existant repository, would you sugges

[2022-08-22 13:37] Wauplin commented on #1002
I isolated the issue and reported it to [moon-landing](https://github.com/huggingface/moon-landing/issues/3695) (private link). Doesn't seem to be related to `huggingface_hub` itself. For the time being, let's just ignore the failing test :/

[2022-08-23 06:38] philschmid opened #1004 "Add Progress bar to `snapshot_download` to see the progress for the whole "download""
**Is your feature request related to a problem? Please describe.**
As a User, i would like to see the progress of downloading a repository from the hugging face hub using `snapshot_download`. To understand how long it takes to download my repository and at what state/progress I am. This is especially beneficial for loading large models and sharded models.

- @stas00

**Describe the solution you'd

[2022-08-23 06:47] LysandreJik commented on #1002
In that situation, we can likely just skip the failing test so that we still have green ticks on new PRs until the issue is resolved and keep this issue open to track it; imo this is especially important to continue having (alarming) red ticks otherwise, so that we pay attention to what might be failing rather than trusting it's the test that always fails.

WDYT @Wauplin?

[2022-08-23 07:07] Wauplin commented on #1002
Makes total sense @LysandreJik ! I'll take care of it :)

My "let's just ignore the failing test :/" seems so lazy now that I read it again 😁

[2022-08-23 07:23] NielsRogge commented on #989
For 1, yes, the error message is much clearer.

For 2, I'd just create a longer error message. Can't we add both "repo should exist on the hub" and "repo type should be set" etc.? The more informative the message, the better.

[2022-08-23 07:52] Wauplin commented on #1002
@LysandreJik I just created the PR to skip the test.

Not related to the bug but mentioned in my first comment, do you have an opinion about setting `securityStatus` as a permanent attribute of `ModelInfo` ? In any case, if I change that it will be later in a separate PR.

[2022-08-23 07:58] LysandreJik commented on #1002
Adding it with a default value of `None` sounds good to me. There was a discussion about it [here](https://github.com/huggingface/huggingface_hub/pull/951#discussion_r926460408) which seems to echo what you're proposing, so all good for me.

[2022-08-23 12:48] cakiki opened #1007 "Not specifiying "repo_type" throws RepositoryNotFound error."
### Describe the bug

Using functions or HfApi methods with `repo_type` and not setting it throws the following confusing error:

[code]
Setting `repo_type="dataset"` fixes this.

### Reproduction

_No response_

### Logs

_No response_

### System Info

[code]

[2022-08-23 13:06] cakiki commented on #1007
Sorry about the duplicate and thank you for the links!

[2022-08-23 13:06] #1007 closed

[2022-08-23 13:12] cakiki commented on #989
I've had this same issue with other functions/ `HfApi` methods that have the `repo_type` not set to `dataset`.

[2022-08-23 13:13] cakiki commented on #989
I've had this same issue with other functions/ `HfApi` methods that have the `repo_type` not set to `dataset`.

[2022-08-23 13:16] Wauplin commented on #1007
No worries, thanks for reporting anyway :)

[2022-08-23 13:29] Wauplin opened #1008 "Should throw an error if `repo_id` is not valid"
Related to https://github.com/huggingface/transformers/issues/18691.

Currently if `repo_id` value is set to a wrong value, there is no validation before calling cache/the hub. Typically, if the value is a path `"./resources/ltp"` (by mistake from the user) in `hf_hub_download`, then it will raise a `FileNotFoundError`:

[code]

It would be good to have a helper to validate a `repo_id` and raise a

[2022-08-23 13:30] Wauplin commented on #1008
**EDIT:** I just tried to create a repo on the hub with a weird value and got this warning. Those rules can be easily hardcoded in `huggingface_hub` but I am not 100% sure it's a good idea in case rules change on the Hub and previous versions of `huggingface_hub` cannot download them. IMO checking the subset `"only regular characters and '-', '_', '.'"` and `"'--' and '..' are forbidden"` is enoug

[2022-08-23 13:34] Wauplin commented on #1008
Hmm thinking twice about it, do we want to validate repo_ids in the form `datasets/user/repo_name` ?

It is not a valid `repo_id` in our definition, but I remember that I read in a thread that someone was using this trick to avoid passing `repo_type="dataset"`. It is not an officially supported use case but not supporting it anymore would break some notebooks/scripts somewhere.

[2022-08-23 17:18] julien-c commented on #995
Also yes from me for 3. (inside `hub-docs` probably?)

For 4. i think it's on the downstream libraries to do it, because they have more context to do it in a better way. For instance `transformers` has utilities to split super large checkpoint files into multiple files but each file is a valid weight file (containing certain layers for instance)

cc @LysandreJik @sgugger too

[2022-08-23 17:29] julien-c commented on #1008
no strong opinion on whether we want to support this form `datasets/user/repo_name` or not (I'd be tempted to say no, to not have too many ≠ ways of doing things)

[2022-08-23 17:39] Wauplin commented on #1008
Just realized I didn't give my opinion. I would definitely avoid `datasets/user/repo_name` if possible because not documented but also we don't know which parts of the `huggingface_hub` handles it correctly and which ones don't.

We just need to be aware that will break some code elsewhere and we can hardly identify where beforehand.